{% extends "base_2col.html" %}

{% block title %}Impressum{% endblock %}
{% block sectionid %}impressum{% endblock %}
{% block billboard %}IMPRESSUM{% endblock %}

{% block content-related %}
<p>
To browse the currently listed software projects or to submit your own, 
click on the <a href="http://mloss.org/software/">Software</a> tab. 
You will need to register to be able to submit new projects. 
To discuss issue regarding machine learning open source software, 
click on the <a href="http://mloss.org/community/forum/">Forum</a> tab for our forum.</p>
{% endblock %}

{% block content %}

<p>
Below is the information required by law about <a href="http://mldata.org">mldata.org</a> as well as important legal points.
</p>

<h1>Host</h1>
<p>The host of this Internet web site is the Fraunhofer Gesellschaft zur Förderung der angewandten Forschung e.V. to be rendered in English as the "Fraunhofer Society for applied Science".</p>

<h1>Address:</h1>
<p>

Fraunhofer-Gesellschaft
zur Förderung der angewandten Forschung e.V.
Hansastraße 27 c
80686 München
Telefon: +49 (0) 89 / 12 05- 0
Fax: +49 (0) 89 / 12 05-75 31
</p>

<h1>Register of societies</h1>
<p>The Fraunhofer Society is registered in the register of societies at the district council in 
Munich. The registration number is VR 4461.</p>

<h1>Representatives</h1>
<p>
The Fraunhofer Society is officially represented by its Board of Directors, Prof. Dr. Hans-Jörg Bullinger, Prof. Dr. Ulrich Buller and Dr. Alfred Gossner.
</p>


<h1>Value added tax identification number</h1>

<p>The value added tax identification number of the Fraunhofer Society is DE 129515865.</p>

<h1>Editors</h1>
<p>
The editors responsible for the content of <a href="http://mldata.org">mldata.org</a></p>

<table>
<tr><td>
   Soeren Sonnenburg<br>
   Fraunhofer Institute FIRST<br>

   Kekulestr. 7<br>
   12489 Berlin<br>
   Germany<br>
   email: soeren.sonnenburg att first.fraunhofer.de<br>
</td></tr>
</table>

</p>

<h1>Legal Structure</h1>
<p>
The Fraunhofer Society is a non-profit research organisation, which is organised as a registered society. All of the institutes und facilities of the Fraunhofer Society are relatively autonomous as far as organisation and research are concerned, but the institutions and facilities have no legal capacity of their own.</p>

<h1>Disclaimer</h1>
<p>
The Fraunhofer Society makes every effort to provide timely and accurate information. Nevertheless, mistakes and confusions may occur. The Fraunhofer Society does not assume liability for relevance, accuracy and completeness of the information provided. The Fraunhofer Society is only liable for material or immaterial damages if it can be proved that the Fraunhofer Society caused damage deliberately or through gross negligence. The damages include those which arise from the use or misuse of the information provided or direct or indirect damages which arise through the use of faulty or incomplete information. The same goes for the software available free of charge which can be used for downloading. The Fraunhofer Society reserves the right to change, supplement, or delete some or all of the information on its Internet web site without notice. Similarly, the Society also reserves the right to temporarily or permanently discontinue the Internet web site.
</p>

<p>
Individuals or organisations providing information on the internet are only responsible for illegal and punishable contents derived from other sources which are accessed by direct or indirect connections, e.g. links, if the individuals and organisations are aware of the nature of these contents on these web sites. Contents derived from other sources are noted appropriately. The Fraunhofer Society has no influence whatsoever on contents derived from other sources and does not promote them. The Fraunhofer Society has no knowledge of illegal or offensive contents contained in the linked web sites from other information providers. If there are illegal and offensive contents on the web sites of other information providers, the Fraunhofer Society distances itself from these contents.
</p>


{% endblock %}
