{% extends "base_2col.html" %}

{% block title %}Terms of Service{% endblock %}
{% block sectionid %}tos{% endblock %}
{% block billboard %}TOS{% endblock %}

{% block content-related %}
{% endblock %}

{% block content %}

<h2>Terms of Service</h2>
<ol>
<li> <h3>ACCEPTANCE OF TERMS</h3>

Before using mldata.org, please carefully read this agreement. By using
mldata.org, you agree to be bound by these terms and conditions. If you do not
agree to these terms and conditions, please do not use mldata.org

mldata.org reserves the right, at mldata.org's sole discretion, to change,
modify, add or remove portions of these Terms periodically. Such modifications
shall be effective immediately upon posting of the modified agreement to the
website unless provided otherwise (e.g., when implementing major, substantive
changes, mldata.org intends to provide users with up to fourteen days of
advance notice). Your continued use of mldata.org following the posting of
changes to these Terms will mean that you accept those changes.

Use of mldata.org constitutes full acceptance of and agreement to the Terms; if
a user does not accept mldata.org's Terms, he or she is not granted rights to
use mldata.org as defined herein, and should refrain from accessing mldata.org.

mldata.org reserves the right at any time and from time to time to modify or
discontinue, temporarily or permanently, any or all mldata.org (or any part
thereof). mldata.org shall not be liable to any user or other third party for
any such modification, suspension or discontinuance except as expressly
provided herein.
</li>

<li><h3>NO UNLAWFUL OR PROHIBITED USE</h3>

By using mldata.org, you warrant to mldata.org that you will not use mldata.org,
or any of the content obtained from mldata.org, for any purpose that is
unlawful or prohibited by these Terms. If you violate any of these Terms, your
permission to use the mldata.org automatically terminates.
</li>

<li><h3>DESCRIPTION OF SERVICES</h3>

The mldata.org are owned and operated by mldata.org for the purpose of software
development, discussion, implementation and innovation (the "Purpose"). The
mldata.org provide technology news, tools, products and education for the IT
and developer community.
</li>

<li><h3>REGISTRATION OBLIGATIONS</h3>

When requested, each mldata.org Site user must: (1) personally provide true,
accurate, current and complete information on the mldata.org Site's
registration form (collectively, the "Registration Data") and (2) maintain and
promptly update the Registration Data as necessary to keep it true, accurate,
current and complete. If, after investigation, mldata.org has reasonable
grounds to suspect that any user's information is untrue, inaccurate, not
current or incomplete, mldata.org may suspend or terminate that user's account
and prohibit any and all current or future use of the mldata.org (or any
portion thereof) by that user other than as expressly provided herein.

Each user will receive passwords and account designations upon completing
certain mldata.org Site registration processes and is wholly responsible for
maintaining the confidentiality thereof and wholly liable for all activities
occurring thereunder. mldata.org cannot and will not be liable for any loss or
damage arising from a user's failure to comply with this Section 4, including
any loss or damage arising from any user's failure to: (1) immediately notify
mldata.org of any unauthorized use of his or her password or account or any
other breach of security; and (2) ensure that he or she exits from his or her
account at the end of each session.

mldata.org handles user Registration Data in accordance with the mldata.org'
Privacy Policy .
</li>

<li><h3>CONTENT</h3>

All information, data, text, software, music, sound, photographs, graphics,
video, messages, or any other materials whatsoever (collectively, "Content"),
whether publicly posted or privately transmitted, is the sole responsibility
of the person from whom such Content originated. This means that the user, and
not mldata.org, is entirely responsible for all Content that he or she uploads,
posts, emails or otherwise transmits via the mldata.org. No user shall transmit
Content or otherwise conduct or participate in any activities on mldata.org
that, in the judgment of mldata.org, is likely to be prohibited by law in any
applicable jurisdiction, including laws governing the encryption of software,
the export of technology, the transmission of obscenity, or the permissible
uses of intellectual property.

mldata.org reserves the right to refuse or delete any Content of which it
becomes aware and reasonably deems not to fulfill the Purpose. In addition,
mldata.org shall have the right (but not the obligation) in its sole discretion
to refuse or delete any Content that it reasonably considers to violate the
Terms or be otherwise illegal. mldata.org, in its sole and absolute discretion,
may preserve Content and may also disclose Content if required to do so by law
or judicial or governmental mandate or as reasonably determined useful by
mldata.org to protect the rights, property, or personal safety of mldata.org'
users and the public. mldata.org does not control the Content posted to the
mldata.org and, as such, does not guarantee the accuracy, integrity or quality
of such Content. Under no circumstances will mldata.org be liable in any way
for any Content, including, but not limited to, liability for any errors or
omissions in any Content or for any loss or damage of any kind incurred as a
result of the use of any Content posted, emailed or otherwise transmitted via
mldata.org.

Each user, by using mldata.org, may be exposed to Content that is offensive,
indecent or objectionable. Each user must evaluate, and bear all risks
associated with the use of any Content, including any reliance on the
accuracy, completeness, or usefulness of such Content.
</li>

<li><h3>LICENSING AND OTHER TERMS APPLYING TO CONTENT POSTED ON THE MLOSS.ORG
SITE:</h3>

Use, reproduction, modification, and other intellectual property rights to
data stored on the mldata.org will be subject to licensing arrangements that
may be approved by mldata.org as applicable to such Content. For the mldata.org
site, use, reproduction, modification, and other intellectual property rights
to data stored in CVS or as a file release and posted by any user on mldata.org
("Source Code") shall be subject to the OSI-approved license applicable to
such Source Code, or to such other licensing arrangements as may be approved
by mldata.org as applicable to such Source Code.

With respect to text or data entered into and stored by publicly-accessible
site features such as forums, comments and bug trackers ("mldata.org Public
Content"), the submitting user retains ownership of such mldata.org Public
Content; with respect to publicly-available statistical content which is
generated by the site to monitor and display content activity, such content is
owned by mldata.org. In each such case, the submitting user grants mldata.org
the royalty-free, perpetual, irrevocable, non-exclusive, transferable license
to use, reproduce, modify, adapt, publish, translate, create derivative works
from, distribute, perform, and display such Content (in whole or part)
worldwide and/or to incorporate it in other works in any form, media, or
technology now known or later developed, all subject to the terms of any
applicable license.

With respect to Content posted to private areas of the mldata.org Site (e.g.,
private development tools or mail), the submitting user may grant to mldata.org
or other mldata.org users such rights and licenses as the submitting mldata.org
user deems appropriate.

Content located on any mldata.org-hosted subdomain which is subject to the sole
editorial control of the owner or licensee of such subdomain, shall be subject
to the appropriate license applicable to such Content, or to such other
licensing arrangements as may be approved by mldata.org as applicable to such
Content.
</li>

<li><h3>NO RESALE OF SERVICE</h3>

You agree not to sell, resell, or offer for any commercial purposes, any
portion of the mldata.org, use of the mldata.org, or access to the mldata.org.
</li>

<li><h3>GENERAL PRACTICES REGARDING USE AND STORAGE</h3>

mldata.org may establish general practices and limits concerning use of the
mldata.org. While mldata.org will use reasonable efforts to back up site data
and make such data available in the event of loss or deletion, mldata.org has
no responsibility or liability for the deletion or failure to store any
messages and other communications or other Content maintained or transmitted
by any mldata.org Site. mldata.org reserves the right to mark as "inactive" and
archive accounts and/or Content that are inactive for an extended period of
time. mldata.org reserves the right to change these general practices at any
time, in its sole discretion, with notice to users and the public as described
in Section 1 above.

<li><h3>TERMINATION</h3>

mldata.org may terminate a user's account in mldata.org's absolute discretion
and for any reason. mldata.org is especially likely to terminate for reasons
that include, but are not limited to, the following: (1) violation of these
Terms; (2) abuse of site resources or attempt to gain unauthorized entry to
the site or site resources; (3) use of an mldata.org Site in a manner
inconsistent with the Purpose; (4) a user's request for such termination; or
(4) as required by law, regulation, court or governing agency order.

mldata.org's termination of any user's access to any or all mldata.org may be
effected without notice and, on such termination, mldata.org may immediately
deactivate or delete user's account and/or bar any further access to such
files. mldata.org shall not be liable to any user or other third party for any
termination of that user's access or account hereunder. In addition, a user's
request for termination will result in deactivation but not necessarily
deletion of the account. mldata.org reserves the right to delete, or not
delete, a user's account at mldata.org's sole discretion, as well as to delete,
or not delete, content at mldata.org's sole discretion.
</li>

<li><h3>LINKS</h3>

mldata.org, any mldata.org Site or a third party may provide links to other
websites. .org exercises no control whatsoever over such other websites
and web-based resources and is not responsible or liable for the availability
thereof or the Content, advertising, products or other materials thereon.
mldata.org shall not be responsible or liable, directly or indirectly, for any
damage or loss incurred or suffered by any user in connection therewith. Your
access and use of linked websites, including information, material, products
and services therein, is solely at your own risk.

The mldata.org' Privacy Statement is applicable only when you are on an
mldata.org Site. Once you choose to link to another website, you should read
that website's privacy statement before disclosing any personal information.
</li>

<li><h3>INDEMNITY; DISCLAIMER; LIMITATIONS OF LIABILITY</h3>

Each user shall indemnify, defend and hold harmless mldata.org, and its parent
corporation and affiliates and their respective officers, employees and
agents, and each of mldata.org's website partners, from any and all claims,
demands, damages, costs, and liabilities including reasonable attorneys' fees,
made by any third party due to or arising out of that user's acts or
omissions, including claims arising out of that user's use of the mldata.org;
his or her submission, posting or transmission of Content or his or her
violation of the Terms.

EACH USER'S USE OF THE MLOSS.ORG SITES IS AT HIS OR HER SOLE RISK. THE
MLOSS.ORG SITES ARE PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS AND
MLOSS.ORG ASSUMES NO RESPONSIBILITY FOR THE TIMELINESS, DELETION, MIS-DELIVERY
OR FAILURE TO STORE ANY USER COMMUNICATIONS OR PERSONALIZATION SETTINGS. EACH
USER WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO HIS OR HER COMPUTER SYSTEM
OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY SUCH MATERIAL. MLOSS.ORG
EXPRESSLY DISCLAIMS ALL WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED,
INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. SPECIFICALLY, MLOSS.ORG
MAKES NO WARRANTY THAT (i) THE MLOSS.ORG SITES OR ANY SERVICE THEREON WILL
MEET YOUR REQUIREMENTS, (ii) ANY USER ACCESS WILL BE UNINTERRUPTED, TIMELY,
SECURE OR ERROR-FREE, (iii) THE QUALITY OF ANY CONTENT, PRODUCTS, SERVICES,
INFORMATION OR OTHER MATERIAL OBTAINED BY ANY USER WILL MEET HIS OR HER
EXPECTATIONS, AND (iv) ANY ERRORS IN THE SOFTWARE WILL BE CORRECTED. EXCLUDING
ONLY DAMAGES ARISING OUT OF MLOSS.ORG'S GROSS NEGLIGENCE OR WILLFUL
MISCONDUCT, MLOSS.ORG SHALL NOT BE LIABLE FOR ANY DIRECT, INDIRECT,
INCIDENTAL, SPECIAL, CONSEQUENTIAL OR EXEMPLARY DAMAGES, INCLUDING BUT NOT
LIMITED TO DAMAGES FOR LOSS OF PROFITS, GOODWILL, USE, DATA OR OTHER
INTANGIBLE LOSSES (EVEN IF MLOSS.ORG HAS BEEN ADVISED OF THE POSSIBILITY OF
SUCH DAMAGES), RESULTING FROM ANY USER'S USE OR INABILITY TO USE ANY MLOSS.ORG
SITES OR SERVICES THEREON; THE COST OF PROCUREMENT OF SUBSTITUTE SERVICES;
UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA; STATEMENTS
OR CONDUCT OF ANY THIRD PARTY ON THE MLOSS.ORG SITES; OR ANY OTHER MATTER
RELATING TO THE MLOSS.ORG SITES. IN NO EVENT SHALL MLOSS.ORG'S TOTAL
CUMULATIVE LIABILITY TO ANY USER OR OTHER PARTY UNDER THESE TERMS OF SERVICE
OR OTHERWISE EXCEED $1,000.00. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION
OF CERTAIN WARRANTIES OR THE LIMITATION OR EXCLUSION OF LIABILITY FOR
INCIDENTAL OR CONSEQUENTIAL DAMAGES. ACCORDINGLY, SOME OF THE ABOVE
LIMITATIONS MAY NOT APPLY TO YOU. NOTHING HEREIN SHALL BE DEEMED TO CREATE AN
AGENCY, PARTNERSHIP, JOINT VENTURE, EMPLOYEE-EMPLOYER OR FRANCHISOR-FRANCHISEE
RELATIONSHIP OF ANY KIND BETWEEN MLOSS.ORG AND ANY USER OR OTHER PERSON OR
ENTITY NOR DO THESE TERMS OF SERVICE EXTEND RIGHTS TO ANY THIRD PARTY. AS
NOTED ABOVE, MLOSS.ORG DOES NOT AND CANNOT CONTROL THE ACTIONS OF MLOSS.ORG
SITE USERS, VISITORS OR LINKED THIRD PARTIES. WE RESERVE THE RIGHT TO REPORT
ANY MALFEASANCE THAT COMES TO OUR ATTENTION TO THE APPROPRIATE AUTHORITIES. WE
DO NOT GUARANTEE CONTINUOUS UNINTERRUPTED OR SECURE ACCESS TO MLOSS.ORG SITES.
OPERATION OF MLOSS.ORG SITES MAY BE SUBJECT TO INTERFERENCE FROM NUMEROUS
FACTORS OUTSIDE OUR CONTROL. FURTHER, SCHEDULED AND PREVENTIVE MAINTENANCE AS
WELL AS REQUIRED AND EMERGENCY MAINTENANCE WORK MAY TEMPORARILY INTERRUPT
SERVICES OR ACCESS TO THE WEBSITE. THE DISCLAIMERS OF WARRANTY AND LIMITATIONS
OF LIABILITY APPLY, WITHOUT LIMITATION, TO ANY DAMAGES OR INJURY CAUSED BY THE
FAILURE OF PERFORMANCE, ERROR, OMISSION, INTERRUPTION, DELETION, DEFECT, DELAY
IN OPERATION OR TRANSMISSION, COMPUTER VIRUS, COMMUNICATION LINE FAILURE,
THEFT OR DESTRUCTION OR UNAUTHORIZED ACCESS TO, ALTERATION OF OR USE OF ANY
ASSET, WHETHER ARISING OUT OF BREACH OF CONTRACT, TORTIOUS BEHAVIOUR,
NEGLIGENCE OR ANY OTHER COURSE OF ACTION BY MLOSS.ORG.
</li>

<li><h3>TRADEMARK INFORMATION</h3>

All names and designs may be trademarks of their respective owners.
</li>

<li><h3>COPYRIGHTS</h3>

mldata.org respects the intellectual property rights of others, and requires
that the people who use the mldata.org do the same. It is our policy to respond
promptly to claims of intellectual property misuse.

If you believe that your work has been copied and is accessible on this site
in a way that constitutes copyright infringement, you may notify us by
providing our copyright agent with the following information in writing:

(1) the electronic or physical signature of the owner of the copyright or the
person authorized to act on the owner's behalf;

(2) identification of the copyrighted work that you claim has been infringed;

(3) identification of the material that is claimed to be infringing and
information reasonably sufficient to permit mldata.org to locate the material,
including the full URL.

(4) your name, address, telephone number, and email address.

(5) a statement by you that you have a good faith belief that the disputed use
is not authorized by the copyright owner, its agent, or the law;

(6) a statement, made under penalty of perjury, that the above information in
your notice is accurate and that you are the copyright owner or are authorized
to act on the copyright owner's behalf.

If mldata.org receives such a claim, mldata.org reserves the right to refuse or
delete Content as described under Section 5 hereto, or to terminate a user's
account in accordance with Section 9.

The designated contact address to receive notification of claimed infringement
is admin@mldata.org.

After receiving a claim of infringement, mldata.org will process and
investigate notices of alleged infringement and will take appropriate actions
under the applicable intellectual property laws. mldata.org reserves the right
to act expeditiously to remove or disable access to any material claimed to be
infringing or claimed to be the subject of infringing activity, and will act
expeditiously to remove or disable access to any reference or link to material
or activity that is claimed to be infringing. mldata.org will take reasonable
steps to expeditiously notify the subscriber that it has removed or disabled
access to such material.

You may provide us with a counter notification by providing our copyright
agent the following information in writing:

(1) your physical or electronic signature;

(2) identification of the material that has been removed or to which access
has been disabled, and the location at which the material appeared before it
was removed or access to it was disabled, including the full URL;

(3) a statement under penalty of perjury that you have a good faith belief
that the material was removed or disabled as a result of mistake or
misidentification of the material to be removed or disabled;

(4) your name, address, and telephone number, and a statement that you consent
to the jurisdiction of Federal District Court for the judicial district in
which your address is located, or if your address is outside of the United
States, for any judicial district in which mldata.org may be found and that you
will accept service of process from the person who provided the initial
notification of infringement.
</li>

<li><h3>GENERAL INFORMATION</h3>

The Terms constitute the entire agreement between each user and mldata.org and
govern each user's use of mldata.org, superseding any prior agreements. Each
user may be subject to additional terms and conditions that may apply when
that user uses affiliate services, third party content or third party
software. The Terms and the relationship between each user and mldata.org shall
be governed by the laws of Berlin, Germany without regard to its conflict of
law provisions and each party shall submit to the personal and exclusive
jurisdiction of the courts located within Berlin, Germany.. If any provision
of the Terms is found by a court of competent jurisdiction to be invalid, the
parties nevertheless agree that the court should endeavor to give effect to
the parties' intentions as reflected in the provision, and the other
provisions of the Terms remain in full force and effect.
</li>

<li><h3>VIOLATIONS</h3>

Please report any violations of the Terms (except for claims of intellectual
property infringement) to the mldata.org Site Director at admin@mldata.org

{% endblock %}
