/* ----------------------------------------------------------------------------------------------------------

    Output device: screen, projection

    Author:     Nuvio (www.nuvio.cz)
    Update:     2008-08-17, 13:17 GMT+1
    Version:    2.2.6 (2008-07-13, 14:28 GMT+1)

    Structure:
        display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;

    Content:
    
        1) HTML tags
        2) HTML styles
        3) Layout
        4-1) Page: Homepage
        5) Others

---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {padding:5px 0; background:url("../images/bg.gif") 0 0 repeat-x; font:0.75em/1.5 "arial", sans-serif;}

h1, h2, h3, h4, h5, h6, p, address, blockquote, table, dl, fieldset {margin:15px 0;}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */


/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

#main {width:940px; padding:5px; margin:0 auto; overflow:hidden;}

    #header {position:relative; height:100px; padding:0 0 0 35px; background:url("../images/header.gif") 0 0 no-repeat; overflow:hidden;}
    #header #logo {margin:0;}
    
		#slogan {position:absolute; top:30px; right:0; width:275px; padding:10px 10px 10px 15px; background:url("../images/pattern.gif");}
    
    #nav {position:relative; padding:0 20px; background:url("../images/nav.gif") 0 0 repeat-x;}
    #nav ul {margin:0; list-style:none; padding-left:0;}
    #nav ul li {display:inline;}
    #nav ul li a {display:block; float:left; padding:9px 15px; background:url("../images/nav-separator.gif") 100% 0 repeat-y; text-decoration:none;}
    #nav a:hover {text-decoration:underline;}
    #nav ul li.active, #nav ul li.active a {font-weight:bold;}
    #nav #feeds {position:absolute; top:9px; right:25px; margin:0;}
    #nav #feeds a:hover {text-decoration:none;}

    #cols {margin-bottom:10px; background:url("../images/cols.gif") 0 0 no-repeat;}
    #cols-in {min-height:430px; padding:5px 20px; background:url("../images/cols-in.gif") 0 100% no-repeat;}
    
        #content {float:left; width:600px; background:#FFF;}
        #aside {float:right; width:280px;}
           #tagcloud {min-height:200px;}
        #content .in, #aside .in {padding:5px 15px;}

    #footer {padding:15px 15px 5px 15px;}
    #footer p {margin:0;}
    
        #ico-print {padding-left:12px; background:url("../images/ico-print.gif") 0 50% no-repeat;}
        #ico-sitemap {margin-left:10px; padding-left:10px; background:url("../images/ico-sitemap.gif") 0 50% no-repeat;}

        .ico-rss {padding-left:18px; background:url("../images/ico-rss.gif") 0 50% no-repeat;}

    #copy {margin:15px auto 0 auto; width:910px; font-size:90%;}

/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#breadcrumbs {margin:0; font-size:90%;}
#breadcrumbs a:hover {text-decoration:none;}
#breadcrumbs span {margin:0 3px;}

#topstory-img {float:left; width:200px;}
#topstory-img img {display:block;}
#topstory-txt {float:right; width:355px;}
#topstory-txt h3 {margin:0; font-size:140%; font-weight:normal;}
#topstory-txt #topstory-info {margin:0; font-size:90%;}
#topstory-txt .comment {padding-left:12px; background:url("../images/ico-comment.gif") 0 2px no-repeat;}

.cols5050 {clear:both; background:url("../images/dot-01.gif") 0 100% repeat-x;}
.cols5050 .col {float:left; width:275px;}
.cols5050 .col .article {clear:both; margin-bottom:15px;}
.cols5050 .col .article-img {float:left; width:85px;}
.cols5050 .col .article-img img {display:block;}
.cols5050 .col .article-txt {float:right; width:175px;}
.cols5050 .col .article-txt h4 {margin:0; margin-bottom:7px; font-size:110%;}
.cols5050 .col .article-txt p {margin:0; font-size:90%;}

#subnav {margin:0; list-style:none;}
#subnav li {display:inline;}
#subnav li a {display:block; padding:4px 10px 4px 25px; background:url("../images/subnav.gif") 10px 50% no-repeat;}
#subnav li a:hover {text-decoration:none;}
#subnav li.last a {border:0;}

ul {margin-bottom:3px; padding-left:15px; }
ol {margin-bottom:3px; padding-left:15px; }
dl dd {margin-bottom:5px; }

dl#news {margin:0; background:url("../images/dot-02.gif") 3px 0 repeat-y;}
dl#news dt {margin-bottom:3px; padding-left:15px; background:url("../images/news-dt.gif") 0 50% no-repeat; font-weight:bold;}
dl#news dd {margin:0; margin-bottom:10px; padding-left:15px;}
dl#news a:hover {text-decoration:none;}


#gallery-in {padding:15px; background:url("../images/gallery.gif") 0 0 repeat-x;}
#gallery .separator {width:910px; height:2px; margin:10px 0; background:url("../images/separator.gif") 0 0 repeat-x; font-size:0; line-height:0; overflow:hidden;}
#gallery img {margin-right:18px;}
#gallery a.last img {margin:0;}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */

.title-01 {margin:0; padding:15px 15px 15px 45px; background:url("../images/square-01.gif") 15px 50% no-repeat; font-size:150%; font-weight:normal;}
.title-02 {background:url("../images/dot-01.gif") 0 60% repeat-x; font-size:100%;}
.title-02 span {padding-right:5px;}
.title-03 {margin:0; padding:13px 10px 13px 15px; background:url("../images/square-02.gif") 245px 50% no-repeat; font-size:100%; font-weight:bold;}
.title-03.gallery {background:url("../images/square-02.gif") 903px 50% no-repeat;}
.title-04 {margin:0 5px; padding:13px 30px 13px 15px; background:url("../images/title-04.gif") 0 0  repeat-x; font-size:100%; font-weight:bold;}

.more {padding-right:14px; background:url("../images/more.gif") 100% 5px no-repeat;}
a:hover.more {text-decoration:none;}



td {border-width:1px; border-style: solid; margin:0; padding:4px;}

/* tabs */
.ui-tabs .ui-tabs-nav {border-bottom:1px solid #0081c7; margin:10px 0; width:100%; padding:0;}
.ui-tabs .ui-tabs-nav li {border:1px solid #0081c7; float:left;
list-style:none; margin:0 2px -1px; width:auto; -moz-border-radius-topleft:10px; -webkit-border-top-left-radius:10px; -moz-border-radius-topright:10px; -webkit-border-top-right-radius:10px; border-top-left-radius:10px; border-top-right-radius:10px; background-color:#eeeeee;}
.ui-tabs .ui-tabs-nav li a {float:left; text-decoration:none; padding:3px 5px; margin:3px;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected {background-color:#fff; border-color:#0081c7;border-bottom-color:#fff;}
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {background-color:#fff; color:#000;}
.ui-tabs .ui-tabs-panel {background:#fff;}
.ui-tabs .ui-tabs-hide {display: none !important;}

/* don't understand, but seems to be necessary for tabs to work properly */
.clearfix:after {clear:both; content:'.'; display:block; visibility:hidden; height:0;}
.clearfix {display:inline-block;}
* html .clearfix {height:1%;}
.clearfix {display:block;}



/* rating */
#rating-hide {visibility: hidden; position:absolute; background:#FFF; z-index:42; border: 3px solid #0081C7;}
#rating-hide-title {width:100%; background:#0081C7; font-size:large; color:#FFF;}
#rating-hide-head {text-align:left; width:90%; background:#0081C7;}
#rating-hide-close {text-align:right; width:10%; background:#0081C7;}
#rating-hide-close a {text-decoration:none; color:#FFF;}
#rating-hide-close a:hover {text-decoration:blink;}
#rating-hide-results {margin:.5em; padding:0; padding-top:.5em; text-align:left;}
#rating-hide-results div {margin:0; padding:0; text-align:left; vertical-align:top;}
#rating-hide-results img {vertical-align:top;}
#rating-hide-form {margin:.5em; margin-top:1em;}
#rating-hide-form ul {padding:0; margin:0; list-style-type:none;}
#rating-hide-form li {display:inline; font-size:small;}

/* other item styles */
#info { padding:0; margin:0; font-weight: bold; width:75%; float:left; text-align:left; vertical-align:bottom;}
#actions { padding:0; margin:0; font-weight: bold; width:25%; float:right; text-align:right; vertical-align:bottom;}
.fullwidth {width:100%; height:100%;}

ul.index_list {list-style:none;margin:0;margin-top:1em; padding:0;}
ul.index_list li {margin-bottom: 1em; padding:0.5em; border:1px solid #000000;}
