/* ----------------------------------------------------------------------------------------------------------

    Output device: screen, projection

    Author:     Nuvio (www.nuvio.cz)
    Update:     2008-08-17, 13:17 GMT+1
    Version:    2.2.6 (2008-07-13, 14:28 GMT+1)

    Structure:
        display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;

    Content:

        1) HTML tags
        2) HTML styles
        3) Layout
        4-1) Page: Homepage
        5) Others

---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {background-color:#dfdfdf; color:#3f3f3f;}

a {color:#0081C7;}
a:hover {color:#000;}

blockquote {font-style:italic;}
code {font-family:"Courier";}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

#main {background:#FFF;}

    #header {background-color:#0081C7;}
    
        #slogan {color:#FFF;font-size:medium;}
    
    #nav {border-top:1px solid #FFF; border-bottom:1px solid #FFF; background:#EFEFEF;}
    #nav a {color:#3f3f3f;}
    #nav ul li.active, #nav ul li.active a {color:#0081C7;}

    #footer, #footer a {color:#5F5F5F;}
    #footer a:hover {color:#3f3f3f;}
    
        .ico-rss {color:#3F3F3F;}

    #copy, #copy a {color:#7F7F7F;}
    #copy a:hover {color:#3F3F3F;}

/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#breadcrumbs a {color:#5f5f5f;}

#subnav li a {border-bottom:1px solid #efefef; color:#3f3f3f;}
#subnav li.active a {background-color:#e2f4ff;}

dl dt {font-weight:bold;}
dl#news dt {background-color:#FFF;}
dl#news dd a {color:#3f3f3f;}
dl#news dt.active {background-color:#e2f4ff;}

#gallery-in {border-bottom:1px solid #DDDDDD; background-color:#EFEFEF;}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */

.title-01 {background-color:#5f5f5f; color:#fff;}
.title-02 span {background:#FFF;}
.title-03, .title-03.gallery {background-color:#0081C7; color:#fff;}
.title-03 a {color:#FFF;}
.title-04 {color:#0081C7;}

.comment, .more {color:#3F3F3F;}

.warning {color:#F00;}
.error {color:#F00;}
.errorlist {color:#F00;}

.helptext {font-size:x-small; font-weight:normal;}

hr {color:#0081C7;}

input {border: 1px solid #0081C7; width:100%;}
input.submit {width:30%}
input:focus {border: 2px solid #006095;}
textarea {border: 1px solid #0081C7; width:100%}
textarea:focus {border: 2px solid #006095;}
select {border: 1px solid #0081C7; width:100%}
select:focus {border: 2px solid #006095;}
