/* ----------------------------------------------------------------------------------------------------------

    Output device: screen, projection

    Author:     Nuvio (www.nuvio.cz)
    Update:     2008-08-17, 13:17 GMT+1
    Version:    2.2.6 (2008-07-13, 14:28 GMT+1)

    Structure:
        display; position; z-index; float; clear; width; height; overflow; margin; padding; border; background; align; font;

    Content:

        1) HTML tags
        2) HTML styles
        3) Layout
        4-1) Page: Homepage
        5) Others

---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {background-color:#dfdfdf; color:#3f3f3f;}

a {color:#0081C7;}
a:hover {color:#000;}

blockquote {font-style:italic;}
code {font-family:"Courier";}

/* ----------------------------------------------------------------------------------------------------------
2) HTML styles
---------------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------------------
3) Layout
---------------------------------------------------------------------------------------------------------- */

#main {background:#FFF;}

    #header {background-color:#0081C7;}
    
        #slogan {color:#FFF;font-size:medium;}
    
    #nav {border-top:1px solid #FFF; border-bottom:1px solid #FFF; background:#EFEFEF;}
    #nav a {color:#3f3f3f;}
    #nav ul li.active, #nav ul li.active a {color:#0081C7;}

    #footer, #footer a {color:#5F5F5F;}
    #footer a:hover {color:#3f3f3f;}
    
        .ico-rss {color:#3F3F3F;}

    #copy, #copy a {color:#7F7F7F;}
    #copy a:hover {color:#3F3F3F;}

/* ----------------------------------------------------------------------------------------------------------
4-1) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#breadcrumbs a {color:#5f5f5f;}

#subnav li a {border-bottom:1px solid #efefef; color:#3f3f3f;}
#subnav li.search {display:block; margin-top:5px;}
#subnav li.tagcloud {display:block; margin-top:5px;}
#subnav li.tagcloud a {background:transparent; display:inline; border:none;}
#subnav li.active a {background-color:#e2f4ff;}

dl dt {font-weight:bold;}
dl#news dt {background-color:#FFF;}
dl#news dd a {color:#3f3f3f;}
dl#news dt.active {background-color:#e2f4ff;}

#gallery-in {border-bottom:1px solid #DDDDDD; background-color:#EFEFEF;}

/* ----------------------------------------------------------------------------------------------------------
5) Others
---------------------------------------------------------------------------------------------------------- */

.title-01 {background-color:#5f5f5f; color:#fff;}
.title-02 span {background:#FFF;}
.title-03, .title-03.gallery {background-color:#0081C7; color:#fff;}
.title-03 a {color:#FFF;}
.title-04 {color:#0081C7;}
.title-05 { font-size: 100%; background-color: ##0081C7; color:#fff; padding: 3px 3px 3px 10px; margin-top: 0; }
.title-05 span {padding-right:5px;}

.comment, .more {color:#3F3F3F;}

.warning {color:#F00;}
.error {color:#F00; font-size:larger; margin:.5em;}
.errorlist {color:#F00;}

.helptext {font-size:x-small; font-weight:normal; font-style: italic;}

hr {color:#0081C7;}

a.button {border: 1px solid #0081C7; width: 98%; padding: 4px; text-decoration:none; background:#dddddd; color:#000000; font-size:medium; font-weight:normal; padding:4px;}
a.button:hover {background:#eeeeee;}
a.button:focus {border: 2px solid #006095;}
input { width: 98%; padding: 4px; font-size:medium;}
input[type="checkbox"] { width: 1.5em; }
input.submit { width:30%;margin-top:5px;  }
input:focus {border: 2px solid #006095;}
textarea {border: 1px solid #0081C7; width:98%; padding: 4px; font-size:medium;}
textarea:focus {border: 2px solid #006095;}
select {border: 1px solid #0081C7; width:98%; padding: 4px; font-size:medium;}
select:focus {border: 2px solid #006095;}

#uploadprogressbar {display: none;}

.blog-archive {width: 100px; float: right;}

/*
 * Welcome page
 */

div.mainbox {width:100%; position:relative;}
div.mainbox p {padding:.2em;}
div.leftbox {border:0; float:left; width:45%;}
div.centerbox { width: 100%; clear: both; padding-top: 30px; }
div.rightbox {border:0; float:right; width:45%;}
input.searchsubmit {width:20%; padding: 1px; text-decoration:none; color:#000000; font-size:small; font-weight:normal; padding:4px;}
p.head {background:#eee; font-weight:bold; font-size:larger;}

div.buttonrow { margin-top: 15px; }
div.buttonrow form { display: inline; }
input.stdbutton { width: auto; padding: 1px; text-decoration:none; color:#000000; font-size:small; font-weight:normal; padding:4px;}

ul.recent li { margin-bottom:0.5em;}
ul.index { list-style: none; margin-left: 0; padding-left: 1em; text-indent: -1em; }
ul.index li { margin:-1px; padding: 0;}
/* ul.index li:before { content: "\00BB \0020"; } */
span.index_right { float: right; }
span.index_plain { font-weight:normal;}
span.index_plain_right { float: right; font-weight:normal;}
#header a { color:#ffffff; text-decoration:none;}
#header a:hover { color:#c3ebfd; text-decoration:underline;}
div.paginator {position:relative;margin:0; text-align: center; }
