{% extends "repository/base.html" %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "Edit" %}{% endblock %}
{% block billboard %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "Edit" %}{% endblock %}

{% block extrahead %}
{% include "autocomplete.html" %}
<script type="text/javascript" src="/media/js/jquery/ui.core.js"></script>
<script type="text/javascript" src="/media/js/jquery/ui.tabs.js"></script>
<script type="text/javascript">
$(function() {
	$('#cancel').click(function() {
		window.history.back(-1);
	});

	$('#contents').tabs();
});
</script>
{% endblock %}

{% block content %}
<h1>{% trans "Edit Data for" %} {{ prev.name }} ({% trans "version " %}{{ prev.version }})</h1>

<form action="{% url repository.views.data_edit prev.id %}" method="post" enctype="multipart/form-data">
<div id="contents" class="widget">
<ul class="head">
	<li><a title="{% trans "Primary attributes of Data item + download" %}" href="#contents-main">{% trans "Main" %}</a></li>
	<li><a title="{% trans "Other attributes of Data item" %}" href="#contents-other">{% trans "Other" %}</a></li>
</ul>

<div id="contents-main">
	<div class="title"><label for="id_license">{% trans "License" %}</label> (<a href="../license">{% trans "more info" %}</a>) {{ form.license.errors }}</div>
	<div class="data">{{ form.license }}</div>
	<div class="title"><label for="id_tags">{% trans "Tags" %}</label> {{ form.tags.errors }}</div>
	<div class="data">{{ form.tags }}</div>
	<div class="title"><label for="id_description">{% trans "Description" %}</label> {{ form.description.errors }}</div>
	<div class="data">{{ form.description }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></div>
	<div class="title"><label for="id_is_public">{% trans "Is the Data item ready to be seen by the public" %}?</label> {{ form.is_public.errors }}</div>
	<div class="data">{{ form.is_public }}</div>
</div>

<div id="contents-other">
	<div class="title"><label for="id_summary">{% trans "Summary" %}</label> {{ form.summary.errors }}</div>
	<div class="data">{{ form.summary }}</div>
	<div class="title"><label for="id_urls">{% trans "URLs" %}</label> {{ form.urls.errors }}</div>
	<div class="data">{{ form.urls }}</div>
	<div class="title"><label for="id_publications">{% trans "Publications" %}</label> {{ form.publications.errors }}</div>
	<div class="data">{{ form.publications }}</div>
	<div class="title"><label for="id_source">{% trans "Data Source" %}</label> {{ form.source.errors }}</div>
	<div class="data">{{ form.source }}</div>
	<div class="title"><label for="id_measurement_details">{% trans "Measurement details" %}</label> {{ form.measurement_details.errors }}</div>
	<div class="data">{{ form.measurement_details }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></div>
	<div class="title"><label for="id_usage_scenario">{% trans "Usage scenario" %}</label> {{ form.usage_scenario.errors }}</div>
	<div class="data">{{ form.usage_scenario }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></div>
</div>

<p><input type="submit" id="post" name="post" class="submit-post" value="{% trans "Edit" %}" /> <input type="button" id="cancel" name="cancel" class="submit-post" value="{% trans "Cancel" %}" /></p>
</div>
</form>
{% endblock %}

