{% extends "repository/base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "Archive" %}{% endblock %}

{% block billboard %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "Archive" %}{% endblock %}

{% block content %}
<h1>Archive of Data</h1>

<ul>
{% for object in object_list %}
	<li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a> ({% trans "on" %} {{ object.pub_date|date:"Y-m-d H:i" }} {% trans "by" %} {{ object.author.username }})</li>
{% endfor %}
</ul>
{% endblock %}

