{% extends "repository/base.html" %}
{% load i18n %}
{% load markup %}

{% block title %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "Review" %} {{ object.name }}{% endblock %}
{% block breadcrumbs %}<a href="{% url repository_index %}">{% trans "Repository" %}</a> / {% trans "Data" %} / {% trans "Review" %}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Review of your data set" %} "{{ object.name }}" </h2>
<div class="in">
	<p>{% trans "The Data item is not yet complete. Here you have a chance to review what the system has discovered about the uploaded Data file and modify the recognised file format. Press 'Looks good, proceed' to finalise the item or 'Go Back' to remove it from the repository and start anew." %}</p>

	<form action="{% url repository.views.data_new_review object.id %}" method="post" enctype="multipart/form-data">
	<dl id="news">
		<dt><label for="id_format">{% trans "Detected Data format" %}</label></dt>
		<dd><input type="text" name="id_format" value="{{ object.format }}" size="20" /><br /><span class="helptext">{% trans "Supported formats are: libsvm, csv, arff, uci, h5, matlab, octave. These will be converted to" %} <a href="{% url about_hdf5 %}">{% trans "our flavour of HDF5" %}</a>{% trans ", if possible" %}.<br />{% trans "Unsupported formats and failed conversions will be kept as is, but premium features are not available for these." %}</span></dd>
		<dt><label for="id_seperator">{% trans "Detected Data seperator" %}</label></dt>
		<dd><input type="text" name="id_seperator" value="{{ object.seperator }}" size="1" maxlength="1" /><br /><span class="helptext">{% trans "The seperator seperates the variables in the examples. Allowed values are ',', ' ' and '\t'." %}</span></dd>
		<dt>{% trans "Name" %}</dt>
		<dd>{{ extract.name }}</dd>
		<dt>{% trans "Version" %} mldata</dt>
		<dd>{{ extract.mldata }}</dd>
		<dt>{% trans "Comment" %}</dt>
		<dd>{{ extract.comment }}</dd>
		<dt>{% trans "Variable Names" %}</dt>
		<dd>{% for name in extract.names %}{{ name }}, {% endfor %}</dd>
{% if extract.types %}
		<dt>{% trans "Variable Types" %}</dt>
		<dd>{% for type in extract.types %}{{ type }}, {% endfor %}</dd>
{% endif %}
		<dt>{% trans "Extract of Examples" %}</dt>
		<dd><ol>
		{% for d in extract.data %}
			<li>{{ d|join:', ' }}</li>
		{% endfor %}
		</ol></dd>
	</dl>

	<br />

	<input type="submit" name="approve" class="submit" value="{% trans "Looks good, proceed" %}" /> <input type="submit" name="revert" class="submit" value="{% trans "Go Back" %}" />
	</form>
</div><!-- /in -->
{% endblock %}
