{% extends "repository/data_view.html" %}
{% load i18n %}
{% load markup %}

{% block data_content %}
<tr>
	<td colspan="2" class="heading">{% trans "Summary" %}</td>
</tr>
<tr>
	<td colspan="2" class="indented">{{ object.summary }}</td>
</tr>
<tr>
	<td colspan="2" class="heading">{% trans "URLs" %}</td>
</tr>
<tr>
	<td colspan="2" class="indented">{{ object.urls }}</td>
</tr>
<tr>
	<td colspan="2" class="heading">{% trans "Publications" %}</td>
</tr>
<tr>
	<td colspan="2" class="indented">{{ object.publications }}</td>
</tr>
<tr>
	<td colspan="2" class="heading">{% trans "Data Source" %}</td>
</tr>
<tr>
	<td colspan="2" class="indented">{{ object.source }}</td>
</tr>
<tr>
	<td colspan="2" class="heading">{% trans "Measurement Details" %}</td>
</tr>
<tr>
	<td colspan="2" class="indented">{{ object.measurement_details|markdown }}</td>
</tr>
<tr>
	<td colspan="2" class="heading">{% trans "Usage Scenario" %}</td>
</tr>
<tr>
	<td colspan="2" class="indented">{{ object.usage_scenario|markdown }}</td>
</tr>
{% endblock %}

