{% extends "repository/data_view.html" %}
{% load i18n %}
{% load markup %}

{% block data_content %}
<tr>
	<td>{% trans "Tags" %}</td>
	<td>{% for tag in object.tags %}{% if tag %}<a href="{% url repository.views.tags_view tag.strip %}">{{ tag }}</a> {% endif %}{% endfor %}</td>
</tr>
<tr>
	<td>{% trans "Description" %}</td>
	<td>{{ object.description|markdown }}</td>
</tr>
<tr>
	<td>{% trans "License" %}</td>
	<td><a href="{{ object.license.url }}">{{ object.license.name }}</a></td>
</tr>
<tr>
	<td colspan="2"><a href="{% url repository.views.data_download object.id %}">{% trans "Download Data File" %}</a></td>
</tr>
{% endblock %}

