{% extends "repository/data_view.html" %}
{% load i18n %}
{% load markup %}

{% block data_content %}
<tr>
	<td colspan="2">
		<table>
		<tr>
			<td>{% trans "Name" %}:</td>
			<td>{{ extract.name }}</td>
		</tr>
		<tr>
			<td>{% trans "Version" %} mldata:</td>
			<td>{{ extract.mldata }}</td>
		</tr>
		<tr>
			<td>{% trans "Comment" %}:</td>
			<td>{{ extract.comment }}</td>
		</tr>
		<tr>
			<td>{% trans "Attribute Names" %}:</td>
			<td>{{ extract.attribute_names }}</td>
		</tr>
		<tr>
			<td>{% trans "Attribute Types" %}:</td>
			<td>{{ extract.attribute_types }}</td>
		</tr>
		<tr>
			<td>{% trans "Attributes (extract)" %}:</td>
			<td>{{ extract.attributes }}</td>
		</tr>
		</table>
	</td>
</tr>
{% endblock %}

