{% extends "repository/base.html" %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {% trans "Data" %} :: {{ title }}{% endblock %}

{% block billboard %}{% trans "Repository" %} :: {% trans "Data" %} :: {{ title }}{% endblock %}

{% block extrahead %}
{% include "autocomplete.html" %}
{% endblock %}

{% block content %}
<h1>{{ head }}</h1>

<form action="{{ action }}" method="post" enctype="multipart/form-data">
<table>
<tr>
{% if is_new %}
	<td style="vertical-align: top"><dl>
		<dd><label for="id_name">{% trans "Name" %}*:</label> {{ form.name.errors }}</dd>
		<dt>{{ form.name }}</dt>
		<dd><label for="id_file">{% trans "Data file" %}{% if is_new %}*{% endif %}:</label> {{ form.file.errors }}</dd>
		<dt>{{ form.file }}</dt>
		<dd><label for="id_format">{% trans "Data Format" %} (CSV, ARFF, HDF5, ...) *:</label> {{ form.format.errors }}</dd>
		<dt>{{ form.format }}</dt>
		<dd><label for="id_license">{% trans "License" %}:</label> {{ form.license.errors }}</dd>
		<dt>{{ form.license }}</dt>
		<br />
		<dt><input type="submit" name="post" class="submit-post" value="{% trans "Submit Data" %}" /></td>
	</dl></td>
{% endif %}
	<td style="vertical-align: top"><dl>
		<dd><label for="id_tags">{% trans "Tags" %}:</label> {{ form.tags.errors }}</dd>
		<dt>{{ form.tags }}</dt>
		<dd><label for="id_summary">{% trans "Summary" %}:</label> {{ form.summary.errors }}</dd>
		<dt>{{ form.summary }}</dt>
		<dd><label for="id_description">{% trans "Description" %}:</label> {{ form.description.errors }}</dd>
		<dt>{{ form.description }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dt>
		<dd><label for="id_urls">{% trans "URLs" %}:</label> {{ form.urls.errors }}</dd>
		<dt>{{ form.urls }}</dt>
		<dd><label for="id_publications">{% trans "Publications" %}:</label> {{ form.publications.errors }}</dd>
		<dt>{{ form.publications }}</dt>
		<dd><label for="id_is_public">{% trans "Is the Data ready to be seen by the public" %}?</label> {{ form.is_public.errors }}</dd>
		<dt>{{ form.is_public }}</dt>
		<dd><label for="id_source">{% trans "Data Source" %}:</label> {{ form.source.errors }}</dd>
		<dt>{{ form.source }}</dt>
		<dd><label for="id_measurement_details">{% trans "Measurement details" %}:</label> {{ form.measurement_details.errors }}</dd>
		<dt>{{ form.measurement_details }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dt>
		<dd><label for="id_usage_scenario">{% trans "Usage scenario" %}:</label> {{ form.usage_scenario.errors }}</dd>
		<dt>{{ form.usage_scenario }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dt>
		<br />
		<dt><input type="submit" name="post" class="submit-post" value="{% trans "Submit Data" %}" /></td>
	</dl></td>
</tr>
</table>
</form>
{% endblock %}

