{% extends "repository/base.html" %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "New" %}{% endblock %}
{% block billboard %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "New" %}{% endblock %}

{% block extrahead %}
{% include "autocomplete.html" %}
{% endblock %}

{% block content %}
<h1>{% trans "Submit new Data" %}</h1>
<p>{% trans "Supply only the vital information about the Data item here. You can fill in additional information later on by editing. Please note that the Data file cannot be changed, you would have to create a new Data item." %}</p>

<form action="{% url repository.views.data_new %}" method="post" enctype="multipart/form-data">
<table>
<tr>
	<td style="vertical-align: top"><dl>
		<dd><label for="id_name">{% trans "Name" %}</label> *: {{ form.name.errors }}</dd>
		<dt>{{ form.name }}</dt>
		<dd><label for="id_description">{% trans "Description" %}</label>: {{ form.description.errors }}</dd>
		<dt>{{ form.description }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dt>
		<dd><label for="id_tags">{% trans "Tags" %}</label>: {{ form.tags.errors }}</dd>
		<dt>{{ form.tags }}</dt>
		<dd><label for="id_license">{% trans "License" %}</label> (<a href="{% url repository.views.data_index %}license">{% trans "more info" %}</a>) *: {{ form.license.errors }}</dd>
		<dt>{{ form.license }}</dt>
		<dd><label for="id_file">{% trans "Data file" %}</label> *: {{ form.file.errors }}</dd>
		<dt>{{ form.file }}</dt>
		<br />
		<dt><input type="submit" name="post" class="submit-post" value="{% trans "Submit for review" %}" /></dt>
	</dl></td>
</tr>
</table>
</form>
{% endblock %}

