{% extends "repository/base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "Archive" %}{% endblock %}

{% block billboard %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "Archive" %}{% endblock %}

{% block content %}
<h1>Archive of Data</h1>

<ul>
{% for object in data.object_list %}
	<li><a href="{{ object.repository.data.get_absolute_url }}">{{ object.repository.name }}</a> ({% trans "on" %} {{ object.repository.pub_date|date:"Y-m-d H:i" }} {% trans "by" %} {{ object.repository.author.username }})</li>
{% endfor %}

{% ifnotequal data.paginator.num_pages 1 %}
{% if data.has_previous %}<a href="?page={{ data.previous_page_number }}">&laquo;</a>{% endif %}
{% for num in data.paginator.page_range %}
	{% ifequal num data.number %}-{% else %}<a href="{% url repository.views.data_index %}?page={{ num }}">{{ num }}</a>{% endifequal %}
{% endfor %}
{% if data.has_next %}<a href="?page={{ data.next_page_number }}">&raquo;</a>{% endif %}
{% endifnotequal %}
</ul>
{% endblock %}

