{% extends "repository/base.html" %}
{% load i18n %}
{% load markup %}

{% block title %}{% trans "Repository" %} :: {% trans "Data" %} :: {{ object.name }}{% endblock %}

{% block billboard %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "View" %}{% endblock %}

{% block content %}
<h1>{% trans "Data of" %} {{ object.name }} ({% if object.is_public %}{% trans "public" %}{% else %}{% trans "private" %}{% endif %})</h1>

<table>
<tr>
	<th>{{ object.name }} ({% trans "on" %} {{ object.pub_date|date:"Y-m-d H:i" }} {% trans "by" %} {{ object.author.username }}, {% trans "version" %} {{ object.version }}) /
	{% if object.versions.has_previous %}<a href="?page={{ object.versions.previous_page_number }}">&laquo;</a>{% endif %}
	{% for v in object.versions.object_list %}
		{% ifequal object.version v.version %}-{% else %}<a href="{% url repository.views.data_view v.id %}">{{ v.version }}</a>{% endifequal %}
	{% endfor %}
	{% if object.versions.has_next %}<a href="?page={{ object.versions.next_page_number }}">&raquo;</a>{% endif %}
</th>
	<th style="text-align: right">
		{% if can_activate %}<a href="{% url repository.views.data_activate object.id %}" title="{% trans "Activate this version to be the current one" %}">{% trans "ACTIVATE" %}</a>{% endif %}
		<a href="{% url repository.views.data_edit object.slug_or_id %}" title="{% trans "Edit this version to create a new current one" %}">{% trans "EDIT" %}</a>
		{% if can_delete %}<a href="{% url repository.views.data_delete object.slug_or_id %}" title="{% trans "Delete this version" %}">{% trans "DELETE" %}</a>{% endif %}
	</th>
</tr>
<tr>
	<td>{% trans "Tags" %}</td>
	<td>{{ object.tags }}</td>
</tr>
<tr>
	<td>{% trans "Summary" %}</td>
	<td>{{ object.summary }}</td>
</tr>
<tr>
	<td>{% trans "Description" %}</td>
	<td>{{ object.description|markdown }}</td>
</tr>
<tr>
	<td>{% trans "URLs" %}</td>
	<td>{{ object.urls }}</td>
</tr>
<tr>
	<td>{% trans "License" %}</td>
	<td>{{ object.license }}</td>
</tr>
<tr>
	<td>{% trans "Data Source" %}</td>
	<td>{{ object.source }}</td>
</tr>
<tr>
	<td>{% trans "Data Format" %}</td>
	<td>{{ object.format }}</td>
</tr>
<tr>
	<td>{% trans "Measurement Details" %}</td>
	<td>{{ object.measurement_details|markdown }}</td>
</tr>
<tr>
	<td>{% trans "Usage Scenario" %}</td>
	<td>{{ object.usage_scenario|markdown }}</td>
</tr>
<tr>
	<td colspan="2"><a href="{{ MEDIA_URL }}{{object.file.name}}">{% trans "Download Data File" %}</a></td>
</tr>
</table>
{% endblock %}

