{% extends "repository/base.html" %}
{% load i18n %}
{% load markup %}

{% block title %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "Review" %} {{ object.name }}{% endblock %}
{% block billboard %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "Review" %}{% endblock %}

{% block content %}
<h1>{% trans "Review" %} {{ object.name }}</h1>
<p>{% trans "The Data item is not yet complete. Here you have a chance to review what the system has discovered about the uploaded Data file and modify the recognised file format. Press 'Approve' to finalise the item or 'Revert' to remove it from the repository and start anew." %}</p>

<form action="{% url repository.views.data_new_review object.id %}" method="post" enctype="multipart/form-data">
<div>
	<label for="id_format">{% trans "Detected Data format is" %}</label>:<br />
	<input type="text" name="id_format" value="{{ object.format }}" size="20" /><br /><span class="helptext">{% trans "Supported formats are: libsvm, arff, hdf5. These will be converted to" %} <a href="{% url repository.views.index %}hdf5">{% trans "our flavour of HDF5" %}</a>.<br />{% trans "Unsupported formats will be kept as is, but premium features are not available for these." %}</span>
</div>

<div style="padding-top:1em">{% trans "Parsed contents of Data file" %}:</div>
<div class="widget">
	<div class="title">{% trans "Name" %}</div>
	<div class="data">{{ extract.name }}</div>
	<div class="title">{% trans "Version" %} mldata</div>
	<div class="data">{{ extract.mldata }}</div>
	<div class="title">{% trans "Comment" %}</div>
	<div class="data">{{ extract.comment }}</div>
	<div class="title">{% trans "Attribute Names" %}</div>
	<div class="data">{{ extract.attribute_names }}</div>
	<div class="title">{% trans "Attribute Types" %}</div>
	<div class="data">{{ extract.attribute_types }}</div>
	<div class="title">{% trans "Attributes (extract)" %}</div>
	<div class="data"><ol>
	{% for attr in extract.attributes %}
		<li>{{ attr|join:' / ' }}</li>
	{% endfor %}
	</ol></div>
</div>

<div style="padding-top:1em">
	<input type="submit" name="approve" class="submit-post" value="{% trans "Approve" %}" /> <input type="submit" name="revert" class="submit-post" value="{% trans "Revert" %}" />
</div>
</form>

{% endblock %}

