{% extends "repository/base.html" %}
{% load i18n %}
{% load markup %}

{% block title %}{% trans "Repository" %} :: {% trans "Data" %} :: {{ object.name }}{% endblock %}
{% block billboard %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "View" %}{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/media/js/jquery/jquery.js"></script>
<script type="text/javascript" src="/media/js/jquery/ui.core.js"></script>
<script type="text/javascript" src="/media/js/jquery/ui.tabs.js"></script>
<script type="text/javascript">
$(function() {
	$('#delete').click(function() {
		if (confirm('{% trans "Do you really want to delete this version?" %}')) {
			return true;
		} else {
			return false;
		}
	});

	$('#contents').tabs();
});
</script>
{% endblock %}

{% block content %}
<table class="plain">
<tr>
	<td width="75%"><h1>{% trans "Data of" %} {{ object.name }} ({% if object.is_public %}{% trans "public" %}{% else %}{% trans "private" %}{% endif %})</h1></td>
	<td class="rating">{% include "repository/rating_results.html" %}</td>
</tr>
<tr>
	<td colspan="2">{% trans "Completeness of this Data item currently" %}: {{ object.completeness }}%.<br />{% trans "You can" %} <a href="{% url repository.views.data_edit object.id %}">{% trans "edit this item" %}</a> {% trans "to add more meta information and make use of the site's premium features" %}.</td>
</tr>
</table>

<div id="contents" class="widget">
<ul class="head">
	<li><a title="{% trans "Primary attributes of Data item + download" %}" href="#contents-main">{% trans "Main" %}</a></li>
	<li><a title="{% trans "Extracted/parsed/visualised data from the file" %}" href="#contents-data">{% trans "Data" %}</a></li>
	<li><a title="{% trans "Other attributes of Data item" %}" href="#contents-other">{% trans "Other" %}</a></li>
</ul>
<div class="info">
	{% trans "on" %} {{ object.pub_date|date:"Y-m-d H:i" }} {% trans "by" %} {{ object.user.username }}, {% trans "version" %} {{ object.version }} /
	{% if object.versions.has_previous %}<a href="?page={{ object.versions.previous_page_number }}">&laquo;</a>{% endif %}
	{% for v in object.versions.object_list %}
		{% ifequal object.version v.version %}-{% else %}<a href="{{ request.path }}../{{ v.id }}">{{ v.version }}</a>{% endifequal %}
	{% endfor %}
	{% if object.versions.has_next %}<a href="?page={{ object.versions.next_page_number }}">&raquo;</a>{% endif %}
</div>
<div class="actions">
		{% if can_activate %}<a href="{% url repository.views.data_activate object.id %}" title="{% trans "Make this version current and public" %}">{% trans "ACTIVATE" %}</a>{% endif %}
		<a href="{% url repository.views.data_edit object.slug_or_id %}" title="{% trans "Edit this version to create a new current one" %}">{% trans "EDIT" %}</a>
		{% if can_delete %}<a id="delete" href="{% url repository.views.data_delete object.slug_or_id %}" title="{% trans "Delete this version" %}">{% trans "DELETE" %}</a>{% endif %}
</div>
<br style="clear:both" />

<div id="contents-main">
		<div class="title">{% trans "Tags" %}</div>
		<div class="data">{% for tag in object.tags %}{% if tag %}<a href="{% url repository.views.tags_view tag.strip %}">{{ tag }}</a> {% endif %}{% endfor %}</div>
		<div class="title">{% trans "Description" %}</div>
		<div class="data">{{ object.description|markdown }}</div>
		<div class="title">{% trans "License" %}</div>
		<div class="data"><a href="{{ object.license.url }}">{{ object.license.name }}</a></div>
		<div class="title"><a href="{% url repository.views.data_download object.id %}">{% trans "Download Data File" %}</a></div>
</div>
<div id="contents-data">
	<div class="title">{% trans "Format" %}</div>
	<div class="data">{{ object.format }}</div>
	<div class="title">{% trans "Name" %}</div>
	<div class="data">{{ extract.name }}</div>
	<div class="title">{% trans "Version" %} mldata</div>
	<div class="data">{{ extract.mldata }}</div>
	<div class="title">{% trans "Comment" %}</div>
	<div class="data">{{ extract.comment }}</div>
	<div class="title">{% trans "Attribute Names" %}</div>
	<div class="data"><ol>
	{% for name in extract.attribute_names %}
		<li>{{ name }}</li>
	{% endfor %}
	</ol></div>
	<div class="title">{% trans "Attribute Types" %}</div>
	<div class="data"><ol>
	{% for type in extract.attribute_types %}
		<li>{{ type }}</li>
	{% endfor %}
	</ol></div>
	<div class="title">{% trans "Attributes (extract)" %}</div>
	<div class="data"><ol>
	{% for attr in extract.attributes %}
		<li>{{ attr|join:' / ' }}</li>
	{% endfor %}
	</ol></div>
</div>
<div id="contents-other">
	<div class="title">{% trans "Summary" %}</div>
	<div class="data">{{ object.summary }}</div>
	<div class="title">{% trans "URLs" %}</div>
	<div class="data">{{ object.urls }}</div>
	<div class="title">{% trans "Publications" %}</div>
	<div class="data">{{ object.publications }}</div>
	<div class="title">{% trans "Data Source" %}</div>
	<div class="data">{{ object.source }}</div>
	<div class="title">{% trans "Measurement Details" %}</div>
	<div class="data">{{ object.measurement_details|markdown }}</div>
	<div class="title">{% trans "Usage Scenario" %}</div>
	<div class="data">{{ object.usage_scenario|markdown }}</div>
</div>
</div> <!-- // contents -->

{% include "repository/rating_form.html" %}

{% load comments %}
{% get_comment_list for repository.data object.id as comment_list %}
{% include "comments/list.html" %}
{% get_comment_form for repository.data object.id as form %}
{% include "comments/form.html" %}

{% endblock %}

