{% extends "repository/base.html" %}
{% load i18n %}

{% block content %}
<h1>Repository</h1>
<p>
This is the repository where you can find and modify all available data, tasks and solutions. Choose one of the items to the left to continue.
</p>

<h2>Latest Items</h2>
<ul>
	<li>Data: <a href="{% url repository.views.data_view latest_data.id %}">{{ latest_data.name }}</a></li>
	<li>Task: <a href="{% url repository.views.task_view latest_task.id %}">{{ latest_task.name }}</a></li>
	<li>Solution: <a href="{% url repository.views.solution_view latest_task.id %}">{{ latest_solution.name }}</a></li>
</ul>
{% endblock %}

