{% extends "repository/base.html" %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {{ klass }} :: {{ my_or_archive }}{% endblock %}

{% block breadcrumbs %}<a href="{% url repository_index %}">{% trans "Repository" %}</a> / <a href="
{% if data %}{% url data_index %}{% endif %}
{% if task %}{% url task_index %}{% endif %}
{% if solution %}{% url solution_index %}{% endif %}
{% if challenge %}{% url challenge_index %}{% endif %}
">{% trans klass %}</a> / {{ my_or_archive }}{% endblock %}

{% block content %}
<h2 class="title-01">{{ my_or_archive }} {{ klass }}</h2>
<div class="in">
{% if searcherror %}
<div class="error">{% trans "Your search did not yield any results, showing normal index of items:" %}</div>
{% endif%}

{% if data %}
	{% with data as page %}
	{% with data_per_page as per_page %}
		{% include "repository/item_index_common.html" %}
	{% endwith %}
	{% endwith %}

	{% if unapproved %}
		<br /><hr />
		<h2>{% trans "My Unapproved" %} {{ klass }}</h2>
		{% with unapproved as page %}
		{% with data_per_page as per_page %}
			{% include "repository/item_index_common.html" %}
		{% endwith %}
		{% endwith %}
	{% endif %}
{% endif %}

{% if task %}
	{% with task as page %}
	{% with task_per_page as per_page %}
		{% include "repository/item_index_common.html" %}
	{% endwith %}
	{% endwith %}

	{% if unapproved %}
		<br /><hr />
		<h2>{% trans "My Unapproved" %} {{ klass }}</h2>
		{% with unapproved as page %}
		{% with task_per_page as per_page %}
			{% include "repository/item_index_common.html" %}
		{% endwith %}
		{% endwith %}
	{% endif %}
{% endif %}

{% if solution %}
	{% with solution as page %}
	{% with solution_per_page as per_page %}
		{% include "repository/item_index_common.html" %}
	{% endwith %}
	{% endwith %}

	{% if unapproved %}
		<br /><hr />
		<h2>{% trans "My Unapproved" %} {{ klass }}</h2>
		{% with unapproved as page %}
		{% with solution_per_page as per_page %}
			{% include "repository/item_index_common.html" %}
		{% endwith %}
		{% endwith %}
	{% endif %}
{% endif %}

{% if challenge %}
	{% with challenge as page %}
	{% with challenge_per_page as per_page %}
		{% include "repository/item_index_common.html" %}
	{% endwith %}
	{% endwith %}

	{% if unapproved %}
		<br /><hr />
		<h2>{% trans "My Unapproved" %} {{ klass }}</h2>
		{% with unapproved as page %}
		{% with challenge_per_page as per_page %}
			{% include "repository/item_index_common.html" %}
		{% endwith %}
		{% endwith %}
	{% endif %}
{% endif %}

</div><!-- /in -->
{% endblock %}
