{% extends "repository/base.html" %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {{ klass }} :: {% trans "New" %}{% endblock %}
{% block breadcrumbs %}<a href="{% url repository_index %}">{% trans "Repository" %}</a> / {{ klass }} / {% trans "New" %}{% endblock %}

{% block extrahead %}
{% include "autocomplete.html" %}
<script type="text/javascript" src="/media/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript">
$(function() {
	$('#form-new').submit(function() {
		if (!$('#id_keep_private').is(':checked')) {
			return window.confirm('{% trans "WARNING: You are about to make this item public, it cannot be made private again!" %}');
		}
	});

	$('#tabs').tabs();
});
</script>
{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Submit new" %} {{ klass }}</h2>
<div class="in">
	{% trans "Supply only vital information under the Summary tab. You can fill in additional information under More Info or later on by editing." %}
	{% ifequal klass "Data" %}{% trans "Please note that the Data file cannot be changed, you would have to create a new Data item." %}{% endifequal %}
	{% ifequal klass "Task" %}
	<br /><br /><strong>ATTENTION PLEASE: TASKS ARE STILL UNSTABLE AND THE DATA YOU SUPPLY HERE MIGHT BE PURGED FROM THE DATABASE WITHOUT WARNING!</strong><br />
	{% endifequal %}

	<form id="form-new" action="{{ url_new }}" method="post" enctype="multipart/form-data">
	{% if form.errors %}<p class="error">{% trans "There had been errors, please see below" %}.</td>{% endif %}
		<div id="tabs">
			<ul class="clearfix">
				<li><a title="{% trans "Primary attributes of item + download" %}" href="#tabs-summary">{% trans "Summary" %}</a></li>
				<li><a title="{% trans "Other attributes of item" %}" href="#tabs-more">{% trans "More Info" %}</a></li>
			</ul>


			<div id="tabs-summary"><dl>
				<dt><label for="id_name">{% trans "Name" %}</label> * {{ form.name.errors }}</dt>
				<dd>{{ form.name }}</dd>
				<dt><label for="id_summary">{% trans "Summary" %}</label> {{ form.summary.errors }}</dt>
				<dd>{{ form.summary }}</dd>
				<dt><label for="id_tags">{% trans "Tags" %}</label> {{ form.tags.errors }}</dt>
				<dd>{{ form.tags }}</dd>
		{% ifequal klass "Data" %}
				<dt><label for="id_license">{% trans "License" %}</label> (<a href="{% url about_license %}">{% trans "more info" %}</a>) * {{ form.license.errors }}</dt>
				<dd>{{ form.license }}</dd>
				<dt><label for="id_file">{% trans "Data file" %}</label> * {{ form.file.errors }}</dt>
				<dd>{{ form.file }}</dd>
		{% else %}{% ifequal klass "Task" %}
				<dt><label for="id_input">{% trans "Input format" %}</label> * {{ form.input.errors }}</dt>
				<dd>{{ form.input}}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_output">{% trans "Output format" %}</label> * {{ form.output.errors }}</dt>
				<dd>{{ form.output }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_performance_measure">{% trans "Performance Measure" %}</label> * {{ form.performance_measure.errors }}</dt>
				<dd>{{ form.performance_measure }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_type">{% trans "Type" %}</label> * {{ form.type.errors }}{{ form.freeformtype.errors }}</dt>
				<dd>{{ form.type }} {{ form.freeformtype }}<br /><span class="helptext">{% trans "Select type of Task or add a new one by filling in the text field" %}.</span></dd>
				<dt><label for="id_data">{% trans "Data" %}</label> * {{ form.data.errors }}</dt>
				<dd>{{ form.data }}</dd>
				<dt><label for="id_data_heldback">{% trans "Data (held back)" %}</label> {{ form.data_heldback.errors }}</dt>
				<dd>{{ form.data_heldback }}</dd>
				<dt><label for="id_file">{% trans "Task file" %}</label> {{ form.file.errors }}</dt>
				<dd>{{ form.file }}</dd>
			{% else %}{% ifequal klass "Solution" %}
				<dt><label for="id_feature_processing">{% trans "Feature Processing" %}</label> {{ form.feature_processing.errors }}</dt>
				<dd>{{ form.feature_processing }}</dd>
				<dt><label for="id_parameters">{% trans "Parameters" %}</label> {{ form.parameters.errors }}</dt>
				<dd>{{ form.parameters }}</dd>
				<dt><label for="id_os">{% trans "Operating System" %}</label> {{ form.os.errors }}</dt>
				<dd>{{ form.os }}</dd>
				<dt><label for="id_code">{% trans "Code" %}</label> {{ form.code.errors }}</dt>
				<dd>{{ form.code }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_software_packages">{% trans "Software Packages" %}</label> {{ form.software_packages.errors }}</dt>
				<dd>{{ form.software_packages }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_task">{% trans "Task" %}</label> * {{ form.task.errors }}</dt>
				<dd>{{ form.task }}</dd>
				<dt><label for="id_score">{% trans "Score file" %}</label> {{ form.score.errors }}</dt>
				<dt>{{ form.score }}</dd>
			{% endifequal %}{% endifequal %}{% endifequal %}
			</dl></div><!-- /tabs-summary -->

			<div id="tabs-more"><dl>
				<dt><label for="id_description">{% trans "Description" %}</label> {{ form.description.errors }}</dt>
				<dd>{{ form.description }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_urls">{% trans "URLs" %}</label> {{ form.urls.errors }}</dt>
				<dd>{{ form.urls }}</dd>
				<dt><label for="id_publications">{% trans "Publications" %}</label> {{ form.publications.errors }}</dt>
				<dd>{{ form.publications }}</dd>
			{% ifequal klass "Data" %}
				<dt><label for="id_source">{% trans "Data Source" %}</label> {{ form.source.errors }}</dt>
				<dd>{{ form.source }}</dd>
				<dt><label for="id_measurement_details">{% trans "Measurement details" %}</label> {{ form.measurement_details.errors }}</dt>
				<dd>{{ form.measurement_details }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_usage_scenario">{% trans "Usage scenario" %}</label> {{ form.usage_scenario.errors }}</dt>
				<dd>{{ form.usage_scenario }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
			{% endifequal %}
			</dl></div><!-- /tabs-more -->
		</div>

		<input type="submit" name="post" class="submit" value="{% trans "Submit" %}" /> {{ form.keep_private }} {% trans "Keep private" %}
	</form>
</div><!-- /in -->
{% endblock %}
