{% load i18n %}
{% load markup %}
{% load show_stars %}
{% load repository_filters %}
{% load comments %}
{% load paginator %}

{% if page.count %}
	{% paginator %}
	<ul class="index_list">
	{% with page.page_obj.object_list as object_list %}
	{% for object in object_list %}
		<li>
		<h2 class="title-03 gallery">
			<a title="{{ object.summary }}" href="{{ object.get_absolute_slugurl }}">{{ object.name }}</a> 
			<span class="index_plain"> - {% trans "submitted by" %} {{ object.get_initial_submission.user.username }}</span>
			{% get_comment_count for object as comment_count %}
			<span class="index_plain_right">
				{{object.hits }} view{{ object.hits|pluralize}}, {{ object.downloads }} download{{ object.downloads|pluralize}}, {{ comment_count }} comment{{ comment_count|pluralize}}
			</span>
			<br \>
			<span class="index_plain">{% trans "last edited by" %} {{ object.user.username }}</span>
			-
			<span class="index_plain">{{ object.pub_date|date:"M j, Y, H:i" }} CET</span>
			<span class="index_plain_right">{% trans "Rating" %} {% show_stars object.rating_avg of 5 round to half %}</span>
		</h2>
		<br \>

        <div id="tabs-summary">
		<div class=index_bg">
            <dl id="news">
                <dt>{% trans "Summary:" %}
				<span class="index_plain">{{ object.summary|edit_if_empty }}</span>
				<span class="index_plain_right"><img src="/media/images/logo_small.png"></img></span>
				</dt>
				{% if object.num_instances %}<dt>{% trans "Data Shape:" %}
				<span class="index_plain">{{ object.num_attributes }} attributes, {{ object.num_instances }} instances
				({{ object.get_attribute_types }})
				</dt>
				{% endif %}
				<dt>{% trans "License:" %}
				<span class="index_plain"><a href="{{ object.license.url }}">{{ object.license.name }}</a></span>
				</dt>
				{% if object.has_tags %}<dt>{% trans "Tags:" %}
				{% ifequal klass 'Data' %}
				<span class="index_plain">{% for tag in object.get_tags %}{% if tag %}<a href="{% url data_tags_view tag.strip %}">{{ tag }}</a> {% endif %}{% endfor %}</span>
                {% endifequal %}
				{% ifequal klass 'Task' %}
				<span class="index_plain">{% for tag in object.get_tags %}{% if tag %}<a href="{% url task_tags_view tag.strip %}">{{ tag }}</a> {% endif %}{% endfor %}</span>
                {% endifequal %}
				{% ifequal klass 'Method' %}
				<span class="index_plain">{% for tag in object.get_tags %}{% if tag %}<a href="{% url method_tags_view tag.strip %}">{{ tag }}</a> {% endif %}{% endfor %}</span>
                {% endifequal %}
				{% ifequal klass 'Challenge' %}
				<span class="index_plain">{% for tag in object.get_tags %}{% if tag %}<a href="{% url challenge_tags_view tag.strip %}">{{ tag }}</a> {% endif %}{% endfor %}</span>
                {% endifequal %}
				</dt>
				{% endif %}
				{% if object.format %}
				<dt> {% trans "Tasks / Methods / Challenges:" %}
				<span class="index_plain">
				{{ object.get_related_tasks.count }} tasks, 
				{{ object.get_related_methods.count }} methods, 
				{{ object.get_related_challenges.count }} challenges
				</span></dt>
				{% endif %}
				{% if object.type %}
				<dt> {% trans "Performance Measure:" %}
				<span class="index_plain">
				{{ object.performance_measure }}
				</span></dt>
				<dt> {% trans "Task Type:" %}
				<span class="index_plain">
				{{ object.type }}
				</span></dt>
				<dt> {% trans "Methods / Challenges:" %}
				<span class="index_plain">
				{{ object.get_related_methods.count }} methods, 
				{{ object.get_challenges.count }} challenges
				</span></dt>
				{% endif %}
				{% ifequal klass 'Solution' %}
				<dt> {% trans "Results:" %}
				<span class="index_plain">
				{{ object.get_related_results.count }} results
				</span></dt>
				{% endifequal %}
				{% ifequal klass 'Challenge' %}
				<dt> {% trans "Methods:" %}
				<span class="index_plain">
				{{ object.get_related_methods.count }} methods
				</span></dt>
				{% endifequal %}
				{% if object.file %}
				<dt>{% trans "Download:" %}
				<span class="index_plain">
                    {% if object.has_h5 %}
                        {% ifequal klass 'Task' %}
						<a href="{% url task_download object.slug %}">{% trans "HDF5" %} ({{ object.file.size|filesizeformat }})</a>
						<a href="{% url task_download_xml object.slug %}">{% trans "XML" %}</a>
						<a{% if object.can_convert_to_matlab %} href="{% url task_download_matlab object.slug %}"{% endif %}>{% trans "Matlab" %}</a>
						<a{% if object.can_convert_to_octave %} href="{% url task_download_octave object.slug %}"{% endif %}>{% trans "Octave" %}</a>
						{% endifequal %}
                        {% ifequal klass 'Data' %}
						<a href="{% url data_download object.slug %}">{% trans "HDF5" %} ({{ object.file.size|filesizeformat }})</a>
						<a href="{% url data_download_xml object.slug %}" class="download-convert-link">{% trans "XML" %}</a>
						<a{% if object.can_convert_to_csv %} class="download-convert-link" href="{% url data_download_csv object.slug %}"{% endif %}>{% trans "CSV" %}</a>
						<a{% if object.can_convert_to_arff %} class="download-convert-link" href="{% url data_download_arff object.slug %}"{% endif %}>{% trans "ARFF" %}</a>
						<a{% if object.can_convert_to_libsvm %} class="download-convert-link" href="{% url data_download_libsvm object.slug %}"{% endif %}>{% trans "LibSVM" %}</a>
						<a{% if object.can_convert_to_matlab %} class="download-convert-link" href="{% url data_download_matlab object.slug %}"{% endif %}>{% trans "Matlab" %}</a>
						<a{% if object.can_convert_to_octave %} class="download-convert-link" href="{% url data_download_octave object.slug %}"{% endif %}>{% trans "Octave" %}</a>
						{% endifequal %}
					{% else %}
                        {% ifequal klass 'Task' %}
						<a href="{% url task_download object.slug %}">Task File ({{ object.file.size|filesizeformat }})</a>
						{% endifequal %}
                        {% ifequal klass 'Data' %}
						<a href="{% url data_download object.slug %}">{{ object.format }} ({{ object.file.size|filesizeformat }})</a>
						{% endifequal %}
					{% endif %}
				</span>
                </dt>
                                                {% if object.file.size > download_warning_limit %}
                                <dd class="download-note">{% trans "Files are converted on demand and the process can take up to a minute. Please wait until download begins." %}</dd>
                                                {% endif %}
				{% endif %}
			</dl><!-- /news -->
		</div><!-- /index_bg -->
	</div><!-- /tabs-summary -->
	{% endfor %}
	{% endwith %}
	</ul>
	{% paginator %} 
{% else %}
	<p>{% trans "Sorry, no items available" %}.</p>
{% endif %}
