{% extends "repository/base.html" %}
{% load i18n %}
{% block extrahead %}
{% if searchterm %}
<script type="text/javascript" src="/media/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript">
	$(function() {
        var $tabs = $('#tabs').tabs();
		{% if selecttab %}
		$tabs.tabs('select', '#{{selecttab}}');
		{% endif %}
		{% if data %}
			$('#data-nav-right').show();
			$('#task-nav-right').hide();
			$('#solution-nav-right').hide();
			$('#challenge-nav-right').hide();
		{% else %}
			{% if task %}
				$('#task-nav-right').show();
				$('#solution-nav-right').hide();
				$('#challenge-nav-right').hide();
			{% else %}
				{% if solution %}
				$('#solution-nav-right').show();
				$('#challenge-nav-right').hide();
				{% endif %}
			{% endif %}
		{% endif %}

		$('#tabs').bind('tabsselect', function(event, ui) {
			if (/data$/.test(ui.tab))
			{
				$('#data-nav-right').show();
				$('#task-nav-right').hide();
				$('#solution-nav-right').hide();
				$('#challenge-nav-right').hide();
			}
			else if (/task$/.test(ui.tab))
			{
				$('#data-nav-right').hide();
				$('#task-nav-right').show();
				$('#solution-nav-right').hide();
				$('#challenge-nav-right').hide();
			}
			else if (/solution$/.test(ui.tab))
			{
				$('#data-nav-right').hide();
				$('#task-nav-right').hide();
				$('#solution-nav-right').show();
				$('#challenge-nav-right').hide();
			}
			else if (/challenge$/.test(ui.tab))
			{
				$('#data-nav-right').hide();
				$('#task-nav-right').hide();
				$('#solution-nav-right').hide();
				$('#challenge-nav-right').show();
			}
			});
	});
</script>
{% endif %}
{% endblock %}

{% block title %}{% trans "Repository" %} :: {{ klass }} :: {{ my_or_archive }}{% endblock %}

{% block breadcrumbs %}<a href="{% url repository_index %}">{% trans "Repository" %}</a> / <a href="
{% if data %}{% url data_index %}{% endif %}
{% if task %}{% url task_index %}{% endif %}
{% if solution %}{% url solution_index %}{% endif %}
{% if challenge %}{% url challenge_index %}{% endif %}
">{% trans klass %}</a> / {{ my_or_archive }}{% endblock %}

{% block content %}
<h2 class="title-01">{{ my_or_archive }} {{ klass }}</h2>
<div class="in">
{% if searchterm %}
    <div id="tabs">
        <ul class="clearfix">
{% if data %}
<li><a title="{% trans "Data" %}" href="#tabs-data">{% trans "Data" %} ({{ data.count }})</a></li>
{% endif %}
{% if task %}
            <li><a title="{% trans "Task" %}" href="#tabs-task">{% trans "Task" %} ({{ task.count }})</a></li>
{% endif %}
{% if solution %}
            <li><a title="{% trans "Solution" %}" href="#tabs-solution">{% trans "Solution" %} ({{ solution.count }})</a></li>
{% endif %}
{% if challenge %}
            <li><a title="{% trans "Challenge" %}" href="#tabs-challenge">{% trans "Challenge" %} ({{ challenge.count }})</a></li>
{% endif %}
        </ul>
{% endif %}

{% if data %}
<div id="tabs-data">
{% if data_searcherror %}
<div class="error">{% trans "Your search did not yield any results." %}</div>
{% else %}
	{% with data as page %}
	{% include "repository/item_index_common.html" %}
	{% endwith %}

	{% if unapproved %}
		<br /><hr />
		<h2>{% trans "My Unapproved" %} {{ klass }}</h2>
		{% with unapproved as page %}
		{% include "repository/item_index_common.html" %}
		{% endwith %}
	{% endif %}
{% endif%}
</div>
{% endif %}

{% if task %}
<div id="tabs-task">
{% if task_searcherror %}
<div class="error">{% trans "Your search did not yield any results." %}</div>
{% else %}
	{% with task as page %}
	{% include "repository/item_index_common.html" %}
	{% endwith %}

	{% if unapproved %}
		<br /><hr />
		<h2>{% trans "My Unapproved" %} {{ klass }}</h2>
		{% with unapproved as page %}
		{% include "repository/item_index_common.html" %}
		{% endwith %}
	{% endif %}
{% endif%}
</div>
{% endif %}

{% if solution %}
<div id="tabs-solution">
{% if solution_searcherror %}
<div class="error">{% trans "Your search did not yield any results." %}</div>
{% else %}
	{% with solution as page %}
	{% include "repository/item_index_common.html" %}
	{% endwith %}

	{% if unapproved %}
		<br /><hr />
		<h2>{% trans "My Unapproved" %} {{ klass }}</h2>
		{% with unapproved as page %}
			{% include "repository/item_index_common.html" %}
		{% endwith %}
	{% endif %}
{% endif%}
</div>
{% endif %}

{% if challenge %}
<div id="tabs-challenge">
{% if challenge_searcherror %}
<div class="error">{% trans "Your search did not yield any results." %}</div>
{% else %}
	{% with challenge as page %}
	{% include "repository/item_index_common.html" %}
	{% endwith %}

	{% if unapproved %}
		<br /><hr />
		<h2>{% trans "My Unapproved" %} {{ klass }}</h2>
		{% with unapproved as page %}
			{% include "repository/item_index_common.html" %}
		{% endwith %}
	{% endif %}
{% endif%}
</div>
{% endif %}

{% if searchterm %}
</div><!-- /tabs -->
{% endif %}
</div><!-- /in -->
{% endblock %}
