{% extends "repository/base.html" %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {{ object.klass }} :: {% trans "Edit" %}{% endblock %}
{% block billboard %}{% trans "Repository" %} :: {{ object.klass }} :: {% trans "Edit" %}{% endblock %}

{% block extrahead %}
{% include "autocomplete.html" %}
<script type="text/javascript" src="/media/js/jquery/ui.core.js"></script>
<script type="text/javascript" src="/media/js/jquery/ui.tabs.js"></script>
<script type="text/javascript">
$(function() {
	$('#cancel').click(function() {
		window.history.back(-1);
	});

	$('#contents').tabs();
});
</script>
{% endblock %}

{% block content %}
<h1>{% trans "Edit" %} {{ object.klass }} {% trans "for" %} {{ object.name }} ({% trans "version" %} {{ object.version }})</h1>

<form action="{{ object.url_edit }}" method="post" enctype="multipart/form-data">
{% if form.errors %}
<div class="errorlist">{% trans "There had been errors, please see below" %}.</div>
{% endif %}
<div id="contents" class="widget">
<ul class="head">
	<li><a title="{% trans "Primary attributes of item + download" %}" href="#contents-main">{% trans "Main" %}</a></li>
	<li><a title="{% trans "Other attributes of item" %}" href="#contents-other">{% trans "Other" %}</a></li>
</ul>

<div id="contents-main">
	<div class="title"><label for="id_license">{% trans "License" %}</label> (<a href="{% url repository.views.index %}license">{% trans "more info" %}</a>) {{ form.license.errors }}</div>
	<div class="data">{{ form.license }}</div>
	<div class="title"><label for="id_tags">{% trans "Tags" %}</label> {{ form.tags.errors }}</div>
	<div class="data">{{ form.tags }}</div>
	<div class="title"><label for="id_description">{% trans "Description" %}</label> {{ form.description.errors }}</div>
	<div class="data">{{ form.description }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></div>
	<div class="title"><label for="id_is_public">{% trans "Is the Data item ready to be seen by the public" %}?</label> {{ form.is_public.errors }}</div>
	<div class="data">{{ form.is_public }}</div>
{% ifequal object.klass "Task" %}
	<div class="title"><label for="id_input">{% trans "Input format" %}</label> {{ form.input.errors }}</div>
	<div class="data">{{ form.input }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></div>
	<div class="title"><label for="id_output">{% trans "Output format" %}</label> {{ form.output.errors }}</div>
	<div class="data">{{ form.output }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></div>
	<div class="title"><label for="id_performance_measure">{% trans "Performance Measure" %}</label> {{ form.performance_measure.errors }}</div>
	<div class="data">{{ form.performance_measure }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></div>
	<div class="title"><label for="id_type">{% trans "Type" %}</label> {{ form.type.errors }} {{ form.freeformtype.errors }}</div>
	<div class="data">{{ form.type }} {{ form.freeformtype }}<br /><span class="helptext">{% trans "Select type of Task or add a new one by filling in the text field" %}.</span></div>
	<div class="title"><label for="id_data">{% trans "Data" %}</label> {{ form.data.errors }}</div>
	<div class="data">{{ form.data }}</div>
	<div class="title"><label for="id_splits">{% trans "Splits file" %}</label>: {{ form.splits.errors }}</div>
	<div class="data">{{ form.splits }}</div>
{% endifequal %}
</div>

<div id="contents-other">
	<div class="title"><label for="id_summary">{% trans "Summary" %}</label> {{ form.summary.errors }}</div>
	<div class="data">{{ form.summary }}</div>
	<div class="title"><label for="id_urls">{% trans "URLs" %}</label> {{ form.urls.errors }}</div>
	<div class="data">{{ form.urls }}</div>
	<div class="title"><label for="id_publications">{% trans "Publications" %}</label> {{ form.publications.errors }}</div>
	<div class="data">{{ form.publications }}</div>
{% ifequal object.klass "Data" %}
	<div class="title"><label for="id_source">{% trans "Data Source" %}</label> {{ form.source.errors }}</div>
	<div class="data">{{ form.source }}</div>
	<div class="title"><label for="id_measurement_details">{% trans "Measurement details" %}</label> {{ form.measurement_details.errors }}</div>
	<div class="data">{{ form.measurement_details }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></div>
	<div class="title"><label for="id_usage_scenario">{% trans "Usage scenario" %}</label> {{ form.usage_scenario.errors }}</div>
	<div class="data">{{ form.usage_scenario }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></div>
{% endifequal %}
</div>

<p><input type="submit" id="post" name="post" class="submit-post" value="{% trans "Edit" %}" /> <input type="button" id="cancel" name="cancel" class="submit-post" value="{% trans "Cancel" %}" /></p>
</div>
</form>
{% endblock %}

