{% load show_stars %}
{% load i18n %}
<div id="rating-hide-title">
	<div style="float:left" id="rating-hide-head">{% trans "Rating" %}</div>
	<div style="float:right" id="rating-hide-close"><a href="#">X</a></div>
</div>
<div style="clear:both" id="rating-hide-results">
	<div><nobr>{% show_stars current.rating_avg of 5 round to half %}</nobr> {% trans "Overall" %} ({% trans "based on" %} {{ current.rating_votes }} {% trans "vote" %}{{ current.rating_votes|pluralize }})</div>
	<div><nobr>{% show_stars current.rating_avg_interest of 5 round to half %}</nobr> {% trans "Interesting" %}</div>
	<div><nobr>{% show_stars current.rating_avg_doc of 5 round to half %}</nobr> {% trans "Documentation" %}</div>
</div>
{% if rating_form %}
<div id="rating-hide-form">
	{% trans "Ratings can be changed later on, '0' means poor and '5' means excellent" %}.</p>
	<form method="post" action="{{ rating_form.action }}">
		<ul class="rating-form">
			{{ rating_form.as_ul }}
		</ul>
		<input type="submit" value="{% trans "Submit ratings" %}">
	</form>
</div>
{% endif %}
