{% extends "repository/base.html" %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {% trans "Data" %} :: {% trans "Tags" %} :: {{ tag }}{% endblock %}
{% block billboard %}<a href="{% url repository.views.index %}">{% trans "Repository" %}</a> :: <a href="{% url repository.views.data_index %}">{% trans "Data" %}</a> :: <a href="{% url repository.views.tags_index %}">{% trans "Tags" %}</a> :: {{ tag }}{% endblock %}

{% block content-related %}
<p>{% trans "These items are tagged by" %} <strong>{{ tag }}</strong>:</p>
{% endblock %}


{% block content %}
<ul>
{% for obj in object_list %}
<li><a href="{% url repository.views.data_view obj.id %}">{{ obj.name }}</a></li>
{% endfor %}
</ul>
{% endblock %}

