{% extends "repository/base.html" %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {{ klass }} :: {% trans "New" %}{% endblock %}
{% block breadcrumbs %}<a href="{% url "repository_index" %}">{% trans "Repository" %}</a> / {{ klass }} / {% trans "New" %}{% endblock %}

{% block extrahead %}
{% include "autocomplete.html" %}
<script type="text/javascript" src="/media/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript">

$(function() {
	remove_error = function(errors) {
		$.each(errors, function (idx, val) {
			$('#error_' + val).remove();
		});
	}
	append_error = function(id) {
		$('label[for|=id_' + id + ']').append(
			'<span id="error_' + id + '" class="error">' + '{% trans "REQUIRED" %}' + '</span>');
		return true;
	}

	$('#tabs').tabs();

	validate = function() {
		error = false;
		remove_error(['name', 'input', 'output', 'performance_measure', 'performance_ordering', 'type', 'data']);

		if (!$('#id_name').val()) error = append_error('name');
		if (!$('#id_input').val()) error = append_error('input');
		if (!$('#id_output').val()) error = append_error('output');
		if (!$('#id_performance_measure').val()) error = append_error('performance_measure');
		if (!$('#id_type').val()) error = append_error('type');
		if (!$('#id_data').val()) error = append_error('data');

		return !error;
	};

	$('#form-new').submit(function(){
		if (!validate()) return false;

		if (!$('#id_keep_private').is(':checked')) {
			res = window.confirm('{% trans "WARNING: You are about to make this item public, it cannot be made private again!" %}');
			if (!res) { return false; }
		}
	});

	$('#id_type').change(function() {
		type = $('#id_type').val()
		// trickery to use django's URL function
		url = "{% url "repository.views.task.get_measures" 0 %}"
		url = url.substr(0, url.length - 2) + type;
		$.getJSON(url, function(data){
			opt = document.getElementById("id_performance_measure").options;
			opt.length=0;
			for (var i = 0; i < data.length; i++) {
			opt.add(new Option(data[i]));
			}
		});
	});

    $('#id_type').change();

	$('#id_performance_measure').change(function() {
		type = $('#id_type').val();
		name = $('#id_performance_measure').val();
		// trickery to use django's URL function
		url = "{% url "repository.views.task.get_measure_help" 0 0 %}";
		url = url.substr(0, url.length - 4) + type + "/" + name;
		$.getJSON(url, function(data){
			document.getElementById('id_help_pm').innerHTML = data;
		});
	});

    $('#id_performance_measure').change();


    $('#id_split_cont > tbody:last tr').live('change',function(){
        var act_row=this;
        if ($(act_row).next().html()==null) {
            var last_row=act_row;
            var train=$(last_row).find('td:first input').val();
            if (train!=="") {
                $('#id_split_cont > tbody:last').append('<tr><td><input type="text" name="train_idx" value=""/></td><td><input type="text" name="val_idx" value="" /></td><td><input type="text" name="test_idx" value="" /></td></tr>');
            }
        }
        else {    
            var middle_row=act_row;
            var train=$(middle_row).find('td:first input').val();
            var test=$(middle_row).find('td:last input').val();
            if (train=="") {
                $(middle_row).remove();
            }
        }    
    });       

});
</script>
{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Submit new" %} {{ klass }}</h2>
<div class="in">
	{% trans "Supply only vital information under the Summary tab. You can fill in additional information under More Info or later on by editing." %}

	<form id="form-new" action="{{ url_new }}" method="post" enctype="multipart/form-data">
	{% if form.errors %}<p class="error">{% trans "There were some errors, please see below" %}.</td>{% endif %}
		<div id="tabs">
			<ul class="clearfix">
				<li><a title="{% trans "Primary attributes of item + download" %}" href="#tabs-summary">{% trans "Summary" %}</a></li>
				<li><a title="{% trans "Other attributes of item" %}" href="#tabs-more">{% trans "More Info" %}</a></li>
				<li><a title="{% trans "Info for Task file" %}" href="#tabs-task">{% trans "Task" %}</a></li>
			</ul>


			<div id="tabs-summary"><dl>
				<dt><label for="id_name">{% trans "Name" %}</label> * {{ form.name.errors }}</dt>
				<dd>{{ form.name }}<br />
				    <span class="helptext">{% trans "Come up with good name. <b>IT CANNOT BE CHANGED LATER ON!</b> The name will also be used for creating the 'slug', that is, the readable id for this item." %}</span></dd>

				<dt><label for="id_summary">{% trans "Summary" %}</label> {{ form.summary.errors }}</dt>
				<dd>{{ form.summary }}<br />
            <span class="helptext">{% trans "One-line summary of your task" %}</span></dd>

				<dt><label for="id_tags">{% trans "Tags" %}</label> {{ form.tags.errors }}</dt>
				<dd>{{ form.tags }}<br />
				    <span class="helptext">{% trans "Space separated tags for your task (see tag cloud on the right)." %}</span></dd>

		{% ifequal klass "Task" %}
				<dt><label for="id_input">{% trans "Input format" %}</label> * {{ form.input.errors }}</dt>
				<dd>{{ form.input}}<br />
            <span class="helptext">
  						{% trans 'Describe the format of the <b>input features</b> for this learning task.' %}<br/>
							{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>

				<dt><label for="id_output">{% trans "Output format" %}</label> * {{ form.output.errors }}</dt>
				<dd>{{ form.output }}<br /><span class="helptext">
						{% trans 'Describe the format of the <b>output features</b> for this learning task.' %}<br/>
						{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>

				<dt><label for="id_performance_measure">{% trans "Performance Measure" %}</label> * {{ form.performance_measure.errors }}</dt>
				<dd>{{ form.performance_measure }}<br /><span class="helptext" id="id_help_pm"></span></dd>

				<dt><label for="id_type">{% trans "Type" %}</label> * {{ form.type.errors }}{{ form.freeformtype.errors }}</dt>
				<dd>{{ form.type }} {{ form.freeformtype }}<br /><span class="helptext">{% trans "Select type of Task or add a new one by filling in the text field" %}.</span></dd>

				<dt><label for="id_data">{% trans "Data" %}</label> * {{ form.data.errors }}</dt>
				<dd>{{ form.data }}<br/>
				    <span class="helptext">{% trans 'Data set on which the learning task is defined' %}</span></dd>

				<dt><label for="id_data_heldback">{% trans "Data (held back)" %}</label> {{ form.data_heldback.errors }}</dt>
				<dd>{{ form.data_heldback }}<br/>
				    <span class="helptext">{% trans 'Held back data file (for example for challenges)' %}</span></dd>

				<dt><label for="id_file">{% trans "Task file" %}</label> {{ form.file.errors }}</dt>
				<dd>{{ form.file }}<br/>
				    <span class="helptext">Upload additional information in a file (code, description, etc.)</span></dd>
			{% endifequal %}
			</dl></div><!-- /tabs-summary -->

			<div id="tabs-more"><dl>
				<dt><label for="id_description">{% trans "Description" %}</label> {{ form.description.errors }}</dt>
				<dd>{{ form.description }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_urls">{% trans "URLs" %}</label> {{ form.urls.errors }}</dt>
				<dd>{{ form.urls }}</dd>
				<dt><label for="id_publications">{% trans "Publications" %}</label> {{ form.publications.errors }}</dt>
				<dd>{{ form.publications }}</dd>
            </dl></div>            
            <!-- tabs-task  -->
		    <div id="tabs-task"><dl id="news">
				<dt><label for="id_input_variables">{% trans "Input Variables" %}</label> {{ form.input_variables.errors }}</dt>
				<dd>{{ form.input_variables }}</dd>
				<dt><label for="id_output_variables">{% trans "Output Variables" %}</label> {{ form.output_variables.errors }}</dt>
				<dd>{{ form.output_variables }}

                <dt>Datasplits</dt>
                <dd><table border="1" id="id_split_cont" name="split_cont"> 
                <tr>
                        <th>Train Indices</th><th>Validation Indices</th><th>Test Indices</th>
                </tr>                
                <tbody>                
                <tr><td><input type="text" name="train_idx" value=""/></td><td><input type="text" name="val_idx" value="" /></td><td><input type="text" name="test_idx" value="" /></td></tr>
                </tbody>
                </table></dd>

				<br/><span class="helptext">We use <a href="{% url "about_slicing" %}">python style</a> indices. For datasplits you can also use percents, which indicate the random sample of given size. If your indices do not fit into field use handmade h5 file insted.</span></dd>
			</dl></div><!-- /tabs-task -->
		</div>

		<input type="submit" name="post" class="submit" value="{% trans "Submit" %}" /> {{ form.keep_private }} {% trans "Keep private" %}
        {% csrf_token %}
	</form>
</div><!-- /in -->
{% endblock %}
