{% extends "base-2col.html" %}
{% load i18n %}

{% block title %}{% trans "Forum" %}{% endblock %}
{% block breadcrumbs %}{% trans "Forum" %}{% endblock %}

{% block aside %}
<h3 class="title-03">{% trans "Contents" %}</h3>
<div class="in">
<ul id="subnav">
	{% url forum_index as url_forumlist %}
	<li{% ifequal request.path url_forumlist %} class="active"{% endifequal %}><a title="List available forums" href="{{ url_forumlist }}">{% trans "Forums" %}</a></li>
</ul>
</div><!-- /in -->

<h3 class="title-04">{% trans "Info" %}</h3>
{% block aside-info %}{% endblock %}
{% endblock %}

{% block feeds %}
	{% if forum.title %}
	<a class="ico-rss" href="{% url forum_index %}rss/{{ forum.slug }}">{% trans "Forum" %} {{ forum.title }}</a>
	{% else %}
	<a class="ico-rss" href="{% url forum_index %}rss/{{ forum.slug }}">{% trans "Forum" %}</a>
	{% endif %}
{% endblock %}
