{% load i18n %}
{% load markup %}
{% if preview %}
<div class="in">
	<h3 class="title-02">{% trans "Preview" %}</h3>
	<dl>
		<dt>{{ preview.title }} ({% trans "by" %} <strong>{{ user }}</strong> {% trans "on" %} {% now "Y-m-d H:i" %})</dt>
		<dd>{{ preview.body|markdown }}</dd>
	</dl>
</div><!-- /in -->
{% endif %}

<div class="in">
{% if not request.user.is_authenticated %}
{% trans "To create a new Thread, please" %} <a href="{% url 'user_signin' %}?next={{ forum.get_absolute_url }}">sign in</a>.
{% else %}
	<h3 class="title-02">{% trans "Create a new Thread" %}</h3>
	<form method='post' action='{% url 'forum.views.newthread' forum.slug %}'>
	<dl>
		<dt>{{ form.title.label }}:{% if form.title.errors %}<span class="error">{{ form.title.errors|join:", " }}</span>{% endif %}</dt>
		<dt>{{ form.title|escape }}</dt>
		<dt>{{ form.body.label }}:{% if form.body.errors %}<span class="error">{{ form.body.errors|join:", " }}</span>{% endif %}</dt>
		<dt>{{ form.body }}</dt>
		<dd><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
		<dt><input class="submit" type="submit" name="preview" value="{% trans "Preview" %}" /> <input class="submit" type="submit" name="post" value="{% trans "Submit" %}" /></dt>
        {% csrf_token %}
	</dl>
	</form>
{% endif %}
</div><!-- /in -->
