{% extends "forum/base.html" %}
{% load i18n %}

{% block title %}{% trans "Forum" %}{% endblock %}
{% block breadcrumbs %}<a href="{% url forum_index %}">{% trans "Forum" %}</a>{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "List Forums" %}</h2>
<div class="in">
	<table>
	<tr>
		<th>{% trans "Forum" %}</th>
		<th>{% trans "Last Post" %}</th>
	</tr>
	{% for forum in object_list %}
	<tr>
		<td>
			<a href='{{ forum.get_absolute_url }}'>{{ forum.title }}</a><br />
			{{ forum.description }}<br />
			{{ forum.threads }} {% trans "thread" %}{{ forum.threads|pluralize }}, {{ forum.posts }} {% trans "post" %}{{ forum.posts|pluralize }}
		</td>
	<td>{% if forum.forum_latest_post %}{{ forum.forum_latest_post.time|timesince }} {% trans "ago by" %} {{ forum.forum_latest_post.author }} (<a href='{{ forum.forum_latest_post.get_absolute_url }}'>{% trans "view" %}</a>){% else %}{% trans "No Posts" %}{% endif %}</td>
	</tr>
	{% endfor %}
	</table>
</div><!-- /in -->
{% endblock %}

{% block aside %}
<h3 class="title-03">{% trans "Forum"%}</h3>
<div class="in">
{% trans "Use the discussion forums to inform us about problems with this site, missing features or just discuss general mldata issues." %}
</div>
{% endblock %}
