{% extends "forum/base.html" %}
{% load i18n %}

{% block title %}{% trans "Forum" %} :: {{ forum.title }} :: {{ thread.title }} :: {% trans "Reply" %}{% endblock %}
{% block breadcrumbs %}<a href="{% url forum_index %}">{% trans "Forum" %}</a> / <a href="{% url forum.views.forum forum.slug %}">{{ forum.title }}</a> / <a href="{% url forum.views.thread thread.id %}">{{ thread.title }}</a> / {% trans "Reply" %}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Reply to Thread" %}</h2>

{% if thread.closed %}
<div class="in">
	{% trans "Sorry, this thread is closed. No further replies are permitted." %}
</div><!-- /in -->
{% else %}
{% include "forum/form_reply.html" %}
{% endif %}
{% endblock %}
