{% extends "forum/base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Forum" %} :: {{ forum.title }} :: {{ thread.title }}{% endblock %}
{% block breadcrumbs %}<a href="{% url forum_index %}">{% trans "Forum" %}</a> / <a href="{% url forum.views.forum forum.slug %}">{{ forum.title }}</a> / {{ thread.title }}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Thread" %} {{ thread.title }}</h2>
<div class="in">
{% if is_paginated %}
	<a href="?page=1">&laquo;</a> {% for page_number in paginator.page_range %}{% ifequal page_number page %}{{ page_number }}{% else %}<a href="?page={{ page_number }}">{{ page_number }}</a>{% endifequal %} {% endfor %} <a href="?page={{ paginator.num_pages }}">&raquo;</a>
{% endif %}

	<dl id="news">
	{% for post in post_list %}
		<dt id='post{{ post.id }}'>{{ post.author }} ({% blocktrans with post.time|timesince as time %}{{ time }} ago{% endblocktrans %})</dt>
		<dd>{{ post.body_html|safe }}</dd>
	{% endfor %}
	</dl>

{% if is_paginated %}
	<a href="?page=1">&laquo;</a> {% for page_number in paginator.page_range %}{% ifequal page_number page %}{{ page_number }}{% else %}<a href="?page={{ page_number }}">{{ page_number }}</a>{% endifequal %} {% endfor %} <a href="?page={{ paginator.num_pages }}">&raquo;</a>
{% endif %}
</div><!-- /in -->

{% if thread.closed %}
<div class="in">
	{% trans "Sorry, this thread is closed. No further replies are permitted." %}
</div>
{% else %}
{% include "forum/form_reply.html" %}
{% endif %}
{% endblock %}

{% block aside-info %}
<div class="in">
	{% trans "View this thread and post a reply." %}
</div><!-- /in -->

{% include "forum/feed.html" %}
{% endblock %}
