{% extends "forum/base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Forum" %} :: {{ forum.title }} :: {% trans "New Thread" %}{% endblock %}
{% block breadcrumbs %}<a href="{% url 'forum_index' %}">{% trans "Forum" %}</a> / <a href="{% url 'forum_thread_list' forum.slug %}">{{ forum.title }}</a> / {% trans "New Thread" %}{% endblock %}


{% block content %}
<h2 class="title-01">{% trans "New Thread" %}</h2>
{% include "forum/form_thread_new.html" %}
{% endblock %}

{% block aside-info %}
<div class="in">
	{% trans "Create a new thread in forum" %} <a href="{% url 'forum_thread_list' forum.slug %}">{{ forum.title }}</a>.
</div><!-- /in -->
{% endblock %}
