{% extends "forum/base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Forum" %} :: {{ forum.title }}{% endblock %}
{% block breadcrumbs %}<a href="{% url 'forum_index' %}">{% trans "Forum" %}</a> / {{ forum.title }}{% endblock %}


{% block content %}
<h2 class="title-01">{% trans "View Threads" %}</h2>
<div class="in">
	{% if thread_list %}
	{% if is_paginated %}
	<a href="?page=1">&laquo;</a> {% for page_number in paginator.page_range %}{% ifequal page_number page %}{{ page_number }}{% else %}<a href="?page={{ page_number }}">{{ page_number }}</a>{% endifequal %} {% endfor %} <a href="?page={{ paginator.num_pages }}">&raquo;</a>
	{% endif %}
	<table>
		<tr>
			<th>{% trans "Thread" %}</th>
			<th>{% trans "Posts" %}</th>
			<th>{% trans "Views" %}</th>
			<th>{% trans "Last Post" %}</th>
		</tr>
		{% for t in thread_list %}
		<tr>
			<td>{% if t.sticky %}{% trans "Sticky" %} {% endif %}<a href='{{ t.get_absolute_url }}'>{{ t.title }}</a>{% if t.closed %} ({% trans "Closed" %}){% endif %}
			</td>
			<td>{{ t.posts }}</td>
			<td>{{ t.views }}</td>
			<td>{{ t.thread_latest_post.time|timesince }} {% trans "ago by" %} {{ t.thread_latest_post.author }} (<a href='{{ t.thread_latest_post.get_absolute_url }}'>{% trans "view" %}</a>)</td>
		</tr>
		{% endfor %}
	</table>
	{% if is_paginated %}
		<a href="?page=1">&laquo;</a> {% for page_number in paginator.page_range %}{% ifequal page_number page %}{{ page_number }}{% else %}<a href="?page={{ page_number }}">{{ page_number }}</a>{% endifequal %} {% endfor %} <a href="?page={{ paginator.num_pages }}">&raquo;</a>
	{% endif %}
	{% endif %}
</div><!-- /in -->

{% include "forum/form_thread_new.html" %}
{% endblock %}

{% block aside-info %}
<div class="in">
	{% trans "Choose the thread you would like to read or contribute to. Or simply create a new one if the existing threads do not fit." %}
</div><!-- /in -->
{% endblock %}
