{% extends "forum_base.html" %}

{% load markup %}
{% load i18n %}

{% block title %}{{ thread.title }} ({{ forum.title }}){% endblock %}
{% block billboard %}{% trans "Thread" %}: {{ thread.title }} ({{ forum.title }}){% endblock %}
{% block pagetitle %}{{ forum.title }} &raquo; {{ thread.title }}{% endblock %}


{% block content %}
<table class="posts">
{% if is_paginated %}
<thead><tr>
	<td class="paginator"><a href="?page=1">&laquo;</a> {% for page_number in paginator.page_range %}{% ifequal page_number page %}{{ page_number }}{% else %}<a href="?page={{ page_number }}">{{ page_number }}</a>{% endifequal %} {% endfor %} <a href="?page={{ paginator.num_pages }}">&raquo;</a></td>
</thead></tr>
{% endif %}

	{% for post in post_list %}
	<tr>
		<th id='post{{ post.id }}'>{{ post.author }} ({% blocktrans with post.time|timesince as time %}{{ time }} ago{% endblocktrans %})</th>
	</tr>
	<tr>
		<td>{{ post.body_html|safe }}</td>
	</tr>
	{% endfor %}

{% if is_paginated %}
<tfoot><tr>
	<td class="paginator"><a href="?page=1">&laquo;</a> {% for page_number in paginator.page_range %}{% ifequal page_number page %}{{ page_number }}{% else %}<a href="?page={{ page_number }}">{{ page_number }}</a>{% endifequal %} {% endfor %} <a href="?page={{ paginator.num_pages }}">&raquo;</a></td>
</tfoot></tr>
{% endif %}
</table>

{% if posting %}
<h2>{% trans "Preview" %}</h2>
<div id="threadlist">
	<dt id="post{{ posting.id }}">{{ posting.author }} ( on {{ posting.time|date:"F j, Y, H:i:s" }} )</dt>
	{{ posting.body|markdown:"safe" }}
</div>
{% endif %}

{% if thread.closed %}
<h2>{% trans "Sorry, this thread is closed. No further replies are permitted." %}</h2>
{% else %}
<dl>
	{% if not user.is_authenticated %}
	<h2>{% trans "Please login to post a reply" %}</h2>
	<form method='post' action='/accounts/login/?next={{ thread.get_absolute_url }}'>
		<dt><label for="id_username"><tt>{% trans "Username" %}:</tt></label></dt>
		<dd><input id="id_username" type="text" name="username" maxlength="30" /></dd>
		<dt><label for="id_password"><tt>{% trans "Password" %}:</tt></label></dt>
		<dd><input id="id_password" type="password" name="password" maxlength="30" /></dd>
		<dt colspan="2"><input type="submit" name="post" value="{%trans "Login" %}"/></dt>
	{% else %}
	<h2>{% trans "Post a Reply (as" %} {{ user.username }})</h2>
	<form method='post' action='reply/'>
		{% if form.body.errors %}<dt><span class="error">{{ form.body.errors|join:", " }}</span></dt>{% endif %}
		<dt><textarea id="id_body" rows="8" cols="50" tabindex="1" name="body">{{ form.data.body|safe }}</textarea></dt>
		<dt>{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax" tabindex="3">Markdown syntax</a> here, but <b>raw HTML will be removed</b>.' %}</dt>
		<dt><input type="submit" tabindex="2" name="post" value="{% trans "Post Message" %}"/></dt>
		{% endif %}
	</form>
</dl>
{% endif %}
{% endblock %}

{% block content-related %}
<dl><dd>{% trans "You are in Forum" %} <a href='{{ forum.get_absolute_url }}'><b>{{ forum.title }}</b></a> {% trans "looking at thread" %} <a href='{{thread.get_absolute_url}}'><b>{{ thread.title }}</b></a>.
</dd></dl>
<dl>
    <dd>
    <h3><a href="{% url forum_index %}rss/{{ forum.slug }}"><img src="/media/images/rss.png" alt="RSS Feed" border="0" width="16" height="16" align="top"></img> {% trans "RSS Feed" %} - "{{ forum.title }}"</a></h3>
     <h3> <script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=web%2Cemail&amp;charset=utf-8&amp;services=reddit%2Cdigg%2Cdelicious%2Cstumbleupon%2Cyahoo_buzz%2Ctechnorati%2Cgoogle_bmarks%2Cyahoo_bmarks%2Cfurl%2Cslashdot%2Cmagnolia%2Cmister_wong%2Cyigg&amp;style=default&amp;publisher=85555fbd-bb3a-4ab4-af6f-5dea32a6a5e4"></script></h3> 
    </dd>
</dl>
{% endblock %}
