{% extends "forum/base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Forum" %} :: {{ forum.title }} :: {% trans "New Thread" %}{% endblock %}
{% block billboard %}{% trans "Forum" %} :: {{ forum.title }} :: {% trans "New Thread" %}{% endblock %}


{% block content %}
<h1>{% trans "New Thread" %}</h1>

{% include "forum/form_thread_new.html" %}
{% endblock %}


{% block content-related %}
<dl><dd>
{% trans "You are in Forum" %} <a href='{{ forum.get_absolute_url }}'><b>{{ forum.title }}</b></a>. {% trans "Choose the thread you would like to read or contribute to. Or simply create a new one if the existing threads do not fit." %}
</dd></dl>


<dl>
    <dd>
    <h3><a href="{% url forum_index %}rss/{{ forum.slug }}"><img src="/media/images/rss.png" alt="RSS Feed" border="0" width="16" height="16" align="top"></img> RSS Feed - "{{ forum.title }}"</a></h3>
      <h3><script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=web%2Cemail&amp;charset=utf-8&amp;services=reddit%2Cdigg%2Cdelicious%2Cstumbleupon%2Cyahoo_buzz%2Ctechnorati%2Cgoogle_bmarks%2Cyahoo_bmarks%2Cfurl%2Cslashdot%2Cmagnolia%2Cmister_wong%2Csimpy%2Cyigg&amp;offsetTop=-336&amp;style=default&amp;publisher=85555fbd-bb3a-4ab4-af6f-5dea32a6a5e4"></script></h3> 
    </dd>
</dl>
{% endblock %}
