{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "OpenID Association" %}{% endblock %}
{% block breadcrumbs %}{% trans "Accounts" %} / {% trans "OpenID Association" %}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "OpenID Association" %}</h2>
<div class="in">
	<h2>{% trans "Your OpenID is verified! You can associate it now" %}:</h2>

	{% if form1.errors %}
	<p class="error">{% trans "Please correct errors below:" %}<br />
		{% if form1.username.errors %} 
			<span class="error">{{ form1.username.errors|join:", " }}</span>
		{% endif %}
		{% if form1.email.errors %} 
			<span class="error">{{ form1.email.errors|join:", " }}</span>
		{% endif %}
		{% if form1.non_field_errors %} 
			<span class="error">{{ form1.non_field_errors|join:", " }}</span>
		{% endif %}
	</p>
	{% endif %}

	{% if form2.errors %}
	<p class="error">{% trans "Please correct errors below:" %}<br />
		{% if form2.username.errors %} 
			<span class="error">{{ form2.username.errors|join:", " }}</span>
		{% endif %}
		{% if form2.password.errors %} 
			<span class="error">{{ form2.password.errors|join:", " }}</span>
		{% endif %}
		{% if form2.non_field_errors %} 
			<span class="error">{{ form2.non_field_errors|join:", " }}</span>
		{% endif %}
	</p>
	{% endif %}

	<div class="login">
		<h3>{% trans "A new account" %}</h3>
        <form name="fregister" action="{% url user_register %}" method="POST">
            <input type="hidden" name="next" value="{{ next }}" />
			<fieldset>
				<div class="form-row"><label for="id_username">{% trans "Username" %}</label><br />{{ form1.username }}</div>
				<div class="form-row"><label for="id_email">{% trans "Email" %}</label><br />{{ form1.email }}</div>
				<div class="submit-row"><input type="submit" class="submit" name="bnewaccount" value="{% trans "Create Account" %}"></div>
            </fieldset>
		</form>
	</div>

	<hr />

	<div class="login">
		<h3>{% trans "An existing account" %}</h3>
        <form name="fverify" action="{% url user_register %}" method="POST">
            <input type="hidden" name="next" value="{{ next }}" />
			<fieldset>
				<div class="form-row"><label for="id_username">{% trans "Username" %}</label><br />{{ form2.username }}</div>
				<div class="form-row"><label for="id_passwordl">{% trans "Password" %}</label><br />{{ form2.password }}</div>
				<div class="submit-row"><input type="submit" class="submit" name="bverify" value="{% trans "Verify" %}"></div>
			</fieldset>
		</form>
	</div>
</div><!-- /in -->
{% endblock %}

{% block aside %}
<h4 class="title-03">{% trans "Contents" %}</h4>
<div class="in">{% trans "Your OpenID can now be associated with a new or existing membership. You can change the association later in your preferences" %}.</div>
{% endblock %}
