{% extends "base-1col.html" %}
{% load i18n %}

{% block title %}{% trans "Sign in" %}{% endblock %}
{% block breadcrumbs %}{% trans "Accounts" %} / {% trans "Sign in" %}{% endblock %}

{% block extrahead %}
<!--
<link rel="stylesheet" media="screen,projection" type="text/css" href="/media/css/openid.css" />
<script type="text/javascript" src="/media/js/jquery/jquery.min.js"></script>
<script type="text/javascript" src="/media/js/jquery/openid.js"></script>
<script type="text/javascript">
$(function() {
	openid.init('id_openid_url');
});
</script>
-->
{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Sign in" %}</h2>

<div class="in">
{% if msg %}<p class="warning">{{ msg }}</p>{% endif %}

{% if form2.errors %}
<div class="error"><p>{% trans "Please correct errors below:" %}<br />
	{% if form2.username.errors %} 
		<span class="error">{{ form2.username.errors|join:", " }}</span>
	{% endif %}
	{% if form2.password.errors %} 
		<span class="error">{{ form2.password.errors|join:", " }}</span>
	{% endif %}
	{% if form2.non_field_errors %} 
		<span class="error">{{ form2.non_field_errors }}</span>
	{% endif %}
</p></div>
<br>
{% endif %}

<form id="auth_form" name="auth_form" action="{% url user_signin %}" method="post">
	<h3>{% trans "Sign In Using Your Account ID" %}</h3>
	<input type="hidden" name="next" value="{{ next }}" />
	<fieldset>
		<div class="form-row"><label for="id_username">{% trans "Username:" %}</label><br />{{ form2.username }}</div>
		<div class="form-row"><label for="id_password">{% trans "Password" %}</label><br />{{ form2.password }}</div>
		<br />
		<div class="submit-row"><input type="submit" class="submit" name="blogin" value="{% trans "Sign in" %}"> </div>
	</fieldset>	
</form>

<br style="clear:both" />

{% if form1.errors %}
<hr>
<div class="error">
    <p><span class="error">{{ form1.openid_url.errors|join:", " }}</span></p>
</div>
{% endif %}

<!--
<form id="openid_form" name="openid_form" action="{% url user_signin %}" method="post">
	<h3>{% trans "Sign In Using Your OpenID URL" %}</h3>
	<input type="hidden" name="action" value="verify" />
	<input type="hidden" name="next" value="{{ next }}" />
	<fieldset>
		<div id="openid_choice">
			Please click your account provider:
			<div id="openid_btns"></div>
		</div>
		<div id="openid_input_area"></div>
	</fieldset>
</form>	
-->
</div> <!-- /in -->
{% endblock %}
