{% extends "base-2col.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Blog" %}{% endblock %}
{% block breadcrumbs %}{% trans "Blog" %}{% endblock %}

{% block aside %}
<h4 class="title-03">{% trans "Contents" %}</h4>
<div class="in">
	<ul id="subnav">
		{% url blog.views.new as url_new %}
		<li{% ifnotequal request.path url_new %} class="active"{% endifnotequal %}><a title="Archive of all blog entries" href="{% url blog_index %}">{% trans "Archive" %}</a></li>
		<li{% ifequal request.path url_new %} class="active"{% endifequal %}><a title="Submit new post" href="{{ url_new }}">{% trans "New Post" %}</a></li>
	</ul>
</div><!-- /in -->

<h4 class="title-04">{% trans "Info" %}</h4>
{% block aside-info %}{% endblock %}
{% endblock %}

{% block feeds %}
<a class="ico-rss" href="{% url blog.feeds.RssBlogFeed %}">Blog</a>
{% endblock %}
