{% extends "base_2col.html" %}
{% load markup %}
{% load i18n %}

{% block sectionid %}blog{% endblock %}

{% block title %}{% trans "Blog" %}{% endblock %}

{% block billboard %}{% trans "Blog" %}{% endblock %}

{% block content-related %}
{% if user.is_authenticated %}
<h2>{% trans "Post" %}</h2>
<ul>
	<li><h3><a href="/blog/new/">{% trans "Post a new entry" %}</a></h3></li>
</ul>
{% endif %}

<h2>{% trans "Archive" %}</h2>
<ul>
{% block content-archive %}
	<li><h3><a href="/blog/archive/">{% trans "Index" %}</a></h3></li>
{% endblock %}
</ul>

<h3><a href="/blog/rss/latest"><img src="/media/images/rss.png" alt="RSS Feed" border="0" width="16" height="16" align="top"></img> RSS Feed - Blog</a></h3>
 <h3>
<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=web%2Cemail&amp;charset=utf-8&amp;services=reddit%2Cdigg%2Cdelicious%2Cstumbleupon%2Cyahoo_buzz%2Ctechnorati%2Cgoogle_bmarks%2Cyahoo_bmarks%2Cfurl%2Cslashdot%2Cmagnolia%2Cmister_wong%2Cyigg&amp;offsetTop=-306&amp;style=default&amp;publisher=85555fbd-bb3a-4ab4-af6f-5dea32a6a5e4"></script></h3>
{% endblock %}

