{% extends "blog/base.html" %}
{% load i18n %}

{% block title %}{% trans "Blog" %} :: {% trans "New Post" %}{% endblock %}

{% block billboard %}<a href="{% url blog_index %}">{% trans "Blog" %}</a> :: <a href="{% url blog.views.new %}">{% trans "New Post" %}</a>{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1>{% trans "Submit a new Post" %}</h1>

<form action="{% url blog.views.new %}" method="POST">
<dl>
	<dd><label for="id_headline">{% trans "Headline" %}</label>: {{ form.headline.errors }}</dd>
	<dt>{{ form.headline }}</dt>
	<dd><label for="id_url">{% trans "Summary" %}</label>: {{ form.summary.errors }}</dd>
	<dt>{{ form.summary }}</dt>
	<dd><label for="id_body">{% trans "Body" %}</label>: {{ form.body.errors }}</dd>
	<dt>{{ form.body }}</dt>
	<dt><input type="submit" name="post" class="submit-post" value="{% trans "Submit" %}" /></dt>
</dl>
</form>
{% else %}
{% include "form_login.html" %}
{% endif %}
{% endblock %}
