{% extends "blog/base.html" %}
{% load i18n %}

{% block title %}{% trans "Blog" %} :: {% trans "New Post" %}{% endblock %}

{% block billboard %}<a href="{% url blog_index %}">{% trans "Blog" %}</a> :: <a href="{% url blog.views.new %}">{% trans "New Post" %}</a>{% endblock %}

{% block content %}
<h1>{% trans "Submit a new Post" %}</h1>

<form action="{% url blog.views.new %}" method="POST">
<dl>
	<dd>{{ form.headline.label }}: {{ form.headline.errors }}</dd>
	<dt>{{ form.headline }}</dt>
	<br />
	<dd>{{ form.summary.label }}: {{ form.summary.errors }}</dd>
	<dt>{{ form.summary }}<br /></dt>
	<br />
	<dd>{{ form.body.label }}: {{ form.body.errors }}</dd>
	<dt>{{ form.body }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dt>
	<dt><input type="submit" name="post" class="submit-post" value="{% trans "Submit" %}" /></dt>
</dl>
</form>
{% endblock %}
