{% extends "blog/base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Blog" %} :: {{ object.headline|escape }}{% endblock %}

{% block billboard %}<a href="{% url blog_index %}">{% trans "Blog" %}</a> :: <a href="../../../">{{ object.pub_date|date:"Y" }}</a> :: <a href="../../">{{ object.pub_date|date:"m" }}</a> :: <a href="../">{{ object.pub_date|date:"d" }}</a>{% endblock %}

{% block content %}
<table>
<tr>
	<th>{{ object.headline }} ({% trans "by" %} <strong>{{ object.author }}</strong> {% trans "on" %} {{ object.pub_date|date:"F j Y, H:i" }})</th>
</tr>
<tr>
	<td>{{ object.body|markdown:"safe" }}</td>
</tr>
</table>
<br />

{% load comments %}
{% get_comment_list for blog.post object.id as comment_list %}
{% include "comment_list.html" %}
{% get_comment_form for blog.post object.id as form %}
{% include "comment_form.html" %}

{% endblock %}
