{% extends "blog/base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Blog" %} :: {{ object.headline|escape }}{% endblock %}

{% block billboard %}<a href="{% url blog_index %}">{% trans "Blog" %}</a> :: <a href="../../../">{{ object.pub_date|date:"Y" }}</a> :: <a href="../../">{{ object.pub_date|date:"m" }}</a> :: <a href="../">{{ object.pub_date|date:"d" }}</a>{% endblock %}

{% block content %}
<table>
<tr>
	<th>{{ object.headline }} ({% trans "by" %} <strong>{{ object.author }}</strong> {% trans "on" %} {{ object.pub_date|date:"F j Y, H:i" }})</th>
</tr>
<tr>
	<td>{{ object.body|markdown:"safe" }}</td>
</tr>
</table>
<br />

{% load comments %}
{% get_comment_list for blog.post object.id as comment_list %}
{% if comment_list %}
<h2 id="comments">{% trans "Comments" %}</h2>
{% for comment in comment_list %}
<dl><dd>
	<div class="comment"><dl>
		<dt id="c{{ comment.id }}">{{ comment.user_name }} (on {{ comment.submit_date|date:"F j Y, H:i" }})</dt>
		<dd>{{ comment.comment|markdown:"safe" }}</dd>
	</dl></div>
</dd></dl>
<hr />
{% endfor %}
{% else %}
<p>{% trans "No one has posted any comments yet. Perhaps you would like to be the first?" %}</p>
{% endif %}
<br />

{% if user.is_authenticated %}
<h2>{% trans "Leave a comment" %}</h2>

{% get_comment_form for blog.post object.id as form %}
<form action="{% comment_form_target %}" method="POST">
<dl>
<!--
	<dd><label for="id_name">Name:</label></dd>
	<dt><input id="id_name" type="text" name="name" maxlength="50" value="{{ user.username }}" /></dt>
	<dd><label for="id_email">Email address:</label></dd>
	<dt><input type="text" name="email" id="id_email" value="{{ user.email }}" /></dt>
	<dd><label for="id_url">URL:</label></dd>
	<dt><input type="text" name="url" id="id_url" /></dt>
	<dd><label for="id_comment">{% trans "Comment" %}:</label></dd>
-->
	<dt><textarea id="id_comment" rows="10" cols="40" name="comment"></textarea></dt>
	<dt><input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" /></dt>
</dl>
<input type="hidden" name="name" id="id_name" maxlength="50" value="{{ user.username }}" />
<input type="hidden" name="email" id="id_email" value="{{ user.email }}" />
<span style="display:none">
	<label for="id_honeypot">{% trans "If you enter anything in this field your comment will be treated as spam" %}:</label>
	<input type="text" name="honeypot" id="id_honeypot" />
</span>
{{ form.content_type }}
{{ form.object_pk }}
{{ form.timestamp }}
{{ form.security_hash }}
<input type="hidden" name="next" value="{{ object.get_absolute_url }}" />
</form>
{% else %}
<h2>{% trans "Please login to post a comment" %}</h2>
<form method='post' action='/accounts/login/?next={{ object.get_absolute_url }}'>
	<dt><label for="id_username"><tt>{% trans "Username" %}:</tt></label></dt>
	<dd><input id="id_username" type="text" name="username" maxlength="30" /></dd>
	<dt><label for="id_password"><tt>{% trans "Password" %}:</tt></label></dt>
	<dd><input id="id_password" type="password" name="password" maxlength="30" /></dd>
	<dt colspan="2"><input type="submit" name="post" value="{% trans "Login" %}"/></dt>
</form>
{% endif %}
{% endblock %}
