{% extends "blog/base.html" %}
{% load markup %}
{% load i18n %}

{% block title %}{% trans "Blog" %} :: {{ object.headline|escape }}{% endblock %}
{% block breadcrumbs %}<a href="{% url blog_index %}">{% trans "Blog" %}</a> / <a href="../../../">{{ object.pub_date|date:"Y" }}</a> / <a href="../../">{{ object.pub_date|date:"m" }}</a> / <a href="../">{{ object.pub_date|date:"d" }}</a> / {{ object.headline }}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "View Post" %}</h2>
<div class="in">
	<dl>
		<dt>{{ object.headline }} ({% trans "by" %} <strong>{{ object.author }}</strong> {% trans "on" %} {{ object.pub_date|date:"Y-m-d H:i" }})</dt>
		<dd>{{ object.body|markdown:"safe" }}</dd>
	</dl>
</div><!-- /in -->

{% load comments %}
{% get_comment_list for blog.post object.id as comment_list %}
{% include "comments/list.html" %}
{% get_comment_form for blog.post object.id as form %}
{% include "comments/form.html" %}
{% endblock %}

{% block aside-info %}
<div class="in">
{% trans "Viewing post" %} {{ object.headline }}.
</div><!-- /in -->
{% endblock %}
