{% extends "blog/base.html" %}
{% load i18n %}
{% load markup %}

{% block title %}{% trans "Blog" %} :: {{ day|date:"Y/m/d" }}{% endblock %}

{% block billboard %}<a href="{% url blog_index %}">{% trans "Blog" %}</a> ::
<a href="../../">{{ day|date:"Y" }}</a> :: <a href="../">{{ day|date:"m" }}</a> :: <a href="">{{ day|date:"d" }}</a>{% endblock %}

{% block content %}
<h1>{{ day|date:"F j Y" }} {% trans "Archive" %}</h1>

<ul>
{% for object in object_list %}
	<li><a href="{{ object.get_absolute_url }}">{{ object.headline }}</a> ({% trans "by" %} {{ object.author }}, {{ object.pub_date|date:"H:i" }})</li>
{% endfor %}
</ul>

{% endblock %}
