{% extends "repository/base.html" %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {{ klass }} :: {% trans "New" %}{% endblock %}
{% block breadcrumbs %}<a href="{% url repository_index %}">{% trans "Repository" %}</a> / {{ klass }} / {% trans "New" %}{% endblock %}

{% block extrahead %}
{% include "autocomplete.html" %}
<script type="text/javascript" src="/media/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript">

$(function() {
	remove_error = function(errors) {
		$.each(errors, function (idx, val) {
			$('#error_' + val).remove();
		});
	}
	append_error = function(id) {
		$('label[for|=id_' + id + ']').append(
			'<span id="error_' + id + '" class="error">' + '{% trans "REQUIRED" %}' + '</span>');
		return true;
	}

	$('#tabs').tabs();

	$('#form-new').submit(function() {
		if (!$('#id_keep_private').is(':checked')) {
			return window.confirm('{% trans "WARNING: You are about to make this item public, it cannot be made private again!" %}');
		}
	});

});
</script>
{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Submit new" %} {{ klass }}</h2>
<div class="in">
	{% trans "Supply only vital information under the Summary tab. You can fill in additional information under More Info or later on by editing." %}

	<form id="form-new" action="{{ url_new }}" method="post" enctype="multipart/form-data">
	{% if form.errors %}<p class="error">{% trans "There were some errors, please see below" %}.</td>{% endif %}
		<div id="tabs">
			<ul class="clearfix">
				<li><a title="{% trans "Primary attributes of item + download" %}" href="#tabs-summary">{% trans "Summary" %}</a></li>
				<li><a title="{% trans "Other attributes of item" %}" href="#tabs-more">{% trans "More Info" %}</a></li>
			</ul>


			<div id="tabs-summary"><dl>
				<dt><label for="id_name">{% trans "Name" %}</label> * {{ form.name.errors }}</dt>
				<dd>{{ form.name }}<br />
				    <span class="helptext">{% trans "Come up with good name. <b>IT CANNOT BE CHANGED LATER ON!</b> The name will also be used for creating the 'slug', that is, the readable id for this item." %}</span></dd>

				<dt><label for="id_summary">{% trans "Summary" %}</label> {{ form.summary.errors }}</dt>
				<dd>{{ form.summary }}<br />
            <span class="helptext">{% trans "One-line summary of your data set" %}</span></dd>

				<dt><label for="id_tags">{% trans "Tags" %}</label> {{ form.tags.errors }}</dt>
				<dd>{{ form.tags }}<br />
				    <span class="helptext">{% trans "Space separated tags for you data set (see tag cloud on the right)." %}</span></dd>

				<dt><label for="id_feature_processing">{% trans "Feature Processing" %}</label> {{ form.feature_processing.errors }}</dt>
				<dd>{{ form.feature_processing }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_parameters">{% trans "Parameters" %}</label> {{ form.parameters.errors }}</dt>
				<dd>{{ form.parameters }}</dd>
				<dt><label for="id_os">{% trans "Operating System" %}</label> {{ form.os.errors }}</dt>
				<dd>{{ form.os }}</dd>
				<dt><label for="id_code">{% trans "Code" %}</label> {{ form.code.errors }}</dt>
				<dd>{{ form.code }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_software_packages">{% trans "Software Packages" %}</label> {{ form.software_packages.errors }}</dt>
				<dd>{{ form.software_packages }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
			</dl></div><!-- /tabs-summary -->

			<div id="tabs-more"><dl>
				<dt><label for="id_description">{% trans "Description" %}</label> {{ form.description.errors }}</dt>
				<dd>{{ form.description }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_urls">{% trans "URLs" %}</label> {{ form.urls.errors }}</dt>
				<dd>{{ form.urls }}</dd>
				<dt><label for="id_publications">{% trans "Publications" %}</label> {{ form.publications.errors }}</dt>
				<dd>{{ form.publications }}</dd>
			</dl></div><!-- /tabs-more -->
		</div>

		<input type="submit" name="post" class="submit" value="{% trans "Submit" %}" /> {{ form.keep_private }} {% trans "Keep private" %}
	</form>

</div><!-- /in -->
{% endblock %}

