{% extends "repository/base.html" %}
{% load i18n %}
{% load markup %}
{% load show_stars %}
{% load repository_filters %}
{% load paginator %}

{% block title %}{% trans "Repository" %} :: {{ object.klass }} :: {{ object.name }}{% endblock %}
{% block breadcrumbs %}<a href="{% url repository_index %}">{% trans "Repository" %}</a> / <a href="{% url method_index %}">{% trans "Method" %}</a> / {% trans "View" %} /
{{ object.name }}
{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/media/js/fileuploader.js"></script>
<link rel="stylesheet" media="screen,projection" type="text/css" href="/media/css/fileuploader.css" />
<script type="text/javascript" src="/media/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript">
var hover_timer = null;
var hover_delay = 500;

function hover_del_timer() {
	if (hover_timer) {
		clearTimeout(hover_timer);
		hover_timer = null;
	}
}

function hover_set_timer(elem) {
	hover_del_timer();
	hover_timer = setTimeout(function() {
		$(elem).css('visibility', 'visible');
	}, hover_delay);
}


$(function() {
	$('#delete').click(function() {
		if (confirm('{% trans "Do you really want to delete this version?" %}')) {
			return true;
		} else {
			return false;
		}
	});

{% if not object.is_public and can_activate %}
	$('#activate').click(function() {
		if (confirm('{% trans "WARNING: Activating will make this item current and public! Do you really want that?" %}')) {
			return true;
		} else {
			return false;
		}
	});
{% endif %}

	$('#rating').hover(function() { hover_set_timer('#rating-hide'); });
	$('#rating').mouseleave(function() { hover_del_timer(); });
	$('#rating-hide-close').click(function() {
		$('#rating-hide').css('visibility', 'hidden');
		return false; // otherwise browser would append '#' to url
	});

	$('#tabs-method #id_challenge').change(function() {
		id = $('#tabs-method #id_challenge').val()
		// trickery to use django's URL function
		url = "{% url repository.views.challenge.get_tasks 0 %}"
		url = url.substr(0, url.length - 2) + id;
		$.getJSON(url, function(data){
			opt = document.getElementById("id_task").options;
			opt.length=0;
			for (var i = 0; i < data.length; i++) {
			opt.add(new Option(data[i].fields.name, data[i].pk));
			}
			$('#tabs-method #id_id').val(id);
		});
	});
	$('#tabs-method #id_title').val('');
	$('#tabs-publications #id_content').val('');

	$('#tabs').tabs();
});
</script>
{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "View" %} {{ object.name }} ({% if object.is_public %}{% trans "public" %}{% else %}{% trans "private" %}{% endif %})</h2>
<div class="in">
	<div id="info">
		{{ object.pub_date|date:"Y-m-d H:i" }} {% trans "by" %} {{ object.user.username }} | {% trans "Version" %} {{ object.version }} | <span id="rating"><a href="#">{% trans "Rating" %}</a> {% show_stars current.rating_avg of 5 round to half %}</span>
		<div id="rating-hide">{% include "repository/rating_hide.html" %}</div>
	</div>

	<div id="actions">
		<a{% if can_activate %} id="activate" href="{% url method_activate object.pk %}" title="{% trans "Make this version current and public" %}"{% else %} id="disabled"{% endif %}>{% trans "ACTIVATE" %}</a>
		<a{% if can_edit %} href="{% url method_edit object.pk %}" title="{% trans "Edit this version to create a new current one" %}{% else %} id="disabled"{% endif %}">{% trans "EDIT" %}</a>
		<a href="{% url method_fork object.pk %}" title="{% trans "Fork this version to create a new one based on the current one" %}">{% trans "FORK" %}</a>
		<a{% if can_delete %} id="delete" href="{% url method_delete object.pk %}" title="{% trans "Delete this version" %}"{% else %} id="disabled"{% endif %}>{% trans "DELETE" %}</a>
	</div><br style="clear:both" />

{% include "repository/conversion_failed.html" %}

	<div id="tabs">
		<ul class="clearfix">
			<li><a title="{% trans "Primary attributes of item + download" %}" href="#tabs-summary">{% trans "Summary" %}</a></li>
			<li><a title="{% trans "Other attributes of item" %}" href="#tabs-more">{% trans "More Info" %}</a></li>
			<li><a title="{% trans "History of item" %}" href="#tabs-history">{% trans "History" %}</a></li>
			<li><a title="{% trans "Comments on item" %}" href="#tabs-comments">{% trans "Comments" %}</a></li>
			<li><a title="{% trans "Statistics about item" %}" href="#tabs-stats">{% trans "Stats" %}</a></li>
			<li id="tab-tabs-method"><a title="{% trans "Evaluate your results" %}" href="#tabs-method">{% trans "Results/Tasks" %}</a></li>
		</ul>

		<div id="tabs-summary"><dl id="news">
			<dt>{% trans "Summary" %}</dt>
			<dd>{{ object.summary|edit_if_empty|markdown:"safe" }}</dd>
			<dt>{% trans "License" %}</dt>
			<dd><a href="{{ object.license.url }}">{{ object.license.name }}</a></dd>
			<dt>{% trans "Tags" %}</dt>
			<dd>{% for tag in object.get_tags %}{% if tag %}<a href="{% url data_tags_view tag.strip %}">{{ tag }}</a> {% endif %}{% endfor %}</dd>
			<dt>{% trans "Feature Processing" %}</dt>
			<dd>{{ object.feature_processing }}</dd>
			<dt>{% trans "Parameters" %}</dt>
			<dd>{{ object.parameters }}</dd>
			<dt>{% trans "Operating System" %}</dt>
			<dd>{{ object.os }}</dd>
			<dt>{% trans "Code" %}</dt>
			<dd>{{ object.code|markdown:"safe" }}</dd>
			<dt>{% trans "Software Packages" %}</dt>
			<dd>{{ object.software_packages|markdown:"safe" }}</dd>
		</dl>
		<div>
			{% trans "Completeness of this item currently" %}: {{ object.completeness }}%.<br />
			{% if can_edit %}{% trans "You can" %} <a href="{% url method_edit object.pk %}">{% trans "edit this item" %}</a> {% trans "to add more meta information and make use of the site's premium features" %}.{% endif %}
		</div>
		</div><!-- /tabs-summary -->

		<div id="tabs-more"><dl id="news">
			<dt>{% trans "Description" %}</dt>
			<dd>{{ object.description|edit_if_empty|markdown:"safe" }}</dd>
			<dt>{% trans "URLs" %}</dt>
			<dd>{{ object.urls|edit_if_empty }}</dd>
			<dt>{% trans "Publications" %}</dt>
			<dd><ul>{% for p in object.publications.all %}
				<li>{{ p.content|edit_if_empty|markdown:"safe" }}</li>
			{% endfor %}</ul></dd>
		</dl></div><!-- /tabs-more -->

		<div id="tabs-history">
			{% if versions.has_previous %}<a href="?page={{ versions.previous_page_number }}#contents-history">&laquo; {% trans "prev" %}</a>{% endif %}
			<dl id="news">{% for v in versions.object_list %}
				
				<dt{% if v.is_current %} class="active"{% endif %}>
          <a href="{{v.get_absolute_slugurl }}{{ v.version }}">revision {{ v.version }}</a>
        </dt>
				<dd>by {{ v.user }} on {{ v.pub_date|date:"Y-m-d H:i" }}</dd>
			{% endfor %}</dl>
			{% if versions.has_next %}<a href="?page={{ versions.next_page_number }}#contents-history">{% trans "next" %} &raquo;</a>{% endif %}
		</div><!-- /tabs-history -->

		<div id="tabs-comments">
{% load comments %}
{% get_comment_list for repository.method current.id as comment_list %}
{% get_comment_form for repository.method current.id as form %}
{% include "comments/list.html" %}
{% include "comments/form.html" %}
		</div><!-- /tabs-comments -->

		<div id="tabs-stats">
			<p>This item was downloaded {{ current.downloads }} times and viewed {{ current.hits }} times.</p>
		</div><!-- /tabs-stats -->

		<div id="tabs-method">
			{% if page.object_list %}
			<h3>Method {{ object.name }} has been applied the following tasks: </h3>
			{% paginator %}
			<table>
				<tr><th>Submitter</th><th>Task (version)</th><th>Curve</th><th>Score</th><th>Date</th></tr>
				{% for o in page.object_list %}
				<tr>
					<td>{{ o.method.user }}</td>
					<td><a title="{{ o.task.summary }}" href="{{ o.task.get_absolute_slugurlver }}">{{ o.task.name }}&nbsp;({{ o.task.version }})</a></td>
					<td>{% ifequal o.complex_result_type "Curve" %} <a href="{% url repository.views.method.plot_single_curve o.pk 'large' %}"><img src="{% url repository.views.method.plot_single_curve o.pk 'tiny' %}"\></a>{% else %} - {% endifequal %}</td>
					<td>{{ o.aggregation_score }}&nbsp;
					<a href="{% url method_predictions o.pk %}">predictions</a></td>
					<td>{{ o.pub_date|date:"Y-m-d H:i" }}</td>
				</tr>
				{% endfor %}
			</table>
			{% paginator %}
			{% endif %}

			{% ifequal page.object_list.0.complex_result_type "Curve" %}
            <img src="{% url repository.views.method.plot_multiple_curves object.pk 'medium' %}"\>
			{% endifequal %}

			{% if result_form %}
			<form method="post" enctype="multipart/form-data" action="{{ object.get_absolute_slugurl }}#tabs-method"><dl>
					<dt><label for="id_task">{% trans "Select Task" %}</label> {{ result_form.task.errors }}</dt>
					<dd>{{ result_form.task }}</dd>
					<dt><label for="id_challenge">{% trans "Select Challenge" %}</label> {{ result_form.challenge.errors }}</dt>
					<dd>{{ result_form.challenge }}</dd>
					<dt><label for="id_output_file">{% trans "Upload Outputs" %}</label> {{ result_form.output_file.errors }}</dt>
					<dd>{{ result_form.output_file }}</dd>
					<input type="hidden" name="method" id="id_method" value="{{ object.id }}" />
					<input type="hidden" name="id" id="id_id" value="0" />
					<input type="submit" class="submit" value="{% trans "Submit Result" %}" />
			</dl></form>
			{% else %}
				{% trans "To submit a result, please" %} <a href="{% url user_signin %}?next={% if object.get_absolute_slugurl %}{{ object.get_absolute_slugurl }}{% else %}{{ object.get_absolute_url }}{% endif %}">sign in</a>.
			{% endif %}
		</div><!-- /tabs-method -->


	</div><!-- /tabs -->

</div><!-- /in -->

{% endblock %}

