{% extends "repository/base.html" %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {% trans "Tags" %} :: {{ tag }}{% endblock %}
{% block breadcrumbs %}<a href="{% url repository.views.method.index %}">{% trans "Repository" %}</a> / {% trans "Tags" %} / {{ klass }} / {{ tag }}{% endblock %}

{% block content %}
<h2 class="title-01">{{ klass }} {% trans "items tagged by" %} <strong>{{ tag }}</strong></h2>
<div class="in">
	<ul>{% for obj in objects %}
		<li><a title="{{ obj.summary }}" href="{{ obj.get_absolute_slugurl }}">{{ obj.name }}</a></li>
	{% endfor %}</ul>
</div><!-- /in -->
{% endblock %}
