{% extends "base-2col.html" %}
{% load i18n %}

{% block sectionid %}accounts{% endblock %}
{% block title %}{% trans "User Details" %}{% endblock %}
{% block breadcrumbs %}{% trans "Accounts" %} / {% trans "View" %} {{ user }}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Details for user" %} {{ object.username }}</h2>
<div class="in">
	<dl id="news">
		<dt>{% trans "Full Name" %}:</dt>
		<dd>{{ object.get_full_name }}</dd>

		<dt>{% trans "Email Address" %}:</dt>
		<dd>{{object.email}}</dd>

		<dt>{% trans "OpenID URL" %}:</dt>
		<dd><a href="{{object.openid_url}}">{{object.openid_url}}</a></dd>
	</dl>

	{% if forumsubscriptions %}
	<h3>{% trans "Current Forum Subscriptions" %}</h3>
	<table>
	<tr>
		<th>{% trans "Title" %}</th>
		<th>{% trans "Last Notified" %}</th>
		<th>{% trans "Action" %}</th>
	</tr>
	{% for subsc in forumsubscriptions %}
	<tr>
		<td> <a href="{{ subsc.url }}">{{ subsc.title }}</a></td>
		<td> {{ subsc.last_updated|date:"j F Y H:i:s" }}</td>
		<td> <a href="{{ subsc.get_unsubscribe_url }}">{% trans "Unsubscribe" %}</a></td>
	</tr>
	{% endfor %}
	</table>
	{% endif %}

	<h3 class="title-02">{% trans "Change User Details" %}</h3>
	{% if form.errors %}<p class="error">{% trans "Please correct the errors below" %}:</p>{% endif %}

	<form method="post" action="{% url user.views.update_user object.pk %}">
	<dl>
		<dt><label for="id_firstname">{% trans "First Name" %}:</label>{% if form.firstname.errors %} <span class="error">{{ form.firstname.errors|join:", " }}</span>{% endif %}</dt>
		<dd>{{ form.firstname|safe }}</dd>
		<dt><label for="id_lastname">{% trans "Last Name" %}:</label>{% if form.lastname.errors %} <span class="error">{{ form.lastname.errors|join:", " }}</span>{% endif %}</dt>
		<dd>{{ form.lastname|safe }}</dd>
		<dt><label for="id_email">{% trans "Email address" %}:</label>{% if form.email.errors %} <span class="error">{{ form.email.errors|join:", " }}</span>{% endif %}</dd>
		<dd>{{ form.email|safe }}</dd>
		<dt><label for="id_openid_url">{{ form.openid_url.label }}:</label>{% if form.openid_url.errors %} <span class="error">{{ form.openid_url.errors|join:", " }}</span>{% endif %}</dd>
		<dd>{{ form.openid_url|safe }}</dd>
		<dt><label for="id_password1">{% trans "Password" %}:</label>{% if form.password1.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}</dt>
		<dd>{{ form.password1|safe }}</dd>
		<dt><label for="id_password2">{% trans "Password (type again to catch any typos)" %}:</label>{% if form.password2.errors %} <span class="error">{{ form.password2.errors|join:", " }}</span>{% endif %}</dt>
		<dd>{{ form.password2|safe }}</dd>
		<dt><input type="submit" class="submit" value="{% trans "Update" %}" /></dt>
	</dl>
	</form>
</div><!-- /in -->
{% endblock %}

{% block aside %}
<h4 class="title-03">{% trans "Contents" %}</h4>

<div class="in">
<dl id="news">
	<dt>{% trans "Viewing details of" %}:</dt>
	<dd>{{object.username}}</dd>

	<dt>{% trans "Last login" %}:</dt>
	<dd>{{object.last_login}}</dd>

	<dt>{% trans "Date joined" %}:</dt>
	<dd>{{object.date_joined}}</dd>
</dl>


{% if user.is_superuser or user.is_staff %}
<h4 class="title-04">{% trans "Admin" %}</h4>
<ul id="subnav">
<li><a href="{% url user.views.show_user_list %}">{% trans "Show registered users" %}</a></li>
</ul>
{% endif %}

</div><!-- /in -->

{% endblock %}
