{% extends "base.html" %}
{% load i18n %}
{% load paginator %}

{% block sectionid %}browse{% endblock %}
{% block title %}{% trans "User List" %}{% endblock %}
{% block billboard %}{% trans "User List" %}{% endblock %}

{% block content %}
	{% paginator 10 %}
	<table>
	{% for user in object_list %}
	<tr>
		<td><a href="{% url user.views.show_user user.pk %}">{{ user.username }}</a></td>
		<td>{{ user.get_full_name }}</td>
		<td>{{ user.email }}</td>
	</tr>
	{% endfor %}
	</table>
	{% paginator 10 %}
{% endblock %}

{% block content-related %}
<dt>{% trans "Viewing List of Users" %}</dt>
{% endblock %}

