{% load i18n %}
{% load get_version %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en" />

	<title>mldata :: {% block title %}PASCAL Machine Learning Benchmarks Repository{% endblock %}</title>

	<meta name="ROBOTS" content="ALL" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="Copyright" content="Sebastian Henschel" />
	<meta name="keywords" content="machine learning, pascal" />
	<meta name="description" content="PASCAL Machine Learning Benchmarks Repository" />

	<link rel="alternate" type="application/rss+xml" title="Blog" href="/blog/rss/latest">
	<link rel="alternate" type="application/rss+xml" title="Forum" href="/forum/rss">

	<link rel="stylesheet" media="screen,projection" type="text/css" href="/media/css/reset.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/media/css/main.css" />
	<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="/media/css/main-msie.css" /><![endif]-->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/media/css/style.css" />
	<link rel="stylesheet" media="print" type="text/css" href="/media/css/print.css" />
	{% block extrahead %}{% endblock %}
</head>

<body id="{{ section }}">
<div id="main">
	<div>This site is under construction! The database will be reset at irregular intervals. Thanks for your comments and criticisms.</div>
	<div id="header">
		<p id="logo"><a href="/"><img width="200" height="70" src="/media/images/pascal.png" alt="PASCAL logo"></img></a></p>
		<div id="slogan">Machine Learning Benchmark Repository</div>
	</div><!-- /header -->

	<hr class="noscreen" />

	<div id="nav" class="box">
		<ul>
			<li{% ifequal section 'about' %} class="active"{% endifequal %}><a href="{% url about_index %}">{% trans "About" %}</a></li>
			<li{% ifequal section 'repository' %} class="active"{% endifequal %}><a href="{% url repository_index %}">{% trans "Repository" %}</a></li>
			<li{% ifequal section 'forum' %} class="active"{% endifequal %}><a href="{% url forum_index %}">{% trans "Forum" %}</a></li>
			<li{% ifequal section 'blog' %} class="active"{% endifequal %}><a href="{% url blog_index %}">{% trans "Blog" %}</a></li>
		{% if request.user.is_authenticated %}
			<li{% ifequal section 'accounts' %} class="active"{% endifequal %}><a href="{% url user.views.show_user request.user.pk %}">{% trans "User" %} {{ request.user.username }}</a></li>
			<li><a href="{% url user_signout %}">{% trans "Sign out" %}</a></li>
		{% else %}
			<li{% ifequal section 'accounts' %} class="active"{% endifequal %}><a href="{% url registration_register %}">{% trans "Registration" %}</a></li>
			<li><a href="{% url user_signin %}">{% trans "Sign in" %}</a></li>
		{% endif %}
		</ul>

		<p id="feeds">
			{% block feeds %}{% endblock %}
			<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=web%2Cemail&amp;charset=utf-8&amp;services=reddit%2Cdigg%2Cdelicious%2Cstumbleupon%2Cyahoo_buzz%2Ctechnorati%2Cgoogle_bmarks%2Cyahoo_bmarks%2Cfurl%2Cslashdot%2Cmagnolia%2Cmister_wong%2Cyigg&amp;offsetTop=-306&amp;style=default&amp;publisher=85555fbd-bb3a-4ab4-af6f-5dea32a6a5e4"></script>
		</p><!-- /feeds -->
	</div><!-- /nav -->

	<hr class="noscreen" />

	<div id="cols">
		<div id="cols-in" class="box">
			<div id="content">
				<div class="in">
					<p id="breadcrumbs">{% trans "You are here" %}: <a href="/">{% trans "Home" %}</a> / {% block breadcrumbs %}{% endblock %}</p>
				</div>

				{% block content %}{% endblock %}
			</div><!-- /content -->

			<hr class="noscreen" />

			<div id="aside">
					{% block aside %}{% endblock %}
			</div><!-- /aside -->
		</div><!-- /cols-in -->
	</div><!-- /cols -->

	<hr class="noscreen" />

	<div id="footer" class="box">&copy; 2009-{% now "Y" %} <a href="https://kodeaffe.de">Sebastian Henschel</a>, Cheng Soon Ong, Mikio L. Braun, Soeren Sonnenburg, Patrik O. Hoyer, Jussi Lahtinen, Petri Myllymäki, Heikki Mannila<br />Version {% get_version %} | <a href="{% url about_impressum %}">Impressum</a> | {% trans "Hosting graciously provided by the" %} <a href="http://www.tu-berlin.de">TU Berlin</a><br />
	Visual styles based on <a href="http://www.nuviotemplates.com/preview.php?template=liquid-03">http://www.nuviotemplates.com</a>.
	</div><!-- /footer -->
</div><!-- /main -->

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	try {
		var pageTracker = _gat._getTracker("UA-11709073-1");
		pageTracker._trackPageview();
	} catch(err) {}
	</script>

</body>
</html>
