{% extends "base.html" %}
{% load i18n %}

{% block cols %}
	<div id="cols2">
		<div id="cols2-in" class="box">
			<div id="content-cols2">
				<div class="in">
					<p id="breadcrumbs">{% trans "You are here" %}: <a href="/">{% trans "Home" %}</a> / {% block breadcrumbs %}{% endblock %}</p>
				</div>

				{% block content %}{% endblock %}
			</div><!-- /content-cols2 -->

			<hr class="noscreen" />

			<div id="aside">
					{% block aside %}{% endblock %}

					<h4 class="title-04">{% trans "Acknowledgements" %}</h4>
					<div class="in">
						<p>
						{% trans "This project is supported by PASCAL (Pattern Analysis, Statistical Modelling and Computational Learning)" %}
						<br />
						<img src="/media/images/pascal-logo.png" alt="PASCAL Logo" width=200 height=70 \>
						<br />
						<a href="http://www.pascal-network.org/">http://www.pascal-network.org/</a>.
						</p>
					</div>
			</div><!-- /aside -->
		</div><!-- /cols2-in -->
	</div><!-- /cols2 -->
{% endblock cols %}
