{% load i18n %}
{% load get_version %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta http-equiv="Content-Language" content="en" />

	<title>mldata :: {% block title %}PASCAL Machine Learning Benchmarks Repository{% endblock %}</title>

	<meta name="ROBOTS" content="ALL" />
	<meta http-equiv="imagetoolbar" content="no" />
	<meta name="Copyright" content="Sebastian Henschel" />
	<meta name="keywords" content="machine learning, pascal" />
	<meta name="description" content="PASCAL Machine Learning Benchmarks Repository" />

	<link rel="alternate" type="application/rss+xml" title="Blog" href="/blog/rss/latest" />
	<link rel="alternate" type="application/rss+xml" title="Forum" href="/forum/rss" />
	<link rel="shortcut icon" href="/media/images/favicon.ico" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/media/css/reset.css" />
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/media/css/main.css" />
	<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="/media/css/main-msie.css" /><![endif]-->
	<link rel="stylesheet" media="screen,projection" type="text/css" href="/media/css/style.css" />
	<link rel="stylesheet" media="print" type="text/css" href="/media/css/print.css" />
	<script type="text/javascript" src="/media/js/jquery/jquery.min.js"></script>
	<script type="text/javascript">
$(function() {
	$('#nav-link-repository').hover(function() { $('#nav-repository').css('visibility', 'visible') });
	$('#nav-repository').mouseleave(function() { $('#nav-repository').css('visibility', 'hidden') });
});
	</script>

	{% block extrahead %}{% endblock %}
</head>

<body id="{{ section }}">
<div id="main">
	<div id="header">
		<p id="logo"><a href="/"><img width="315" height="100" src="/media/images/mldata-logo.png" alt="mldata.org logo"></img></a></p>
	</div><!-- /header -->

	<hr class="noscreen" />

	<div id="nav" class="box">
		<ul>
			<li{% ifequal section 'about' %} class="active"{% endifequal %}><a href="{% url about_index %}">{% trans "About" %}</a></li>
			<li{% ifequal section 'repository' %} class="active"{% endifequal %}><a id="nav-link-repository" href="{% url repository_index %}">{% trans "Repository" %}</a></li>
			<li{% ifequal section 'forum' %} class="active"{% endifequal %}><a href="{% url forum_index %}">{% trans "Forum" %}</a></li>
			<li{% ifequal section 'blog' %} class="active"{% endifequal %}><a href="{% url blog_index %}">{% trans "Blog" %}</a></li>
		{% if request.user.is_authenticated %}
			<li{% ifequal section 'accounts' %} class="active"{% endifequal %}><a href="{% url user.views.show_user request.user.pk %}">{% trans "User" %} {{ request.user.username }}</a></li>
			<li class="last"><a href="{% url user_signout %}">{% trans "Sign out" %}</a></li>
		{% else %}
			<li{% ifequal section 'accounts' %} class="active"{% endifequal %}><a href="{% url registration_register %}">{% trans "Registration" %}</a></li>
			<li class="last"><a href="{% url user_signin %}">{% trans "Sign in" %}</a></li>
		{% endif %}
		</ul>

		<p id="feeds">
			{% block feeds %}{% endblock %}
			<script type="text/javascript" src="http://w.sharethis.com/button/sharethis.js#tabs=web%2Cemail&amp;charset=utf-8&amp;services=reddit%2Cdigg%2Cdelicious%2Cstumbleupon%2Cyahoo_buzz%2Ctechnorati%2Cgoogle_bmarks%2Cyahoo_bmarks%2Cfurl%2Cslashdot%2Cmagnolia%2Cmister_wong%2Cyigg&amp;style=default&amp;publisher=85555fbd-bb3a-4ab4-af6f-5dea32a6a5e4"></script>
		</p><!-- /feeds -->
	</div><!-- /nav -->

	<div id="nav-repository">
		<p{% ifequal klass 'Data' %} class="active"{% endifequal %}><a href="{% url data_index %}">{% trans "Data" %}</a></p>
		<hr width="100%" />
		<p{% ifequal klass 'Task' %} class="active"{% endifequal %}><a href="{% url task_index %}">{% trans "Task" %}</a></p>
		<hr width="100%" />
		<p{% ifequal klass 'Solution' %} class="active"{% endifequal %}><a href="{% url solution_index %}">{% trans "Solution" %}</a></p>
		<hr width="100%" />
		<p{% ifequal klass 'Challenge' %} class="active"{% endifequal %}><a href="{% url challenge_index %}">{% trans "Challenge" %}</a></p>
	</div><!-- /nav1 -->

	<hr class="noscreen" />

	{% block cols %}{% endblock %}

	<hr class="noscreen" />

	<div id="footer" class="box">&copy; 2009-{% now "Y" %} <a href="https://kodeaffe.de">Sebastian Henschel</a>,
		<a href="http://www.inf.ethz.ch/~cong/">Cheng Soon Ong</a>, <a href="http://ml.cs.tu-berlin.de/~mikio">Mikio L. Braun</a>, <a href="http://sonnenburgs.de/soeren">Soeren Sonnenburg</a>, <a href="http://www.cs.helsinki.fi/u/phoyer">Patrik O. Hoyer</a> | <a href="{% url about_impressum %}">Impressum</a> | <a href="http://www.nuviotemplates.com/preview.php?template=liquid-03">Visuals</a> | {% trans "Hosting " %} <a href="http://www.ml.tu-berlin.de">ML Group</a> <a href="http://www.tu-berlin.de">TU Berlin</a> | {% get_version %}.
		<!--|   | Visual styles based on <a href="http://www.nuviotemplates.com/preview.php?template=liquid-03">http://www.nuviotemplates.com</a>-->
	</div><!-- /footer -->
</div><!-- /main -->

	<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
	try {
		var pageTracker = _gat._getTracker("UA-11709073-1");
		pageTracker._trackPageview();
	} catch(err) {}
	</script>

</body>
</html>
