{% extends "base-1col.html" %}
{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}
{% block breadcrumbs %}{% trans "Welcome" %}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Welcome" %}</h2>

<div class="in">
	<p>{% trans "We built this web site as a repository for your machine learning data." %}
	<br/>{% trans "Upload your data, find interesting data sets, exchange solutions, compare yourself against other methods." %}</p>

	<div class="leftbox">
		<form method="get" action="{% url repository.views.base.search %}">
			<p class="head">{% trans "Search Repositories" %}</p>
			<p><input type="text" size="40" maxlength="40" name="searchterm" id="searchterm" value="" /></p>
			<p>
			<input type="checkbox" name="data" checked="checked" /><label for="data">{% trans "Data repository" %}</label>
			<input type="checkbox" name="task" checked="checked" /><label for="task">{% trans "Task repository" %}</label>
			<input type="checkbox" name="method" checked="checked" /><label for="method">{% trans "Methods" %}</label>
			<input type="checkbox" name="challenge" checked="checked" /><label for="challenge">{% trans "Challenges" %}</label>
			</p>
			<p>
			<input class="searchsubmit" type="submit" id="search" value="{% trans "Search" %}" />
			</p>
		</form>
	</div>

	<div class="rightbox">
		<p class="head">{% trans "Create A New Entry" %}</p>

		<p>{% trans "Choose between" %}</p>
		<ul>
			<li>{% trans "A raw <b>data</b> set." %}</li>
			<li>{% trans "A learning <b>task</b> defined on existing data sets." %}</li>
			<li>{% trans "Describing a machine learning <b>method</b>." %}</li>
			<li>{% trans "Creating a <b>challenge</b> by grouping existing tasks." %}</li>
		</ul>

		<div class="buttonrow">
			<form action="{% url repository.views.data.new %}">
				<input class="stdbutton" type="submit" value="{% trans 'New Data' %}" />
			</form>
			<form action="{% url repository.views.task.new %}">
				<input class="stdbutton" type="submit" value="{% trans 'New Task' %}" />
			</form>
			<form action="{% url repository.views.method.new %}">
				<input class="stdbutton" type="submit" value="{% trans 'New Method' %}" />
			</form>
			<form action="{% url repository.views.challenge.new %}">
				<input class="stdbutton" type="submit" value="{% trans 'New Challenge' %}" />
			</form>
		</div>
	</div>

	<br style="float:none">
	<div class="centerbox">
		<p class="head">{% trans "How does it work?" %}</p>
		This repository manages the following types of objects.

 <a href="{% url repository_index %}"><img style="padding-left: 20px;" align="right" src="/media/images/datatask2cropped.gif" width="500" alt="Data sets, tasks and solutions"></a>
<ul>
<li><strong>Data Sets</strong> - Raw data as a collection of similarily structured objects.</li>
<li><strong>Material and Methods</strong> - Descriptions of the computational pipeline.</li>
<li><strong>Learning Tasks</strong> - Learning tasks defined on raw data.</li>
<li><strong>Challenges</strong> - Collections of tasks which have a particular theme.</li>
</ul>

Between data sets and tasks, the relationship is one-to-many, as a data set can give rise to many different learning tasks. A method can also be applied to several different tasks, giving rise to solutions. On the other hand, a task can have many solutions, but each solution belongs to a certain learning task. These relationships are illustrated in the image.
<br /><br />
  <a style="font-weight: bold;" href="{% url about_index %}">CLICK HERE AND LEARN MORE</a>
	</div>

	<div class="centerbox">
		<p class="head">{% trans "Recent Items" %}</p>
		<ul class="recent">
			{% for r in recent %}
			<li>
			{% ifequal r.0 "Method" %}
			{{ r.0 }} <a href="{{ r.1.method.get_absolute_slugurl }}"> {{ r.1.method.name }}</a>
			{{ r.1.pub_date|date:"Y-m-d H:i" }}<br />
			{{ r.1.method.summary }}
			{% else %}
			{{ r.0 }} <a href="{{ r.1.get_absolute_slugurl }}"> {{ r.1.name }}</a>
			{{ r.1.pub_date|date:"Y-m-d H:i" }}<br />
			{{ r.1.summary }}
			{% endifequal %}
			</li>
			{% endfor %}
		</ul>
		</div>

	</div><!-- /in -->
	{% endblock %}
