{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}
{% block breadcrumbs %}<a href="{% url about_index %}">{% trans "About" %}</a>{% endblock %}

{% block aside %}
<h4 class="title-03">{% trans "Contents" %}</h4>
<div class="in">
	<ul id="subnav">
	        {% url about_index as url_welcome %}
		{% url about_motivation as url_motivation %}
		{% url about_related as url_related %}
		{% url about_license as url_license %}
		{% url about_hdf5 as url_hdf5 %}
		{% url about_impressum as url_impressum %}
		{% url about_tos as url_tos %}
		<li{% ifequal request.path url_index %} class="active"{% endifequal %}><a title="{% trans "Why this site?" %}" href="{{ url_motivation }}">{% trans "Motivation" %}</a></li>
		<li{% ifequal request.path url_related %} class="active"{% endifequal %}><a title="{% trans "Related projects" %}" href="{{ url_related }}">{% trans "Related Projects" %}</a></li>
		<li{% ifequal request.path url_license %} class="active"{% endifequal %}><a title="{% trans "Licenses for Data/Task/Solution explained" %}" href="{{ url_license }}">{% trans "Data Licenses Explained" %}</a></li>
		<li{% ifequal request.path url_hdf5 %} class="active"{% endifequal %}><a title="{% trans "Our HDF5 format explained" %}" href="{{ url_hdf5 }}">{% trans "Our HDF5 format" %}</a></li>
		<li{% ifequal request.path url_impressum %} class="active"{% endifequal %}><a title="{% trans "Impressum as required by law" %}" href="{{ url_impressum }}">{% trans "Impressum" %}</a></li>
		<li{% ifequal request.path url_tos %} class="active"{% endifequal %}><a title="{% trans "Terms of Service" %}" href="{{ url_tos }}">{% trans "TOS" %}</a></li>
	</ul>
</div>

<h4 class="title-04">{% trans "Acknowledgements" %}</h4>
<div class="in">
{% trans "This project is supported by PASCAL (Pattern Analysis, Statistical Modelling and Computational Learning)" %}
<br />
<a href="http://www.pascal-network.org/">http://www.pascal-network.org/</a>.
</div>
{% endblock %}
