{% extends "about/base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %} :: HDF5{% endblock %}
{% block breadcrumbs %}<a href="{% url "about_index" %}">{% trans "About" %}</a> / HDF5{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Our HDF5 Format Explained" %}</h2>
<div class="in">
	<p><a href="http://www.hdfgroup.org/HDF5/">HDF5</a> {% trans "is a data model, library, and file format for storing and managing data. It supports an unlimited variety of datatypes, and is designed for flexible and efficient I/O and for high volume and complex data. HDF5 is portable and is extensible, allowing applications to evolve in their use of HDF5. The HDF5 Technology suite includes tools and applications for managing, manipulating, viewing, and analyzing data in the HDF5 format." %}</p>
	<p>{% trans "Internally, we make use of HDF5 because of its hierarchical structure which allows for efficient access of data attributes. It also allows for storing data in a flexible way which seems paramount to us in the current state of the machine learning community and its wild bunch of file formats used. We store two different types of files in hdf5 format. The dataset itself and the split file. More details on this in the sections below." %}</p>

	<p>{% trans "Please also have a look at the example page on how you can use the files you download from this site" %}: <a href="example/">example page</a>. {% trans "An" %} <a href="{{ MEDIA_URL }}example.h5">{% trans "example file" %}</a> {% trans "is available for download as well." %}<br />
	{% trans "You can download our converter tool from" %} <a href="http://mloss.org/software/view/262">mloss.org</a> {% trans "and convert data files locally to check if everything is transformed appropriately, maybe even help debugging problems." %}</p>

	<h2>{% trans "HDF5 Attributes and Datasets" %}</h2>
	<p>{% trans "The basic abstraction is that a data set is a large collection of objects having the same type. Each object is a fixed length array of features which may be of different types. For example, each object can be an array of mixed categorical and numerical data, but all objects in the dataset have the same mix." %}</p>

	<a name="attributes"></a>
	<h3>{% trans "HDF5 attributes on the root level" %}</h3>
	<ul>
		<li>mldata: {% trans "Internal mldata version" %}; <code>{% trans "Integer, currently" %} 0</code></li>
		<li>name: {% trans "Name to briefly describe the dataset" %}; <code>{% trans "String" %}</code></li>
		<li>comment: {% trans "Any extended comment or description of the dataset" %}; <code>{% trans "String" %}</code></li>
	</ul>

	<h3>{% trans "HDF5 group 'data_descr'" %}</h3>
	<ul>
		<li>names: {% trans "Dataset with names of the variables" %}; <code>{% trans "Array of Strings" %}</code></li>
		<li>ordering: {% trans "Dataset with ordering of the variables in the original dataset, using short names for each variable" %}; <code>{% trans "Array of Strings" %}</code></li>
		<li>types: {% trans "Optional dataset (if source was an arff file) to denote the data types used. This will be one of 'numeric' or 'nominal:<val0>,<val1>,..' or 'string'" %}; <code>{% trans "Array of Strings" %}</code></li>
	</ul>

	<h3>{% trans "HDF5 group 'data'" %}</h3>
	<h4>{% trans "EITHER single sparse matrix when all attributes types are the same" %}</h4>
	<ul>
		<li>data: {% trans "The variables themselves" %}; <code>{% trans "Array of Objects" %}</code></li>
		<li>indices: {% trans "The indices of non-zero values" %}; <code>{% trans "Array of Integers" %}</code></li>
		<li>indptr: {% trans "The index pointers for the variables' columns" %}; <code>{% trans "Array of Integers" %}</code></li>
	</ul>
	<p>{% trans "This represents the Compressed Sparse Column format described at" %} <a href="http://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csc_matrix.html">scipy.org</a> {% trans "and" %} <a href="http://en.wikipedia.org/wiki/Sparse_matrix#Compressed_Sparse_Column_.28CSC_or_CCS.29">Wikipedia</a>.</p>
	<h4>{% trans "OR single dense matrix when all attribute types are the same" %}</h4>
	<ul>
		<li>data: {% trans "The variables themselves" %}; <code>{% trans "Array of Objects" %}</code></li>
	</ul>
	<h4>{% trans "OR multiple datasets when variable types are mixed" %}</h4>
	<ul>
		<li>&lt;shortname&gt;: {% trans "Variable of given name" %}; <code>{% trans "Array of Objects" %}</code></li>
		<li>OR</li>
		<li>&lt;type&gt;&lt;no&gt;: {% trans "Variable of given type" %}; <code>{% trans "Array of Objects" %}</code></li>
	</ul>
	<p>{% trans "If possible short names are used for the dataset names for better recognition, otherwise the variable type (int, double, str) is used. In the latter case the datasets are also numbered for uniqueness" %}</h4>
	<h4>{% trans "OPTIONAL vector/matrix with natural labels" %}</h4>
	<ul>
		<li>label: {% trans "The natural labels split from the original data" %}; <code>{% trans "Array of Integers/Floats" %}</code></li>
	</ul>
	<p>{% trans "Natural labels are currently considered for files in LibSVM format." %}</p>


	<h2>{% trans "Split files and Tasks" %}</h2>
	<p>{% trans "Note that the distinction what is input/output, label/target depends on the TASK, not on the data set itself! We do have a mechanism in place to create automatic split files while slurping datasets from other repositories, though. These datasets may be defined in the split files:" %}</p>

	<h3>{% trans "HDF5 attributes on the root level" %}</h3>
	<p>{% trans "See" %} <a href="#attributes">{% trans "above" %}</a></p>

	<h3>{% trans "HDF5 group 'task_descr' (derived from the Task object)" %}</h3>
	<ul>
		<li>pub_date</li>
		<li>version</li>
		<li>slug</li>
		<li>summary</li>
		<li>description</li>
		<li>urls</li>
		<li>publications</li>
		<li>is_public</li>
		<li>is_deleted</li>
		<li>is_current</li>
		<li>user</li>
		<li>downloads</li>
		<li>hits</li>
		<li>input</li>
		<li>output</li>
		<li>performance_measure</li>
		<li>performance_ordering</li>
		<li>type name</li>
		<li>Data name</li>
		<li>Data (held back) name</li>
		<li>license</li>
		<li>tags</li>
	</ul>


	<h3>{% trans "HDF5 group 'task'" %}</h3>
	<ul>
		<li>train_idx: {% trans "Vector or matrix containing the indices of the examples to be used for learning the model. If a matrix, each column specifies one particular split for the purposes of cross-validation (so k-fold cross- validation results in a matrix with k columns)." %}</li>
		<li>validation_idx: {% trans "If it exists, it has the same structure as train idx, containing the indices of the examples to be used for validation (selecting model order, etc). If NULL, solutions are free to use whatever part of train for validation purposes." %}</li>
		<li>test_idx: {% trans "This contains the indices to be used for testing, in the same format as train idx and validation idx (never NULL). For tasks with everything public, these data vectors in the data item look exactly like the training data vectors. For challenges with hidden answers, these data vectors has ‘NaN’ values for the target." %}</li>
		<li>input_variables: {% trans "List with indices of the variables to be used to predict the target(s)." %}</li>
		<li>output variables: {% trans "The index of the variable to be predicted from the features." %}</li>
	</ul>

	<h2><a name="fileformats">{% trans "Supported formats" %}</a></h2>
	<p>{% trans "The website (and its converter tool) currently supports conversion from and to the following data formats:" %}</p>
	<table>
	<tr>
		<th>{% trans "to" %} HDF5</th>
		<th>{% trans "from" %} HDF5</th>
	</tr>
	<tr>
		<td><ul>
			{% for f in supported_formats.to %}<li>{{ f }}</li>{% endfor %}
		</ul></td>
		<td><ul>
			{% for f in supported_formats.from %}<li>{{ f }}</li>{% endfor %}
		</ul></td>
	</tr>
	</table>

	<p>{% trans "When uploading data, files can be compressed by gzip, bzip2 or as a single file in zip files or tarballs. They will be decompressed automatically after upload." %}</p>
	<p>{% trans "You will find an implementation of a converter in Python in the source tarball, utils/hdf5conv (and scripts/hdf5conv.py as an example how to use the converter). You can also download an " %}<a href="{{ MEDIA_URL }}example.h5">{% trans "example file" %}</a>.</p>
	<p>{% trans "Please also have a look at the example page on how you can use the files you download from this site" %}: <a href="example/">example page</a>.</p>
</div><!-- /in -->
{% endblock %}

