{% extends "about/base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %} :: HDF5{% endblock %}
{% block breadcrumbs %}<a href="{% url about_index %}">{% trans "About" %}</a> / HDF5{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Our HDF5 Format Explained" %}</h2>
<div class="in">
	<p><a href="http://www.hdfgroup.org/HDF5/">HDF5</a> {% trans "is a data model, library, and file format for storing and managing data. It supports an unlimited variety of datatypes, and is designed for flexible and efficient I/O and for high volume and complex data. HDF5 is portable and is extensible, allowing applications to evolve in their use of HDF5. The HDF5 Technology suite includes tools and applications for managing, manipulating, viewing, and analyzing data in the HDF5 format." %}</p>
	<p>{% trans "Internally, we make use of HDF5 because of its hierarchical structure which allows for efficient access of data attributes. It also allows for storing data in a flexible way which seems paramount to us in the current state of the machine learning community and its wild bunch of file formats used. We store two different types of files in hdf5 format. The dataset itself and the split file. More details on this in the sections below." %}</p>

	<h2>{% trans "HDF5 Attributes and Datasets" %}</h2>
	<p>{% trans "The basic abstraction is that a data set is a large collection of objects having the same type. Each object is a fixed length array of features which may be of different types. For example, each object can be an array of mixed categorical and numerical data, but all objects in the dataset have the same mix." %}</p>

	<a name="attributes"></a>
	<h3>{% trans "HDF5 attributes on the root level" %}</h3>
	<ul>
		<li>mldata: {% trans "Internal mldata version" %}; <code>{% trans "Integer, currently" %} 0</code></li>
		<li>name: {% trans "Name to briefly describe the dataset" %}; <code>{% trans "String" %}</code></li>
		<li>comment: {% trans "Any extended comment or description of the dataset" %}; <code>{% trans "String" %}</code></li>
	</ul>

	<h3>{% trans "HDF5 group 'data_descr'" %}</h3>
	<ul>
		<li>names: {% trans "Dataset with names of the variables" %}; <code>{% trans "Array of Strings" %}</code></li>
		<li>ordering: {% trans "Dataset with ordering of the variables in the original dataset, using short names for each variable" %}; <code>{% trans "Array of Strings" %}</code></li>
		<li>types: {% trans "Optional dataset (if source was an arff file) to denote the data types used. This will be one of 'numeric' or 'nominal:<val0>,<val1>,..'" %}</li>
	</ul>

	<h3>{% trans "HDF5 group 'data'" %}</h3>
	<h4>{% trans "Single sparse matrix when all attributes types are the same" %}</h4>
	<ul>
		<li>data: {% trans "The variables themselves" %}; <code>{% trans "Array of Objects" %}</code></li>
		<li>indices: {% trans "The indices of non-zero values" %}; <code>{% trans "Array of Integers" %}</code></li>
		<li>indptr: {% trans "The index pointers for the variables' columns" %}; <code>{% trans "Array of Integers" %}</code></li>
	</ul>
	<p>{% trans "This represents the Compressed Sparse Column format described at" %} <a href="http://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.csc_matrix.html">scipy.org</a> {% trans "and" %} <a href="http://en.wikipedia.org/wiki/Sparse_matrix#Compressed_Sparse_Column_.28CSC_or_CCS.29">Wikipedia</a>.</p>
	<h4>{% trans "Single dense matrix when all attribute types are the same" %}</h4>
	<ul>
		<li>data: {% trans "The variables themselves" %}; <code>{% trans "Array of Objects" %}</code></li>
	</ul>
	<h4>{% trans "Multiple datasets when variable types are mixed" %}</h4>
	<ul>
		<li>&lt;shortname&gt;: {% trans "Variable of given name" %}; <code>{% trans "Array of Objects" %}</code></li>
		<li>OR</li>
		<li>&lt;type&gt;&lt;no&gt;: {% trans "Variable of given type" %}; <code>{% trans "Array of Objects" %}</code></li>
	</ul>
	<p>{% trans "If possible short names are used for the dataset names for better recognition, otherwise the variable type (int, double, str) is used. In the latter case the datasets are also numbered for uniqueness" %}</h4>


	<h2>{% trans "Split files and Tasks" %}</h2>
	<p>{% trans "Note that the distinction what is input/output, label/target depends on the TASK, not on the data set itself! We do have a mechanism in place to create automatic split files while slurping datasets from other repositories, though. These datasets may be defined in the split files:" %}</p>

	<h3>{% trans "HDF5 attributes on the root level" %}</h3>
	<p>{% trans "See" %} <a href="#attributes">{% trans "above" %}</a></p>

	<h3>{% trans "HDF5 group 'task_descr'" %}</h3>
	<ul>
		<li>{% trans "undefined yet" %}</li>
	</ul>


	<h3>{% trans "HDF5 group 'task'" %}</h3>
	<ul>
		<li>labels: {% trans "Dataset with the index of the labels/target value for the examples, possibly multiple values in case of multi labels" %}; <code>{% trans "Array of Integers (but usually only 1 value in the array)" %}</code></li>
		<li>testing/training/validation: {% trans "Dataset with indices of where the examples are split. Row indices in the original files == column indices in our data file. It may be a matrix in case of permuations, that is if there are multiple ways of splitting defined." %}; <code>{% trans "Array (or matrix) of Integers" %}</code></li>
	</ul>


	<h2>{% trans "Currently supported formats" %}</h2>
	<h4>{% trans "to" %} HDF5</h4>
	<ul>
		<li>LibSVM</li>
		<li>ARFF</li>
		<li>UCI ({% trans "Not really a dataformat, but a collection of algorithms to parse datasets from that repository." %})</li>
	</ul>
	<h4>{% trans "from" %} HDF5</h4>
	<ul>
		<li>ARFF</li>
	</ul>

	<p>{% trans "You will find an implementation of a converter in Python in the source tarball, utils/hdf5conv (and scripts/hdf5conv.py as an example how to use the converter). You can also download an " %}<a href="{{ MEDIA_URL }}example.h5">{% trans "example file" %}</a>.</p>
</div><!-- /in -->
{% endblock %}

