{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Impressum" %}{% endblock %}
{% block sectionid %}impressum{% endblock %}
{% block billboard %}{% trans "IMPRESSUM" %}{% endblock %}

{% block content-related %}
<p>{% trans "To the right is the information about this site required by law, as well as other important points" %}.</p>
{% endblock %}

{% block content %}
<h1>{% trans "Host" %}</h1>
<p>{% trans "The host of this Internet web site is the" %} <a href="http://www.tu-berlin.de">Technische Universität Berlin</a>.</p>

<h1>{% trans "Address" %}</h1>
<table>
<tr><td>
TU Berlin<br />
Der Präsident<br />
Prof. Dr. Kurt Kutzler<br />
Straße des 17. Juni 135<br />
10623 Berlin<br />
Telefon: +49 (0)30 314-0<br />
Fax: +49 (0)30 314-23222<br />
</td></tr>
</table>

<h1>{% trans "Value added tax identification number" %}</h1>
<p>{% trans "The value added tax identification number of the TU Berlin is DE 811 231 089" %}.</p>

<h1>{% trans "Editors" %}</h1>
<p>{% trans "The editors responsible for the content of this site" %}:</p>
<table>
<tr><td>
Soeren Sonnenburg<br />
Fraunhofer Institute FIRST<br />
Kekulestr. 7<br />
12489 Berlin<br />
Germany<br />
email: soeren.sonnenburg att first.fraunhofer.de<br />
</td></tr>
</table>

<h1>{% trans "Disclaimer" %}</h1>
<p>
{% trans "The TU Berlin makes every effort to provide timely and accurate information. Nevertheless, mistakes and confusions may occur. The TU Berlin does not assume liability for relevance, accuracy and completeness of the information provided. The TU Berlin is only liable for material or immaterial damages if it can be proved that the TU Berlin caused damage deliberately or through gross negligence. The damages include those which arise from the use or misuse of the information provided or direct or indirect damages which arise through the use of faulty or incomplete information. The same goes for the software available free of charge which can be used for downloading. The TU Berlin reserves the right to change, supplement, or delete some or all of the information on its Internet web site without notice. Similarly, the TU also reserves the right to temporarily or permanently discontinue the Internet web site." %}
</p>

<p>
{% trans "Individuals or organisations providing information on the internet are only responsible for illegal and punishable contents derived from other sources which are accessed by direct or indirect connections, e.g. links, if the individuals and organisations are aware of the nature of these contents on these web sites. Contents derived from other sources are noted appropriately. The TU Berlin has no influence whatsoever on contents derived from other sources and does not promote them. The TU Berlin has no knowledge of illegal or offensive contents contained in the linked web sites from other information providers. If there are illegal and offensive contents on the web sites of other information providers, the TU Berlin distances itself from these contents." %}
</p>

{% endblock %}
