{% extends "about/base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %}{% endblock %}
{% block breadcrumbs %}<a href="{% url about_index %}">{% trans "About" %}</a> / {% trans "About" %}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "About" %}</h2>

<div class="in">

  <p>We built this web site as a repository for your machine learning
  data. Upload your data, find interesting data sets, define learning tasks and challenges, exchange
  solutions and compare yourself against other methods.</p>

  <p>This repository manages the following types of objects.</p>
  <ul>
    <li><b>Data Sets</b> Raw data as a collection of similarily structured objects.</li>
    <li><b>Learning Tasks</b> Learning tasks defined on raw data.</li>
    <li><b>Solutions</b> Solutions for learning tasks.</li>
  </ul>

  <p>What to do next:</p>
  <ul>
    <li><a href="{% url repository_index %}">Browse the repository.</a></li>
    <li><a href="{% url repository.views.data.new %}">Upload a data set.</a></li>
    <li><a href="{% url about_motivation %}">Learn more about why we built this website.</a></li>
    <li><a href="{% url about_hdf5 %}">Learn more about our HDF5 data format.</a></li>
    <li><a href="{% url about_evaluation %}">See which evaluation measures
    we support.</a></li>
  </ul>
</div>
{% endblock %}
