{% extends "about/base.html" %}
{% load i18n %}

{% block title %}{% trans "Welcome" %}{% endblock %}
{% block breadcrumbs %}<a href="{% url about_index %}">{% trans "About" %}</a> / {% trans "Welcome" %}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Welcome" %}</h2>

<div class="in">

  <p>We built this website as a repository for your machine learning
  data. Upload your data, find interesting data sets, exchange
  solutions, compare yourself against other methods. Also, you will be
  able to set up challenges easily.</p>

	<form method="get" action="{% url repository.views.search %}"><table id="searchbox" class="searchbox">
	<tr>
		<th class="searchbox" colspan="3">{% trans "Search" %}</th>
	</tr>
	<tr>
		<td colspan="3" class="searchbox"><input type="text" size="40" maxlength="40" name="searchterm" id="searchterm" value="" /><br /></td>
	</tr>
	<tr>
		<td class="searchbox"><input type="submit" id="all" name="all" value="{% trans "All" %}" /></td>
		<td class="searchbox"><input type="submit" id="data" name="data" value="{% trans "Data" %}" /></td>
		<td class="searchbox"><input type="submit" id="task" name="task" value="{% trans "Task" %}" /></td>
	<!--<td><input type="button" id="id_solution" name="solution" value="{% trans "Solution" %}" /></td>-->
	</tr>
	</table></form>

<!--
  <p>This repository manages the following types of objects.</p>
  <ul>
    <li><b>Data Sets</b> Raw data as a collection of similarily structured objects.</li>
    <li><b>Learning Tasks</b> Learning tasks defined on raw data.</li>
    <li><b>Solutions</b> Solutions for learning tasks.</li>
  </ul>

  <p>What to do next:</p>
  <ul>
    <li><a href="{% url repository.views.data_index %}">Browse the repository.</a></li>
    <li><a href="{% url repository.views.data_new %}">Upload a data set.</a></li>
    <li><a href="{% url about_motivation %}">Learn more about why we built this website.</a></li>
    <li><a href="{% url about_hdf5 %}">Learn more about our HDF5 data format.</a></li>
  </ul>
-->
</div>
{% endblock %}
