{% extends "about/base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %} :: {% trans "Related" %}{% endblock %}
{% block breadcrumbs %}<a href="{% url about_index %}">{% trans "About" %}</a> / {% trans "Related" %}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Related Projects" %}</h2>

<div class="in">
<p>{% trans "Here is list of other machine learning data set related projects." %}.</p>

<ul>
<li><b>{% trans "Largescale Challenge Repository" %}</b><br><a href="ftp://ftp.first.fraunhofer.de/pub/projects/largescale/">ftp://ftp.first.fraunhofer.de/pub/projects/largescale/</a></li>


<li><b>{% trans "Human Promoter recognition" %}</b><br>
<a href="http://www.fml.tuebingen.mpg.de/raetsch/suppl/arts">http://www.fml.tuebingen.mpg.de/raetsch/suppl/arts</a></p>


<li><b>{% trans "Splice site prediction (several organisms)" %}</b><br>
<a href="ftp://ftp.tuebingen.mpg.de/fml/behr/splicing">ftp://ftp.tuebingen.mpg.de/fml/behr/splicing</a></p>


<li><b>{% trans "Alternative splicing" %}</b><br>
<a href="http://www.fml.tuebingen.mpg.de/raetsch/suppl/RASE">http://www.fml.tuebingen.mpg.de/raetsch/suppl/RASE</a></p>


<li><b>{% trans "UCI" %}</b><br>
<a href="http://archive.ics.uci.edu/ml/">http://archive.ics.uci.edu/ml/</a></p>


<li><b>{% trans "libsvm datasets" %}</b><br>
<a href="http://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/">http://www.csie.ntu.edu.tw/~cjlin/libsvmtools/datasets/</a></p>


<li><b>{% trans "MKL interpretable datasets" %}</b><br>
<a href="http://sonnenburgs.de/soeren/projects/mkl_splice/">http://sonnenburgs.de/soeren/projects/mkl_splice/</a></p>


<li><b>{% trans "IDA dataset repository" %}</b><br>
<a href="http://ida.first.fraunhofer.de/projects/bench/">http://ida.first.fraunhofer.de/projects/bench/</a></p>


<li><b>{% trans "Delve datasets" %}</b><br>
<a href="http://www.cs.toronto.edu/~delve/data/datasets.html">http://www.cs.toronto.edu/~delve/data/datasets.html</a></p>


<li><b>{% trans "Caltech 101" %}</b><br>
<a href="http://www.vision.caltech.edu/Image_Datasets/Caltech101/Caltech101.html">http://www.vision.caltech.edu/Image_Datasets/Caltech101/Caltech101.html</a></p>


<li><b>{% trans "Caltech 256" %}</b><br>
<a href="http://www.vision.caltech.edu/html-files/archive.html">http://www.vision.caltech.edu/html-files/archive.html</a></p>


<li><b>{% trans "Datasets from cervisia" %}</b><br>
<a href="http://cervisia.org/machine_learning_data.php">http://cervisia.org/machine_learning_data.php</a></p>


<li><b>{% trans "KDD datasets" %}</b><br>
<a href="http://www.kdnuggets.com/datasets/index.html">http://www.kdnuggets.com/datasets/index.html</a></p>


<li><b>mlcomp.org</b><br>
<p>{% trans "MLcomp is a collaborative tool designed for Machine Learning practitioners and researchers. You provide the data and algorithms, we do the computation" %}.</p>
<a href="http://mlcomp.org">http://mlcomp.org</a></p>


<li><b>UCSD MKL data repository</b><br>
<p>
<p>{% trans "The data repository, open to the entire community, is intended to support and stimulate research efforts on multiple kernel learning. It can be found at" %}:</p>
<a href="http://mkl.ucsd.edu/">http://mkl.ucsd.edu</a></p>
<p>{% trans "The repository mainly consists of &quot;heterogeneous&quot; data sets. It provides kernels as well as the underlying data, to allow comparing different multiple kernel learning algorithms, as well as alternative approaches to learning from heterogeneous data" %}.</p>
</p>

</div>
{% endblock %}
