{% load i18n %}
{% load markup %}
{% load comments %}

<div>
{% if user.is_authenticated %}
	<h2>{% trans "Leave a comment" %}</h2>
	<form action="{% comment_form_target %}" method="POST">
		<dl>
			<dt><textarea id="id_comment" rows="10" cols="40" name="comment">{{ comment }}</textarea></dt>
			<dd><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
			<dt><input type="submit" name="preview" class="submit-post" value="{% trans "Preview" %}" /> <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" /></dt>
		</dl>
		<span style="display:none">
			<label for="id_honeypot">{% trans "If you enter anything in this field your comment will be treated as spam" %}:</label>
			<input type="text" name="honeypot" id="id_honeypot" />
		</span>
		{{ form.content_type }}
		{{ form.object_pk }}
		{{ form.timestamp }}
		{{ form.security_hash }}
		{% if next %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% else %}
		<input type="hidden" name="next" value="{{ object.get_absolute_url }}" />
		{% endif %}
		<input type="hidden" name="name" id="id_name" maxlength="50" value="{{ user.username }}" />
	</form>
{% else %}
	<p>{% trans "To post a comment, please" %} <a href="{% url auth_login %}?next={{ object.get_absolute_url }}">login</a>.</p>
{% endif %}
</div>
