{% load i18n %}
{% load markup %}
{% load comments %}

<div class="widget">
<div class="head" id="comments">{% trans "Comments" %}</div>
{% if comment_list %}
{% for comment in comment_list %}
<div class="title" id="c{{ comment.id }}">{% trans "on" %} {{ comment.submit_date|date:"Y-m-d H:i" }} {% trans "by" %} {{ comment.user_name }} </div>
<div class="data">{{ comment.comment|markdown }}</div>
{% endfor %}
{% else %}
<div class="title">{% trans "No one has posted any comments yet. Perhaps you would like to be the first?" %}</div>
{% endif %}
</div>
