{% extends "repository/base.html" %}
{% load i18n %}
{% load markup %}
{% load show_stars %}
{% load repository_filters %}
{% load paginator %}

{% block title %}{% trans "Repository" %} :: {{ object.klass }} :: {{ object.name }}{% endblock %}
{% block breadcrumbs %}<a href="{% url repository_index %}">{% trans "Repository" %}</a> / <a href="{% url data_index %}">{% trans "Data" %}</a> / {% trans "View" %} /
{{object.name }}
{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/media/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript">
    var hover_timer = null;
    var hover_delay = 500;

    function hover_del_timer() {
        if (hover_timer) {
            clearTimeout(hover_timer);
            hover_timer = null;
        }
    }

    function hover_set_timer(elem) {
        hover_del_timer();
        hover_timer = setTimeout(function() {
            $(elem).css('visibility', 'visible');
        }, hover_delay);
    }


    $(function() {
        $('#delete').click(function() {
            if (confirm('{% trans "Do you really want to delete this version?" %}')) {
                return true;
            } else {
                return false;
            }
        });

        {% if not object.is_public and can_activate %}
        $('#activate').click(function() {
            if (confirm('{% trans "WARNING: Activating will make this item current and public! Do you really want that?" %}')) {
                return true;
            } else {
                return false;
            }
        });
        {% endif %}

        $('#rating').hover(function() { hover_set_timer('#rating-hide'); });
        $('#rating').mouseleave(function() { hover_del_timer(); });
        $('#rating-hide-close').click(function() {
            $('#rating-hide').css('visibility', 'hidden');
            return false; // otherwise browser would append '#' to url
        });

        var $tabs = $('#tabs').tabs();
		{% if show_comments %}
		$tabs.tabs('select', '#tabs-comments');
		{% endif %}

        $("a.download-convert-link").click(function() {
           $("p.download-note").fadeIn('slow');
        });
    });
</script>
{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "View" %} {{ object.name }} 
    ({% if object.is_public %}{% trans "public" %}{% else %}{% trans "private" %}{% endif %})
</h2>
<div class="in">
    <!-- Title bar -->
    <div id="info">
		{{ object.pub_date|date:"Y-m-d H:i" }}
        {% trans "by" %} {{ object.user.username }}
        | {% trans "Version" %} {{ object.version }}
        | <span id="rating">
            <a href="#">{% trans "Rating" %}</a> {% show_stars current.rating_avg of 5 round to half %}
        </span>
        <div id="rating-hide">{% include "repository/rating_hide.html" %}</div>
    </div>

    <!-- Actions -->
    <div id="actions">
		<a{% if can_activate %} id="activate" href="{% url data_activate object.pk %}" title="{% trans "Make this version current and public" %}"{% else %} id="disabled"{% endif %}>{% trans "ACTIVATE" %}</a>
		<a{% if can_edit %} href="{% url data_edit object.pk %}" title="{% trans "Edit this version to create a new current one" %}"{% else %} id="disabled"{% endif %}>{% trans "EDIT" %}</a>
		<a href="{% url data_fork object.pk %}" title="{% trans "Fork this version to create a new one based on the current one" %}">{% trans "FORK" %}</a>
        <a{% if can_delete %} id="delete" href="{% url data_delete  object.pk%}" title="{% trans "Delete this version" %}"{% else %} id="disabled"{% endif %}>{% trans "DELETE" %}</a>
        {% if dependent_entries_exist %}
        <br>
        <p class="action-note">Object is <b>LOCKED</b> because others depend on it.<br> Fork to change.</p>
        {% endif %}
    </div>
	<div id="itemview-separator"></div>
    {% include "repository/conversion_failed.html" %}

    <div id="tabs">
        <ul class="clearfix">
            <li><a title="{% trans "Primary attributes of item + download" %}" href="#tabs-summary">{% trans "Summary" %}</a></li>
            <li><a title="{% trans "Extracted/parsed/visualised data from the file" %}" href="#tabs-data">{% trans "Data" %}</a></li>
            <li><a title="{% trans "Other attributes of item" %}" href="#tabs-more">{% trans "More Info" %}</a></li>
            <li><a title="{% trans "History of item" %}" href="#tabs-history">{% trans "History" %}</a></li>
            <li><a title="{% trans "Comments on item" %}" href="#tabs-comments">{% trans "Comments" %}</a></li>
            <li><a title="{% trans "Statistics about item" %}" href="#tabs-stats">{% trans "Stats" %}</a></li>
	    <li id="tab-tabs-method"><a title="{% trans "Tasks defined on dataset" %}" href="#tabs-method">{% trans "Tasks" %}</a></li>
        </ul>

        <div id="tabs-summary">
            <dl id="news">
                <dt>{% trans "Summary" %}</dt>
                <dd>{{ object.summary|edit_if_empty|markdown:"safe" }}</dd>
                <dt>{% trans "License" %}</dt>
                <dd><a href="{{ object.license.url }}">{{ object.license.name }}</a></dd>
                <dt>{% trans "Tags" %}</dt>
                <dd>{% for tag in object.get_tags %}{% if tag %}<a href="{% url data_tags_view tag.strip %}">{{ tag }}</a> {% endif %}{% endfor %}</dd>
                <dt>{% trans "Attribute Types" %}</a></dt>
                <dd>
				{{ object.get_attribute_types }}
				</dd>
                <dt>{% trans "Download" %}</a></dt>
                <dd>
                	{% if object.num_instances > 0 and object.num_attributes > 0 %}
                    {% trans "# Instances" %}: {{ object.num_instances }} / {% trans "# Attributes" %}: {{ object.num_attributes }}<br />
                    {% endif %}
					{% if object.slug %}
                    {% if object.has_h5 %}
                    <a href="{% url data_download object.slug %}">{% trans "HDF5" %} ({{ object.file.size|filesizeformat }})</a>
                    <a href="{% url data_download_xml object.slug %}" class="download-convert-link">{% trans "XML" %}</a>
                    <a{% if object.can_convert_to_csv %} class="download-convert-link" href="{% url data_download_csv object.slug %}"{% endif %}>{% trans "CSV" %}</a>
                    <a{% if object.can_convert_to_arff %} class="download-convert-link" href="{% url data_download_arff object.slug %}"{% endif %}>{% trans "ARFF" %}</a>
                    <a{% if object.can_convert_to_libsvm %} class="download-convert-link" href="{% url data_download_libsvm object.slug %}"{% endif %}>{% trans "LibSVM" %}</a>
                    <a{% if object.can_convert_to_matlab %} class="download-convert-link" href="{% url data_download_matlab object.slug %}"{% endif %}>{% trans "Matlab" %}</a>
                    <a{% if object.can_convert_to_octave %} class="download-convert-link" href="{% url data_download_octave object.slug %}"{% endif %}>{% trans "Octave" %}</a>
					{% comment %}
                    <a{% if object.can_convert_to_rdata %} class="download-convert-link" href="{% url data_download_rdata object.slug %}"{% endif %}>{% trans "RData" %}</a>
					{% endcomment %}
					{% else %}
                    <a href="{% url data_download object.slug %}">{{ object.format }} ({{ object.file.size|filesizeformat }})</a>
					{% endif %}
					{% endif %}
                    {% if object.file.size > download_warning_limit %}
                    <p class="download-note">{% trans "Files are converted on demand and the process can take up to a minute. Please wait until download begins." %}</p>
                    {% endif %}
                </dd>
            </dl>
            <div>
                {% trans "Completeness of this item currently" %}: {{ object.completeness }}%.<br />
				{% if can_edit %}{% trans "You can" %} <a href="{% url data_edit object.pk %}">{% trans "edit this item" %}</a> {% trans "to add more meta information and make use of the site's premium features" %}.{% endif %}
            </div>
        </div><!-- /tabs-summary -->

        <div id="tabs-data"><dl id="news">
            <dt>{% trans "Original Data Format" %}</dt>
            <dd>{{ object.format }}</dd>
            <dt>{% trans "Name" %}</dt>
            <dd>{{ extract.name }}</dd>
            <dt>{% trans "Version" %} mldata</dt>
            <dd>{{ extract.mldata }}</dd>
            <dt>{% trans "Comment" %}</dt>
            <dd>{{ extract.comment|markdown:"safe" }}</dd>
            <dt>{% trans "Names" %}</dt>
            <dd>{% for name in extract.names %}{{ name }},{% endfor %}</dd>
            {% if extract.types %}
                <dt>{% trans "Types" %}</dt>
                <dd><ol>
                    {% for type in extract.types %}
                        <li>{{ type}}</li>
                    {% endfor %}
                </ol></dd>
            {% endif %}
            <dt>{% trans "Data (first 10 data points)" %}</dt>
            <dd><ol>
            <table border="1"> 
            {% if extract.names_cut %}
                <tr>    
                {% for d in extract.names_cut %}
                    <th>{{d}}</th>        
                {% endfor %}
                </tr>
            {% endif %}    
            {% for d in extract.data %}
                <tr>          
		        {% for c in d %}
                    <td>{{c}}</td>
                    <!--            <li>{{ d|join:', ' }}</li> -->
                {% endfor %}
                </tr>    
            {% endfor %}
        </table>
                </ol></dd>
        </dl></div><!-- /tabs-data -->

        <div id="tabs-more"><dl id="news">
            <dt>{% trans "Description" %}</dt>
            <dd>{{ object.description|edit_if_empty|markdown:"safe" }}</dd>
            <dt>{% trans "URLs" %}</dt>
            <dd>{{ object.urls|edit_if_empty|urlize }}</dd>
            <dt>{% trans "Publications" %}</dt>
            <dd><ul>{% for p in object.publications.all %}
                    <li>{{ p.content|edit_if_empty|markdown:"safe" }}</li>
                {% endfor %}</ul></dd>
            <dt>{% trans "Data Source" %}</dt>
            <dd>{{ object.source }}</dd>
            <dt>{% trans "Measurement Details" %}</dt>
            <dd>{{ object.measurement_details|markdown:"safe" }}</dd>
            <dt>{% trans "Usage Scenario" %}</dt>
            <dd>{{ object.usage_scenario|markdown:"safe" }}</dd>
        </dl></div><!-- /tabs-more -->

        <div id="tabs-history">
            {% if versions.has_previous %}<a href="?page={{ versions.previous_page_number }}#contents-history">&laquo; {% trans "prev" %}</a>{% endif %}
            <dl id="news">
                {% for v in versions.object_list %}
                    <dt{% if v.is_current %} class="active"{% endif %}>
                        <a href="{{v.get_absolute_slugurl }}{{ v.version }}">revision {{ v.version }}</a>
                    </dt>
                    <dd>by {{ v.user }} on {{ v.pub_date|date:"Y-m-d H:i" }}</dd>
		{% endfor %}</dl>
		{% if versions.has_next %}
                    <a href="?page={{ versions.next_page_number }}#contents-history">{% trans "next" %} &raquo;</a>
                {% endif %}
        </div><!-- /tabs-history -->

        <div id="tabs-comments">
            {% load comments %}
            {% get_comment_list for repository.data current.id as comment_list %}
            {% get_comment_form for repository.data current.id as form %}
            {% include "comments/list.html" %}
            {% include "comments/form.html" %}
        </div><!-- /tabs-comments -->

        <div id="tabs-stats">
            <p>This item was downloaded {{ current.downloads }} times and viewed {{ current.hits }} times.</p>
        </div><!-- /tabs-stats -->

	<div id="tabs-method">
		{% if page.object_list %}
		<h3>Tasks defined on dataset {{ object.name }}</h3>
		{% paginator %}
		<ul>
			{% for object in page.object_list %}
			<li>
			<a title="{{ object.summary }}" href="{{ object.get_absolute_slugurl }}">{{ object.name }}</a> {{ object.pub_date|date:"Y-m-d H:i" }}
			</li>
			{% endfor %}
		</ul>
		{% paginator %}
		{% else %}
		<h3>No Tasks yet on dataset {{ object.name }}</h3>
		{% endif %}	
		<a href="{% url task_new_from_data cur_data=object.slug %}">
		{% trans "Submit a new Task for this Data item" %}</a>
	</div><!-- /tabs-method -->

    </div><!-- /tabs -->

</div><!-- /in -->

{% endblock %}
