{% extends "repository/base.html" %}
{% load i18n %}
{% load markup %}
{% load show_stars %}
{% load repository_filters %}

{% block title %}{% trans "Repository" %} :: {{ klass }} :: {{ my_or_archive }}{% endblock %}
{% block breadcrumbs %}<a href="{% url repository_index %}">{% trans "Repository" %}</a> / <a href="{% url data_index %}">{% trans "Data" %}</a> / {{ my_or_archive }}{% endblock %}

{% block content %}
<h2 class="title-01">{{ my_or_archive }} {{ klass }}</h2>
<div class="in">
{% if searcherror %}
<div class="error">{% trans "Your search did not yield any results, showing normal index of items:" %}</div>
{% endif%}
{% if page.object_list %}
	{% include "repository/paginator_index.html" %}
	<ul class="index_list">
	{% for object in page.object_list %}
		<li>
		<h2 class="title-03 gallery">
			<a title="{{ object.summary }}" href="{{ object.get_absolute_slugurl }}">{{ object.name }}</a> 
			-
			<span class="index_plain">{{ object.pub_date|date:"M j, Y, H:i" }} CET</span>
			<span class="index_plain_right">
			{{object.hits }} views, {{ object.downloads }} downloads
			</span>
			<br \>
			<span class="index_plain">{% trans "Submitted by" %} {{ object.user.username }}</span>
			<span class="index_plain_right">{% trans "Rating" %} {% show_stars object.rating_avg of 5 round to half %}</span>
		</h2>
		<br \>

        <div id="tabs-summary">
		<div class=index_bg">
            <dl id="news">
                <dt>{% trans "Summary:" %}
				<span class="index_plain">{{ object.summary|edit_if_empty }}</span>
				</dt>
				{% if object.num_instances %}<dt>{% trans "Data Shape:" %}
				<span class="index_plain">{{ object.num_attributes }} attributes, {{ object.num_instances }} instances
				({{ object.get_attribute_types }})
				</dt>
				{% endif %}
				<dt>{% trans "License:" %}
				<span class="index_plain"><a href="{{ object.license.url }}">{{ object.license.name }}</a></span>
				</dt>
				{% if tags %}<dt>{% trans "Tags:" %}
				<span class="index_plain">{% for tag in tags %}{% if tag %}<a href="{% url repository.views.data.tags_view tag.strip %}">{{ tag }}</a> {% endif %}{% endfor %}</span>
				</dt>
				{% endif %}
				<dt> {% trans "Tasks / Solutions / Challenges:" %}
				<span class="index_plain">
				{{ object.get_related_tasks.count }} tasks, 
				{{ object.get_related_solutions.count }} solutions, 
				{{ object.get_related_challenges.count }} challenges
				</span></dt>
				<dt>{% trans "Download:" %}
				<span class="index_plain">
                    {% if object.has_h5 %}
                    <a href="{% url repository.views.data.download object.slug %}">{% trans "HDF5" %} ({{ object.file.size|filesizeformat }})</a>
                    <a href="{% url repository.views.data.download_xml object.slug %}">{% trans "XML" %}</a>
                    <a{% if object.can_convert_to_csv %} href="{% url repository.views.data.download_csv object.slug %}"{% endif %}>{% trans "CSV" %}</a>
                    <a{% if object.can_convert_to_arff %} href="{% url repository.views.data.download_arff object.slug %}"{% endif %}>{% trans "ARFF" %}</a>
                    <a{% if object.can_convert_to_libsvm %} href="{% url repository.views.data.download_libsvm object.slug %}"{% endif %}>{% trans "LibSVM" %}</a>
                    <a{% if object.can_convert_to_matlab %} href="{% url repository.views.data.download_matlab object.slug %}"{% endif %}>{% trans "Matlab" %}</a>
                    <a{% if object.can_convert_to_octave %} href="{% url repository.views.data.download_octave object.slug %}"{% endif %}>{% trans "Octave" %}</a>
					{% else %}
                    <a href="{% url repository.views.data.download object.slug %}">{{ object.format }} ({{ object.file.size|filesizeformat }})</a>
					{% endif %}
				</span>
                </dt>
            </dl>
        </div><!-- /tabs-summary -->
	</div>
	{% endfor %}
	</ul>
	{% include "repository/paginator_index.html" %}
{% else %}
	<p>{% trans "Sorry, no items available" %}.</p>
{% endif %}

{% if unapproved %}
	<br /><hr />
	<h2>{% trans "My Unapproved" %} {{ klass }}</h2>
	<ul class="index_list">
	{% for object in unapproved %}
		<li>
		  <h2 class="title-02"><a title="{{ object.summary }}" href="{{ object.get_absolute_slugurl }}">{{ object.name }}</a></h2>
			{% trans "by" %} {{ object.user.username }}
			<span id="rating">
				<a href="#">{% trans "Rating" %}</a> {% show_stars object.rating_avg of 5 round to half %}
			</span>
			{% if object.summary %}<br />{% trans "Summary" %}: {{ object.summary }}{% endif %}
			{% if object.file %}<br />{% trans "File size" %}: {{ object.file.size|filesizeformat }}{% endif %}
			{% if object.score %}<br />{% trans "File size" %}: {{ object.score.size|filesizeformat }}{% endif %}
			{% if object.num_instances %}<br />{% trans "# Instances" %}: {{ object.num_instances }}, {% trans "# Attributes" %}: {{ object.num_attributes }}{% endif %}
		</li>
	{% endfor %}
	</ul>
{% endif %}
</div><!-- /in -->
{% endblock %}
