{% extends "repository/base.html" %}
{% load i18n %}

{% block title %}{% trans "Repository" %} :: {{ klass }} :: {% trans "New" %}{% endblock %}
{% block breadcrumbs %}<a href="{% url repository_index %}">{% trans "Repository" %}</a> / {{ klass }} / {% trans "New" %}{% endblock %}

{% block extrahead %}
{% include "autocomplete.html" %}
<script type="text/javascript" src="/media/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript" src="/media/js/jquery/jquery.progressbar.min.js"></script>
<script type="text/javascript">

$(function() {
	remove_error = function(errors) {
		$.each(errors, function (idx, val) {
			$('#error_' + val).remove();
		});
	}
	append_error = function(id) {
		$('label[for|=id_' + id + ']').append(
			'<span id="error_' + id + '" class="error">' + '{% trans "REQUIRED" %}' + '</span>');
		return true;
	}

	$('#tabs').tabs();

	validate = function () {
		error = false;
		remove_error(['name', 'license', 'file']);

		if (!$('#id_name').val()) error = append_error('name');
		if ($('#id_license').val() < 1) error = append_error('license');
		if (!$('#id_file').val()) error = append_error('file');

		return !error;
	}

	$("#uploadprogressbar").progressBar();
	$('#form-new').submit(function(){
		if ($.data(this, 'submitted')) return false; // prevent multiple submits

		if (!validate()) return false;

		if (!$('#id_keep_private').is(':checked')) {
			res = window.confirm('{% trans "WARNING: You are about to make this item public, it cannot be made private again!" %}');
			if (!res) { return false; }
		}

		var freq = 1000; // freqency of update in ms
		var uuid = '{{ uuid }}'; // id for this upload so we can fetch progress info.
		var progress_url = '{% url repository.views.upload_progress %}'; // ajax view serving progress info
		// Append X-Progress-ID uuid form action
		this.action += (this.action.indexOf('?') == -1 ? '?' : '&') + 'X-Progress-ID=' + uuid;

		$("#uploadprogressbar").fadeIn();
		function update_progress_info() {
			$.getJSON(progress_url, {'X-Progress-ID': uuid}, function(data, status){
				if (data) {
					var l = parseInt(data.length);
					var tot = parseInt(data.uploaded);
					var perc = (tot / l) * (100.00);
					$("#uploadprogressbar").progressBar(perc);
				}
				window.setTimeout(update_progress_info, freq);
			});
		};
		window.setTimeout(update_progress_info, freq);

		$.data(this, 'submitted', true); // mark form as submitted.
	});
{% else %}
	$('#form-new').submit(function() {
		if (!$('#id_keep_private').is(':checked')) {
			return window.confirm('{% trans "WARNING: You are about to make this item public, it cannot be made private again!" %}');
		}
	});
});
</script>
{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Submit new" %} {{ klass }}</h2>
<div class="in">
	{% trans "Supply only vital information under the Summary tab. You can fill in additional information under More Info or later on by editing." %}
	{% trans "Please note that the Data file cannot be changed, you would have to create a new Data item." %}

	<form id="form-new" action="{{ url_new }}" method="post" enctype="multipart/form-data">
	{% if form.errors %}<p class="error">{% trans "There were some errors, please see below" %}.</td>{% endif %}
		<div id="tabs">
			<ul class="clearfix">
				<li><a title="{% trans "Primary attributes of item + download" %}" href="#tabs-summary">{% trans "Summary" %}</a></li>
				<li><a title="{% trans "Other attributes of item" %}" href="#tabs-more">{% trans "More Info" %}</a></li>
			</ul>


			<div id="tabs-summary"><dl>
				<dt><label for="id_name">{% trans "Name" %}</label> * {{ form.name.errors }}</dt>
				<dd>{{ form.name }}<br />
				    <span class="helptext">{% trans "Come up with good name. <b>IT CANNOT BE CHANGED LATER ON!</b> The name will also be used for creating the 'slug', that is, the readable id for this item." %}</span></dd>

				<dt><label for="id_summary">{% trans "Summary" %}</label> {{ form.summary.errors }}</dt>
				<dd>{{ form.summary }}<br />
            <span class="helptext">{% trans "One-line summary of your data set" %}</span></dd>

				<dt><label for="id_tags">{% trans "Tags" %}</label> {{ form.tags.errors }}</dt>
				<dd>{{ form.tags }}<br />
				    <span class="helptext">{% trans "Space separated tags for you data set (see tag cloud on the right)." %}</span></dd>

				<dt><label for="id_license">{% trans "License" %}</label> * {{ form.license.errors }}</dt>
				<dd>{{ form.license }}<br />
				    <span class="helptext">Choose a license for your data set. 
            (<a target="_blank" href="{% url about_license %}">{% trans "more info" %}</a>)</span></dd>

				<dt><label for="id_file">{% trans "Data file" %}</label> * {{ form.file.errors }}</dt>
				<dd>{{ form.file }}<br />
				    <span class="helptext">Data file must be smaller than <b>{{ upload_limit }}!</b> (<a href="{% url about_hdf5 %}#fileformats">{% trans "parsed formats" %}</a>)</span></dd>

			</dl></div><!-- /tabs-summary -->

			<div id="tabs-more"><dl>
				<dt><label for="id_description">{% trans "Description" %}</label> {{ form.description.errors }}</dt>
				<dd>{{ form.description }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_urls">{% trans "URLs" %}</label> {{ form.urls.errors }}</dt>
				<dd>{{ form.urls }}</dd>
				<dt><label for="id_publications">{% trans "Publications" %}</label> {{ form.publications.errors }}</dt>
				<dd>{{ form.publications }}</dd>
				<dt><label for="id_source">{% trans "Data Source" %}</label> {{ form.source.errors }}</dt>
				<dd>{{ form.source }}</dd>
				<dt><label for="id_measurement_details">{% trans "Measurement details" %}</label> {{ form.measurement_details.errors }}</dt>
				<dd>{{ form.measurement_details }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
				<dt><label for="id_usage_scenario">{% trans "Usage scenario" %}</label> {{ form.usage_scenario.errors }}</dt>
				<dd>{{ form.usage_scenario }}<br /><span class="helptext">{% trans 'You may use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a> here, but <b>raw HTML will be removed</b>' %}.</span></dd>
			</dl></div><!-- /tabs-more -->
		</div>

		<input type="submit" name="post" class="submit" value="{% trans "Submit" %}" /> {{ form.keep_private }} {% trans "Keep private" %}
	</form>

	<br />
	<span class="progressbar" id="uploadprogressbar">0%</span>
</div><!-- /in -->
{% endblock %}
