{% extends "repository/base.html" %}
{% load i18n %}
{% load markup %}
{% load show_stars %}
{% load repository_filters %}

{% block title %}{% trans "Repository" %} :: {{ object.klass }} :: {{ object.name }}{% endblock %}
{% block breadcrumbs %}<a href="{% url repository_index %}">{% trans "Repository" %}</a> / {% trans "View" %} /
{{object.name }}
{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/media/js/jquery/jquery-ui.min.js"></script>
<script type="text/javascript">
var hover_timer = null;
var hover_delay = 500;

function hover_del_timer() {
	if (hover_timer) {
		clearTimeout(hover_timer);
		hover_timer = null;
	}
}

function hover_set_timer(elem) {
	hover_del_timer();
	hover_timer = setTimeout(function() {
		$(elem).css('visibility', 'visible');
	}, hover_delay);
}


$(function() {
	$('#delete').click(function() {
		if (confirm('{% trans "Do you really want to delete this version?" %}')) {
			return true;
		} else {
			return false;
		}
	});

{% if not object.is_public and can_activate %}
	$('#activate').click(function() {
		if (confirm('{% trans "WARNING: Activating will make this item current and public! Do you really want that?" %}')) {
			return true;
		} else {
			return false;
		}
	});
{% endif %}

	$('#rating').hover(function() { hover_set_timer('#rating-hide'); });
	$('#rating').mouseleave(function() { hover_del_timer(); });
	$('#rating-hide-close').click(function() {
		$('#rating-hide').css('visibility', 'hidden');
		return false; // otherwise browser would append '#' to url
	});

	$('#tabs').tabs();
});
</script>
{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "View" %} {{ object.name }} ({% if object.is_public %}{% trans "public" %}{% else %}{% trans "private" %}{% endif %})</h2>
<div class="in">
	<div id="info">
		{{ object.pub_date|date:"Y-m-d H:i" }} {% trans "by" %} {{ object.user.username }} | {% trans "Version" %} {{ object.version }} | <span id="rating"><a href="#">{% trans "Rating" %}</a> {% show_stars current.rating_avg of 5 round to half %}</span>
		<div id="rating-hide">{% include "repository/rating_hide.html" %}</div>
	</div>

	<div id="actions">
		{% if can_activate %}<a id="activate" href="{{ object.url_activate }}" title="{% trans "Make this version current and public" %}">{% trans "ACTIVATE" %}</a>{% endif %}
		<a href="{{ object.url_edit }}" title="{% trans "Edit this version to create a new current one" %}">{% trans "EDIT" %}</a>
		{% if can_delete %}<a id="delete" href="{{ object.url_delete }}" title="{% trans "Delete this version" %}">{% trans "DELETE" %}</a>{% endif %}
	</div><br style="clear:both" />

{% include "repository/conversion_failed.html" %}

	<div id="tabs">
		<ul class="clearfix">
			<li><a title="{% trans "Primary attributes of item + download" %}" href="#tabs-summary">{% trans "Summary" %}</a></li>
			<li><a title="{% trans "Extracted/parsed/visualised data from the file" %}" href="#tabs-data">{% trans "Data" %}</a></li>
			<li><a title="{% trans "Other attributes of item" %}" href="#tabs-more">{% trans "More Info" %}</a></li>
			<li><a title="{% trans "History of item" %}" href="#tabs-history">{% trans "History" %}</a></li>
			<li><a title="{% trans "Comments on item" %}" href="#tabs-comments">{% trans "Comments" %}</a></li>
			<li><a title="{% trans "Statistics about item" %}" href="#tabs-stats">{% trans "Stats" %}</a></li>
		</ul>

		<div id="tabs-summary"><dl id="news">
			<dt>{% trans "Summary" %}</dt>
			<dd>{{ object.summary|edit_if_empty }}</dd>
			<dt>{% trans "License" %}</dt>
			<dd><a href="{{ object.license.url }}">{{ object.license.name }}</a></dd>
			<dt>{% trans "Tags" %}</dt>
			<dd>{% for tag in object.tags %}{% if tag %}<a href="{% url repository.views.tags_data_view tag.strip %}">{{ tag }}</a> {% endif %}{% endfor %}</dd>
			<dt>{% trans "Related Task(s)" %}</dt>
			<dd>{% for t in related %}<a href="{% url repository.views.task_view_slug object.slug.text t.slug.text %}">{{ t.name }}</a> {% endfor %}</dd>
			<dt>{% trans "Download" %}</a></dd>
			<dd>
				{% trans "# Instances" %}: {{ object.num_instances }} / {% trans "# Attributes" %}: {{ object.num_attributes }}<br />
				{% if object.has_h5 %}
					<a href="{% url repository.views.data_download object.slug %}">{% trans "HDF5" %} ({{ object.file.size|filesizeformat }})</a>
					<a href="{% url repository.views.data_download_xml object.slug %}">{% trans "XML" %}</a>
					<a href="{% url repository.views.data_download_csv object.slug %}">{% trans "CSV" %}</a>
					<a href="{% url repository.views.data_download_arff object.slug %}">{% trans "ARFF" %}</a>
					<a href="{% url repository.views.data_download_libsvm object.slug %}">{% trans "LibSVM" %}</a>
					<a href="{% url repository.views.data_download_matlab object.slug %}">{% trans "Matlab" %}</a>
					<a href="{% url repository.views.data_download_octave object.slug %}">{% trans "Octave" %}</a>
				{% else %}
					<a href="{% url repository.views.data_download object.slug %}">{{ object.format }} ({{ object.file.size|filesizeformat }})</a>
				{% endif %}
			</dd>
		</dl>
		<div>
			{% trans "Completeness of this item currently" %}: {{ object.completeness }}%.<br />
			{% trans "You can" %} <a href="{{ object.url_edit }}">{% trans "edit this item" %}</a> {% trans "to add more meta information and make use of the site's premium features" %}.
		</div>
</div><!-- /tabs-summary -->

		<div id="tabs-data"><dl id="news">
			<dt>{% trans "Original Data Format" %}</dt>
			<dd>{{ object.format }}</dd>
			<dt>{% trans "Name" %}</dt>
			<dd>{{ extract.name }}</dd>
			<dt>{% trans "Version" %} mldata</dt>
			<dd>{{ extract.mldata }}</dd>
			<dt>{% trans "Comment" %}</dt>
			<dd>{{ extract.comment|markdown }}</dd>
			<dt>{% trans "Names" %}</dt>
			<dd>{% for name in extract.names %}
				{{ name }},
			{% endfor %}</dd>
{% if extract.types %}
			<dt>{% trans "Types" %}</dt>
			<dd><ol>
			{% for type in extract.types %}
				<li>{{ type}}</li>
			{% endfor %}
			</ol></dd>
{% endif %}
			<dt>{% trans "Data (first 10 data points)" %}</dt>
			<dd><ol>
			{% for d in extract.data %}
				<li>{{ d|join:', ' }}</li>
			{% endfor %}
			</ol></dd>
		</dl></div><!-- /tabs-data -->

		<div id="tabs-more"><dl id="news">
			<dt>{% trans "Description" %}</dt>
			<dd>{{ object.description|edit_if_empty }}</dd>
			<dt>{% trans "URLs" %}</dt>
			<dd>{{ object.urls|edit_if_empty }}</dd>
			<dt>{% trans "Publications" %}</dt>
			<dd><ul>{% for p in object.publications.all %}
				<li>{{ p.content|markdown|edit_if_empty }}</li>
			{% endfor %}</ul></dd>
			<dt>{% trans "Data Source" %}</dt>
			<dd>{{ object.source }}</dd>
			<dt>{% trans "Measurement Details" %}</dt>
			<dd>{{ object.measurement_details|markdown }}</dd>
			<dt>{% trans "Usage Scenario" %}</dt>
			<dd>{{ object.usage_scenario|markdown }}</dd>
		</dl></div><!-- /tabs-more -->

		<div id="tabs-history">
			{% if object.versions.has_previous %}<a href="?page={{ object.versions.previous_page_number }}#contents-history">&laquo; {% trans "prev" %}</a>{% endif %}
			<dl id="news">{% for v in object.versions.object_list %}
				
				<dt{% if v.is_current %} class="active"{% endif %}>
          <a href="{{v.get_absolute_slugurl }}{{ v.version }}">revision {{ v.version }}</a>
        </dt>
				<dd>by {{ v.user }} on {{ v.pub_date|date:"Y-m-d H:i" }}</dd>
			{% endfor %}</dl>
			{% if object.versions.has_next %}<a href="?page={{ object.versions.next_page_number }}#contents-history">{% trans "next" %} &raquo;</a>{% endif %}
		</div><!-- /tabs-history -->

		<div id="tabs-comments">
{% load comments %}
{% get_comment_list for repository.data current.id as comment_list %}
{% get_comment_form for repository.data current.id as form %}
{% include "comments/list.html" %}
{% include "comments/form.html" %}
		</div><!-- /tabs-comments -->

		<div id="tabs-stats">
			<p>This item was downloaded {{ current.downloads }} times and viewed {{ current.hits }} times.</p>
		</div><!-- /tabs-stats -->
	</div><!-- /tabs -->

</div><!-- /in -->

{% endblock %}
