{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration" %}{% endblock %}
{% block breadcrumbs %}{% trans "Accounts" %} / {% trans "Activation" %}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Activation" %}</h2>
<div class="in">
	{% if account %}
	<p>{% trans "Thanks for signing up! You can start contributing when you" %} <a href="{% url user_signin %}">{% trans "sign in" %}</a>!</p>
	{% else %}
	<p>{% trans "Either your activation link was incorrect, or the activation key for your account has expired; activation keys are only valid for" %} {{ expiration_days }}{% trans "d after registration" %}.</p>
	{% endif %}
</div><!-- /in -->
{% endblock %}

{% block aside %}
<h4 class="title-03">{% trans "Contents" %}</h4>
<div class="in">
{% trans "You might be activated" %}!
</div><!-- /in -->
{% endblock %}


