{% extends "base-1col.html" %}
{% load i18n %}

{% block sectionid %}accounts{% endblock %}
{% block title %}{% trans "Password" %} :: {% trans "Reset" %}{% endblock %}
{% block billboard %}{% trans "Password" %} :: {% trans "Reset" %} :: {% trans "Sent" %}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Password Reset" %}</h2>
<div class="in">
<p>
{% trans "We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly." %}
</p>
</div>
{% endblock %}
