{% extends "base-2col.html" %}
{% load i18n %}

{% block title %}{% trans "Sign out" %}{% endblock %}
{% block breadcrumbs %}{% trans "Accounts" %} / {% trans "Sign out" %}{% endblock %}

{% block content %}
<h2 class="title-01">{% trans "Sign out" %}</h2>
<div class="in">
	<p>{% trans "You have been signed out. Thanks for stopping by" %}!</p>
</div><!-- /in -->
{% endblock %}

{% block aside %}
<h4 class="title-03">{% trans "Contents" %}</h4>
<div class="in">
	<p>{% trans "Maybe you would like to" %} <a href="{% url "django_authopenid.views.signin" %}">{% trans "sign in again" %}</a>?</p>
</div><!-- /in -->
{% endblock %}
